<template>
  <div>
    <MarketStats class="relative max-w-7xl mx-auto mb-5"></MarketStats>

    <MarketViews class="relative max-w-7xl mx-auto mb-5"></MarketViews>

    <MarketBasic v-if="props.view === 'basic' || props.view === 'limit'"></MarketBasic>
    <MarketAdvanced v-else-if="props.view === 'advanced'"></MarketAdvanced>
    <MarketSwap v-else></MarketSwap>
  </div>
</template>

<script setup lang="ts">
  const props = defineProps<{
    view: string
  }>()
</script>
