<template>
  <div class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
    <div class="px-10 py-6">
      <div v-for="key of Object.keys(auth).sort((a, b) => (a - b ? -1 : 1))" :key="key">
        <Authority :name="key" :authority="auth[key]" @on-edit-key-click="value => (selectedKey = value)" />
      </div>

      <div class="mt-16 mb-16 border-b-2 border-gray-700" />

      <div class="mb-1">
        <h2 class="text-2xl font-bold mb-1 mt-2" id="edit">Edit your authorities</h2>
        <p class="text-sm font-medium text-gray-500 dark:text-gray-300">
          You can activate multisign by editing your private keys. Private keys are generated from a password, right now your password is probably the master
          password that was given to you with your keys.
        </p>

        <div class="mt-6">
          <div>
            <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">Choose authority</h3>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-300"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam expedita rem praesentium! Neque reiciendis inventore est maiores voluptas.
              Quos ad explicabo esse placeat saepe nisi dolorem obcaecati nostrum tempore odit.</span
            >
          </div>
          <div class="mt-2 ml-4">
            <span class="mr-4 font-medium text-gray-900 dark:text-gray-100">Authority:</span>
            <select
              class="pl-3 pr-8 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
              name="selectkey"
              v-model="selectedKey"
            >
              <option value="posting">Posting</option>
              <option value="active">Active</option>
              <option value="owner">Owner</option>
            </select>
          </div>
        </div>

        <div class="mt-6">
          <div>
            <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">Choose accounts</h3>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-300"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam expedita rem praesentium! Neque reiciendis inventore est maiores voluptas.
              Quos ad explicabo esse placeat saepe nisi dolorem obcaecati nostrum tempore odit.</span
            >
          </div>
          <div class="mt-2 ml-4">
            <div class="inline-block w-24 mr-4 font-medium text-gray-500 dark:text-gray-300">Weight</div>
            <div class="inline-block font-medium text-gray-500 dark:text-gray-300">Account</div>
            <div v-for="(pair, index) of accountPair" :key="index">
              <div class="mt-2">
                <input
                  type="number"
                  class="w-24 mr-4 pl-3 pr-3 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
                  v-model="accountPair[index][1]"
                />
                <input
                  type="text"
                  class="w-[20rem] pl-3 pr-3 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
                  v-model="accountPair[index][0]"
                />
              </div>
            </div>

            <div class="mt-1">
              <button
                class="m-2 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto sm:text-sm"
                @click="accountPair.pop()"
              >
                -
              </button>
              <button
                class="m-2 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:w-auto sm:text-sm"
                @click="accountPair.push(['', 1])"
              >
                +
              </button>
            </div>

            <div class="mt-2">
              <input type="radio" name="replace-add-account" id="replace-account" value="replace" v-model="replaceAddAccount" />
              <label class="ml-2" for="replace-account">Replace the old accounts</label>
              <input class="ml-6" type="radio" name="replace-add-account" id="add-account" value="add" v-model="replaceAddAccount" />
              <label class="ml-2" for="add-account">Add alongside the old accounts</label>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <div>
            <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">Choose passowrds</h3>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-300"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam expedita rem praesentium! Neque reiciendis inventore est maiores voluptas.
              Quos ad explicabo esse placeat saepe nisi dolorem obcaecati nostrum tempore odit.</span
            >
          </div>
          <div class="mt-2 ml-4">
            <div class="inline-block w-24 mr-4 font-medium text-gray-500 dark:text-gray-300">Weight</div>
            <div class="inline-block font-medium text-gray-500 dark:text-gray-300">Password</div>
            <div v-for="(pair, index) of passPair" :key="index">
              <div class="mt-2">
                <input
                  type="number"
                  class="w-24 mr-4 pl-3 pr-3 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
                  v-model="passPair[index][1]"
                />
                <input
                  type="text"
                  class="w-[20rem] pl-3 pr-3 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
                  v-model="passPair[index][0]"
                />
              </div>
            </div>

            <div class="mt-1">
              <button
                class="m-2 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto sm:text-sm"
                @click="passPair.pop()"
              >
                -
              </button>
              <button
                class="m-2 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:w-auto sm:text-sm"
                @click="passPair.push(['', 1])"
              >
                +
              </button>
            </div>

            <div class="mt-2">
              <input type="radio" name="replace-add-keys" id="replace-keys" value="replace" v-model="replaceAddKeys" />
              <label class="ml-2" for="replace-keys">Replace the old keys</label>
              <input class="ml-6" type="radio" name="replace-add-keys" id="add-keys" value="add" v-model="replaceAddKeys" />
              <label class="ml-2" for="add-keys">Add alongside the old keys</label>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <div>
            <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">Choose weight threshold</h3>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-300"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam expedita rem praesentium! Neque reiciendis inventore est maiores voluptas.
              Quos ad explicabo esse placeat saepe nisi dolorem obcaecati nostrum tempore odit.</span
            >
          </div>
          <div class="mt-2 ml-4">
            <span class="mr-4 font-medium text-gray-900 dark:text-gray-100">Weight threshold:</span>
            <input
              type="number"
              class="w-24 pl-3 pr-3 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
              v-model="weightThreshold"
            />
          </div>
        </div>

        <div class="mt-6">
          <button
            class="m-2 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:w-auto sm:text-sm"
            @click="saveAuthorities"
          >
            Save
          </button>
        </div>

        <div class="mt-6" v-show="newPrivates.length > 0">
          <div>
            <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">Your new private keys</h3>
            <span class="text-sm font-medium text-gray-500 dark:text-gray-300">Keep them in a safe place!</span>
          </div>
          <div class="mt-2 ml-4">
            <div v-for="privateKey in newPrivates" :key="privateKey.toString()">
              <div class="mt-1 mb-1">{{ privateKey.toString() }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import Authority from '../components/Authority.vue'
  import { getUserAuthorities, generateAuthChangeObject, generatePrivateKeys, generatePublicKeys, prepareTrx, sendTrx } from 'hive-multisign'
  import { KeyRole, Operation, PrivateKey } from '@hiveio/dhive'
  import { signTrx } from '~/common/api/hiveApi'

  const props = defineProps<{
    account: string
  }>()

  const auth = ref(await getUserAuthorities(props.account))
  const selectedKey = ref('posting')
  const accountPair = ref([] as [string, number][])
  const replaceAddAccount = ref('')
  const passPair = ref([] as [string, number][])
  const replaceAddKeys = ref('')
  const newPrivates = ref([] as Array<PrivateKey>)
  const weightThreshold = ref(1)

  const saveAuthorities = async () => {
    if (accountPair.value.length > 0 && !replaceAddAccount.value) {
      alert('Choose if you want to replace the old accounts or add the new ones alongside them')
      return
    }
    if (passPair.value.length > 0 && !replaceAddKeys.value) {
      alert('Choose if you want to replace the old keys or add the new ones alongside them')
      return
    }

    try {
      const accountAuths: [string, number][] = []
      const keyAuths: [string, number][] = []
      const privateKeys = generatePrivateKeys(
        props.account,
        passPair.value.map(pair => pair[0]),
        selectedKey.value as KeyRole
      )
      const publicKeys = generatePublicKeys(privateKeys)

      // Required because of vue bullshit
      for (let i = 0; i < accountPair.value.length; i++) {
        accountAuths.push([accountPair.value[i][0], accountPair.value[i][1]])
      }

      for (let i = 0; i < publicKeys.length; i++) {
        keyAuths.push([publicKeys[i], passPair.value[i][1]])
      }

      // Geenrate operation payload
      const opData = await generateAuthChangeObject(props.account, weightThreshold.value, accountAuths, keyAuths, selectedKey.value as KeyRole, {
        account: replaceAddAccount.value == 'replace',
        key: replaceAddKeys.value == 'replace'
      })
      console.log((await prepareTrx([['account_update', opData]] as Operation[])).operations[0][1].posting)
      // Sign transaction
      signTrx(props.account, await prepareTrx([['account_update', opData]] as Operation[]), 'active', (res: any) => {
        if (res.error) {
          alert(`Error: ${res.error}`)
          return
        }
        sendTrx(res.result)
      })

      // Update UI
      newPrivates.value = privateKeys
    } catch (err) {
      alert(err)
    }
  }
</script>
