<template>
  <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
    <ErrorMessage></ErrorMessage>
  </div>
</template>

<script setup lang="ts"></script>
