<template>
  <div class="text-sm">
    <ul role="list">
      <li class="text-gray-700 dark:text-gray-200 py-2" v-for="key in Object.keys(template)" :key="key">
        <!-- Render condition -->
        <div v-if="template[key].type" class="text-gray-600 dark:text-gray-200" :style="{ 'margin-left': `${index}rem` }">
          <!-- Title -->
          <div class="m-2 inline-block w-48 width">{{ splitAndCapitalize(key) }}</div>
          <!-- Options 
          <select
            class="text-sm rounded-lg mr-2 w-40 bg-transparent focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
            v-model="template[key].selectedOption"
            :disabled="template[key].enabled === false"
          >
            <option v-for="option in template[key].options" :key="option" :value="option">
              {{ OPTION_NAMES[option] ? OPTION_NAMES[option] : option }}
            </option>
          </select> -->
          <!-- Input -->
          <input
            class="rounded-lg text-sm mt-1 w-60 bg-transparent focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
            v-model.lazy="template[key].value"
            :type="getInputType(template[key].type)"
            placeholder="any"
            :disabled="template[key].enabled === false"
          />
        </div>
        <!-- Render sub-section title -->
        <div class="mt-5 text-lg px-2" v-else :style="{ 'margin-left': `${index}rem` }">
          <span>{{ key }}</span>
          <!-- Recursive step -->
          <CustomizeNotificationInput :template="template[key]" :index="index + 1" />
        </div>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
  import { PropType } from 'vue'
  import { OPTION_NAMES } from '../helpers/pnFrontendHelper'
  import { splitAndCapitalize } from '~/common/helpers/formatter'

  const props = defineProps({
    template: { type: Object as PropType<any> },
    index: { type: Number, default: 1 }
  })

  const typeMap = {
    string: 'text',
    number: 'number',
    array: 'text'
  }

  const getInputType = (templateType: string) => {
    if (typeMap[templateType]) {
      return typeMap[templateType]
    }
    return 'text'
  }
</script>
