<template>
  <div>
    <Teleport to="#page-header-right-target">
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
      <!-- <TabSwitch :tabs="tabs"></TabSwitch> -->
    </Teleport>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-900">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('name')"
                    class="py-6 pl-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'name' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('badges.name') }}
                      <component
                        v-if="currentSort === 'name'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('num_recipients_active_last_30_days')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[
                      currentSort === 'num_recipients_active_last_30_days'
                        ? 'bg-gray-200 dark:bg-slate-700/50 '
                        : 'hover:bg-gray-100 dark:hover:bg-slate-700/50'
                    ]"
                  >
                    <div class="flex items-center justify-center">
                      <div class="shrink-0">
                        <span>{{ $t('badges.num_recipients_active_last_30_days') }}</span
                        ><span class="text-gray-400 text-xs block">{{ $t('badges.last_30_days') }}</span>
                      </div>
                      <component
                        v-if="currentSort === 'num_recipients_active_last_30_days'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('num_recipients')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'num_recipients' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('badges.num_recipients') }}
                      <component
                        v-if="currentSort === 'num_recipients'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('num_followers')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'num_followers' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('badges.num_followers') }}
                      <component
                        v-if="currentSort === 'num_followers'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('date_of_last_recipient')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'date_of_last_recipient' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <span class="shrink-0"> {{ $t('badges.date_of_last_recipient') }}</span>
                      <component
                        v-if="currentSort === 'date_of_last_recipient'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('created')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'created' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center truncate">
                      {{ $t('badges.created') }}
                      <component
                        v-if="currentSort === 'created'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody
                v-for="badge in sortedBadges"
                :key="badge.name"
                class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-800"
              >
                <tr>
                  <td scope="row" class="whitespace-nowrap py-2 px-4 text-base sm:pl-6 max-w-[400px]">
                    <div class="flex items-center justify-start">
                      <div class="relative">
                        <img :src="'https://images.hive.blog/u/' + badge.name + '/avatar/small'" class="h-12 w-12 flex-shrink-0 rounded-md" />
                        <a
                          v-if="badge?.approved"
                          v-tippy="{
                            content: '<p>PeakD verified!</p><p>Click to see the badge on PeakD.</p>',
                            role: 'tooltip',
                            arrow: true,
                            allowHTML: true,
                            theme: darkMode ? 'light' : 'dark'
                          }"
                          :href="`https://peakd.com/b/${badge.name}`"
                          target="_blank"
                          class="absolute -top-[7px] -left-[8px]"
                          ><img
                            :src="PeakdIcon"
                            alt="PeakD icon"
                            target="_blank"
                            class="h-5 w-auto rounded-full border border-gray-400 brightness-90 rotate-[10deg]"
                        /></a>
                      </div>
                      <div class="flex items-center ml-3 truncate">
                        <div class="font-medium text-gray-900 dark:text-gray-100">
                          <div class="flex justify-start items-center gap-2">
                            <router-link :to="`/b/${badge.name}`" class="truncate">{{ badge.profile_name || badge.name }}</router-link>
                          </div>

                          <div class="flex justify-start items-center gap-2 truncate">
                            <span class="text-gray-400 text-xs font-light block"
                              >{{ badge.name }} by
                              <router-link :to="{ name: 'account', params: { account: badge.created_by } }" class="font-semibold"
                                >@{{ badge.created_by }}</router-link
                              ></span
                            >
                            <span
                              v-tippy="{
                                content: `${badge.about}`,
                                role: 'tooltip',
                                arrow: true,
                                theme: darkMode ? 'light' : 'dark'
                              }"
                              ><InformationCircleIcon v-if="badge.about" class="h-4 w-auto text-gray-400 cursor-default"></InformationCircleIcon
                            ></span>
                            <span class="h-4 w-auto text-gray-400 cursor-default"
                              ><a v-if="badge.website" :href="badge.website" target="_blank"
                                ><GlobeAltIcon class="h-4 w-auto text-gray-400 z-20"></GlobeAltIcon></a
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ formatNumber(parseInt(badge.num_recipients_active_last_30_days), '0,0[.]') }}
                  </td>
                  <td class="px-6 py-2 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ formatNumber(parseInt(badge.num_recipients), '0,0[.]') }}
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ formatNumber(parseInt(badge.num_followers), '0,0[.]') }}
                  </td>
                  <td class="px-6 py-2 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span v-if="!badge?.date_of_last_recipient">N/A</span>
                    <span
                      v-else
                      v-tippy="{
                        content: `${formatISOTimestamp(badge.date_of_last_recipient)}`,
                        arrow: true,
                        delay: 100,
                        placement: 'top',
                        theme: darkMode ? 'night' : 'day'
                      }"
                    >
                      <time :datetime="badge.date_of_last_recipient" class="cursor-default"
                        >{{ formatDistanceStrict(new Date(badge.date_of_last_recipient), addMinutes(new Date(), new Date().getTimezoneOffset())) }}
                        ago
                      </time>
                    </span>
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    <span
                      v-tippy="{
                        content: `${formatISOTimestamp(badge.created)}`,
                        arrow: true,
                        delay: 100,
                        placement: 'top',
                        theme: darkMode ? 'night' : 'day'
                      }"
                    >
                      <time :datetime="badge.created" class="cursor-default"> {{ formatDate(badge.created) }}</time></span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <Pagination class="mt-4" :current="currentPage" :last="lastPage" @page-changed="onPageChange"></Pagination>
  </div>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { Badge, BadgesSortValues } from '../api/statsDef'
  import { ArrowSmUpIcon, ArrowSmDownIcon, GlobeAltIcon } from '@heroicons/vue/outline'
  import { InformationCircleIcon } from '@heroicons/vue/solid'
  import { getBadgesByOrder } from '~/stats/api/hiveOpenStatsApi'
  import { formatDistanceStrict, addMinutes } from 'date-fns'
  import { formatDate, formatNumber, formatISOTimestamp } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'
  import { getFollowing } from '~/common/api/hiveApi'
  import PeakdIcon from '~/assets/images/icons/peakd_logo.png'

  const PEAKD_BADGE_VALIDATOR = 'badge-500500'

  const settingsStore = useSettingsStore()

  const darkMode = computed(() => settingsStore.settings.darkMode)

  // pagination
  const pageSize = 300
  const currentPage = ref(1)
  const lastPage = ref(false)
  const badgesData: Ref<Badge[]> = ref([])

  const onPageChange = async (page: number) => {
    currentPage.value = page

    const limit = pageSize + 1
    const offset = pageSize * (currentPage.value - 1)
    const order = `d_num_recipients_active_last_30_days`
    const fetched = await getBadgesByOrder(limit, offset, order)

    if (fetched.length < limit) {
      lastPage.value = true
    } else {
      lastPage.value = false
    }

    const badgePattern = /^badge-\d{6}$/
    badgesData.value = fetched.filter((badge: Badge) => badgePattern.test(badge.name))

    console.log('Badges: ', badgesData.value)
  }

  // Fetch first page on load
  try {
    await onPageChange(1)
  } catch (e) {
    console.log('Error while fetching badges')
  }

  // filtering badges
  const filters = ref({
    name: {
      label: 'Name',
      placeholder: 'PeakD and Peak Open Supporter',
      value: ''
    },
    code: {
      label: 'Code',
      placeholder: '123456',
      value: ''
    },
    creator: {
      label: 'Creator',
      placeholder: 'peakd',
      value: ''
    },
    peakdApproved: {
      label: 'Approved',
      options: {
        approvedBadges: { label: 'by PeakD', value: false }
      }
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredBadges = computed(() => {
    return badgesData.value.filter(badge => {
      //filtering by badge name
      if (
        filters.value.name.value &&
        ((badge.profile_name && !badge.profile_name.toLowerCase().includes(filters.value.name.value.toLowerCase())) || !badge.profile_name)
      ) {
        return false
      }
      //filtering by badge code
      if (filters.value.code.value && !badge.name.includes(filters.value.code.value)) {
        return false
      }
      //filtering by badge creator
      if (filters.value.creator.value && !badge.created_by.includes(filters.value.creator.value.toLowerCase())) {
        return false
      }
      //filtering by approved
      if (filters.value.peakdApproved.options.approvedBadges.value && !badge.approved) {
        return false
      }
      return true
    })
  })

  // sorting Badges
  const currentSort: Ref<BadgesSortValues> = ref('num_recipients_active_last_30_days')
  const currentSortDir: Ref<'asc' | 'desc'> = ref('desc')

  function setSortDir(s: BadgesSortValues) {
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  const sortedBadges = computed(() => {
    const modifier = currentSortDir.value === 'desc' ? -1 : 1

    return [...filteredBadges.value].sort((a: Badge, b: Badge) => {
      if (currentSort.value === 'name' || currentSort.value === 'created') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      } else if (currentSort.value === 'date_of_last_recipient') {
        const itemA = a[currentSort.value]
        const itemB = b[currentSort.value]

        if (itemA === null) return 1
        if (itemB === null) return -1

        return itemA.localeCompare(itemB) * modifier
      } else {
        return (parseInt(a[currentSort.value]) - parseInt(b[currentSort.value])) * modifier
      }
    })
  })

  const approvedBadges = ref(new Set())

  onMounted(async () => {
    const approvedByPeakd = await getFollowing(PEAKD_BADGE_VALIDATOR, 'blog')
    approvedBadges.value = new Set(approvedByPeakd.map((badge: { follower: string; following: string; what: string[] }) => badge.following))

    badgesData.value.forEach((badge: Badge) => {
      if (approvedBadges.value.has(badge.name)) {
        badge.approved = true
      }
    })
  })
</script>
