<template>
  <div class="overflow-hidden shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 md:rounded-lg bg-white dark:bg-slate-800 py-5 px-10">
    <!-- operation -->
    <div class="pb-10 sm:px-14 space-y-6 mx-10 sm:space-y-5 sm:border-b sm:border-gray-400 dark:border-slate-300">
      <template v-if="selectedOpDetails && selectedOpDetails.params">
        <div class="mt-8 flex items-center justify-center gap-3 text-lg text-center text-gray-700 dark:text-gray-200 font-semibold">
          <h1>Operation</h1>
          <div class="w-[225px]">
            <OptionsDropdown
              name="operation"
              :current="selectedOp"
              :elements="allowedOps"
              :parseText="true"
              @change="selected => (selectedOp = selected)"
            ></OptionsDropdown>
          </div>
        </div>
        <div
          v-for="(param, index) in selectedOpDetails.params"
          :key="index"
          class="sm:grid sm:grid-cols-3 lg:grid-cols-4 sm:items-start sm:gap-4 sm:pt-5 px-10"
          :class="{ 'sm:border-t sm:border-gray-200 dark:border-gray-700': index }"
        >
          <label :for="param" class="flex justify-start items-center gap-2 text-sm font-medium text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2"
            ><p>{{ splitAndCapitalize(param) }}</p>
            <span
              v-tippy="{
                content: mapOpsParams(selectedOp, param),
                arrow: true,
                delay: 100,
                placement: 'top',
                theme: darkMode ? 'night' : 'day'
              }"
            >
              <InformationCircleIcon class="h-4 w-auto text-gray-400"></InformationCircleIcon></span
          ></label>

          <div class="mt-1 sm:col-span-1 lg:col-span-1 sm:mt-0"></div>
          <div class="mt-1 sm:col-span-1 lg:col-span-2 sm:mt-0">
            <input
              v-model="selectedOpParams[param]"
              @input="fillSigner(selectedOpParams)"
              @blur="
                signerParam === param
                  ? getSignerAccountData()
                  : () => {
                      return
                    }
              "
              type="text"
              :name="param"
              :id="param"
              autocomplete="off"
              class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm"
              :readonly="isSign"
              :disabled="isSign"
            />
          </div>
        </div>
      </template>
    </div>

    <div class="w-full max-w-4xl mx-auto mt-10">
      <div>
        <div v-if="!isSign" class="pt-4">
          <div class="flex flex-col md:flex-row justify-between items-center gap-6 w-full mb-8">
            <div class="flex items-center justify-start gap-2 w-full">
              <p class="text-gray-700 dark:text-gray-200">Authority</p>
              <div class="w-[225px]">
                <OptionsDropdown
                  name="authority"
                  :current="authority"
                  :elements="authorities"
                  @change="
                    selected => {
                      authority = selected
                    }
                  "
                ></OptionsDropdown>
              </div>
            </div>
            <div class="flex items-center justify-end gap-2 w-full">
              <p class="text-gray-700 dark:text-gray-200">Signer</p>
              <div
                class="flex items-center justify-start w-[225px] rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm"
              >
                <p>@</p>
                <input
                  readonly
                  v-model="signer"
                  type="text"
                  name="signer"
                  id="signer"
                  autocomplete="off"
                  class="-ml-3 w-full h-5 bg-transparent border-transparent focus:outline-none focus:ring-transparent focus:border-transparent"
                />
              </div>
            </div>
          </div>
        </div>

        <div v-else class="flex justify-center text-xl mt-2 mb-6 tracking-wide">
          <span class="block text-gray-700 dark:text-gray-200"
            >Operation: <span class="font-semibold text-emerald-600 dark:text-emerald-400">{{ selectedOp }}</span></span
          >
        </div>
      </div>
      <p v-if="!Array.isArray(accountAuths)" class="text-red-400">{{ accountAuths }}</p>
      <div v-else class="flex flex-col items-start justify-start gap-8 text-gray-700 dark:text-gray-200 w-full">
        <p>
          Weight to broadcast the operation: <span class="font-bold text-emerald-600 dark:text-emerald-400 ml-1">{{ weightToBroadcast }}</span>
        </p>
        <div class="w-full">
          <SignersTable :signers="accountAuths" @check-user-to-sign="checkUserToSign" @check-user-to-notify="checkUserToNotify"></SignersTable>
        </div>
      </div>
    </div>

    <div class="mt-12 text-center">
      <button
        @click="signAndShare()"
        type="button"
        :class="[
          weightOfSelectedSigners >= weightToBroadcast
            ? ' bg-emerald-600 dark:bg-emerald-400 text-base font-medium  hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100'
            : 'bg-gray-400 dark:bg-gray-600 cursor-default',
          'inline-flex items-center rounded-md border border-transparent px-6 py-3 text-white dark:text-slate-800 transition ease-in-out duration-300'
        ]"
      >
        {{ weightOfSelectedSigners >= weightToBroadcast ? `Broadcast operation` : `Submit and Sign` }}
      </button>
    </div>

    <div v-if="isSign" class="mt-12">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300 dark:border-gray-500" />
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white dark:bg-slate-800 px-2 text-sm text-gray-500 dark:text-gray-300">Details</span>
        </div>
      </div>

      <div class="px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200 sm:dark:divide-gray-700">
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Signatures:</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:col-span-2 sm:mt-0 whitespace-pre-wrap break-all">
              {{ isSignDecoded.signatures.join(', ') }}
            </dd>
          </div>
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Expiration</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:col-span-2 sm:mt-0">
              <p class="flex items-center">
                <span>in {{ timeAgo(new Date(), new Date(`${isSignDecoded.expiration}Z`), 'minute') }}</span>
                <span class="ml-2 text-gray-400">({{ formatISOTimestamp(`${isSignDecoded.expiration}Z`) }})</span>
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div
      v-if="signResultMessage.message"
      @click="copyOnClick(signResultMessage.url)"
      class="rounded-md p-4 mt-6"
      :class="[
        { 'bg-green-50 dark:bg-green-900 cursor-pointer': signResultMessage.type === 'success' },
        { 'bg-red-50 dark:bg-red-900': signResultMessage.type === 'error' },
        { 'bg-blue-50 dark:bg-blue-900': !['success', 'error'].includes(signResultMessage.type) }
      ]"
    >
      <div class="flex">
        <div class="flex-shrink-0">
          <CheckCircleIcon v-if="signResultMessage.type === 'success'" class="h-5 w-5 text-green-400 dark:text-green-200" aria-hidden="true" />
          <XCircleIcon v-else-if="signResultMessage.type === 'error'" class="h-5 w-5 text-red-400 dark:text-red-200" aria-hidden="true" />
          <InformationCircleIcon v-else class="h-5 w-5 text-blue-400 dark:text-blue-200" aria-hidden="true" />
        </div>
        <div class="ml-3">
          <div
            class="text-sm"
            :class="[
              { 'text-green-700 dak-text-green-300': signResultMessage.type === 'success' },
              { 'text-red-700 dark:text-red-300': signResultMessage.type === 'error' },
              { 'text-blue-700 dark:text-blue-300': !['success', 'error'].includes(signResultMessage.type) }
            ]"
          >
            <pre class="whitespace-pre-wrap break-all">{{ signResultMessage.message }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { CheckCircleIcon, InformationCircleIcon, XCircleIcon } from '@heroicons/vue/solid'
  import { Operation, OperationName } from '@hiveio/dhive'
  import { splitAndCapitalize, timeAgo, formatISOTimestamp } from '~/common/helpers/formatter'
  import { hasEnoughSignatures, prepareTrx, signTrx, sendTrx, getAccounts, getAccountsFromKeys } from '~/common/api/hiveApi'
  import { operations, mapOpsParams } from '~/common/helpers/operations'
  import { useSettingsStore } from '~/stores/settings'

  const props = defineProps<{
    encoded?: string
  }>()

  const settingsStore = useSettingsStore()
  const darkMode = computed(() => settingsStore.settings.darkMode)

  const isSign = computed(() => (props.encoded ? true : false))

  const allowedOps = operations.filter(op => op.multisign).map(op => ({ ...op, name: op.operation, value: op.operation }))

  const noAccountMessage = 'fill the transaction field with a valid account name to see accounts with authority'
  const generateWrongSignerMessage = (inputField: string): string =>
    `fill the transaction field ${inputField} with a valid account name to see accounts with authority`

  const authorities: any = ref([])
  const signerAccountName = ref('')
  const weightToBroadcast = ref(1)
  const accountAuths: any = ref(noAccountMessage)
  const selectedOp = ref(allowedOps[0].name)
  const selectedOpParams = ref({})
  const authority = ref('')
  const selectedAccounts = ref<string[]>([])
  const selectedUsersToSign = ref<string[]>([])
  const selectedUsersToNotify = ref<string[]>([])
  const signer = ref<string>('')

  const signerParam = computed(() => {
    const op: any = allowedOps.find((op: any) => op.name === selectedOp.value)
    return op.signer
  })

  const fillSigner = (param: any) => {
    signer.value = param[signerParam.value]
  }

  // const allSelected = computed(() => selectedAccounts.value.length === accountAuths.value.length)

  // const selectAll = () => {
  //   if (allSelected.value) {
  //     selectedAccounts.value = []
  //   } else {
  //     selectedAccounts.value = accountAuths.value.map(account => account.name)
  //   }
  // }

  const checkUserToSign = (users: string[]) => {
    selectedUsersToSign.value = users
  }

  const checkUserToNotify = (users: string[]) => {
    selectedUsersToNotify.value = users
  }

  const weightOfSelectedSigners = computed(() => {
    const selectedWeight = selectedUsersToSign.value.reduce((totWeight: number, userName: any) => {
      const targetUser = [...accountAuths.value].find(user => user.name === userName)
      return (totWeight += targetUser.weight)
    }, 0)
    return selectedWeight
  })

  const selectedOpDetails = computed(() => {
    const selected = allowedOps.find((op: any) => op.name === selectedOp.value)
    authorities.value = selected?.roles.map((role: any) => {
      return { name: splitAndCapitalize(role), value: role }
    })
    authority.value = authorities.value[0].value
    return selected
  })

  const getSignerAccountData = async () => {
    if (!signer.value) {
      accountAuths.value = noAccountMessage
      return
    }
    try {
      const accountData = await getAccounts([signer.value])

      const accountsWithAuth = accountData[0][authority.value]
      const keys = accountsWithAuth.key_auths.map((item: Array<string | number>) => item[0])
      const accountsFromKeys = await getAccountsFromKeys(keys)
      weightToBroadcast.value = accountsWithAuth.weight_threshold
      accountAuths.value = accountsWithAuth.account_auths
        .map((account: any) => {
          return { name: account[0], weight: account[1] }
        })
        .concat(
          accountsWithAuth.key_auths.map((key: any, index: number) => {
            return { name: accountsFromKeys.accounts[index].join(', '), key: key[0], weight: key[1] }
          })
        )
      selectedAccounts.value = accountAuths.value.map((account: any) => account.name)

      return
    } catch (error) {
      console.log(error)
      alert(`@${signerAccountName.value} is not a valid HIVE account`)
      accountAuths.value = noAccountMessage
    }
  }

  if (!isSign.value) {
    watch(selectedOp, () => {
      const opParams = {}
      selectedOpDetails?.value?.params.forEach((p: string) => (opParams[p] = ''))
      selectedOpParams.value = opParams
    })
  }

  const signResultMessage = ref({ type: 'none', message: '' })

  const isSignDecoded = computed(() => (props.encoded ? JSON.parse(atob(props.encoded)) : null))

  if (isSign.value) {
    selectedOp.value = isSignDecoded.value.operations[0][0]
    selectedOpParams.value = isSignDecoded.value.operations[0][1]
  }

  const signAndShare = async () => {
    if (weightOfSelectedSigners.value < weightToBroadcast.value) {
      return
    }
    signResultMessage.value = { type: 'info', message: 'Preparing transaction' }

    try {
      const operationPayload = selectedOpDetails.value.prepare ? selectedOpDetails.value.prepare(selectedOpParams.value) : selectedOpParams.value
      const operation: Operation = [selectedOp.value as OperationName, operationPayload]

      const trx = isSign.value ? JSON.parse(atob(props.encoded)) : await prepareTrx([operation])
      const signRes = await signTrx(signerAccountName.value, trx, selectedOpDetails?.value?.roles[0])
      if (signRes.error) {
        signResultMessage.value = { type: 'error', message: `Error: ${signRes.error}` }
        return
      }

      const signedTrx = signRes.result

      if (await hasEnoughSignatures(signedTrx)) {
        try {
          const broadcastRes = await sendTrx(signedTrx)
          if (broadcastRes && broadcastRes.id) {
            signResultMessage.value = { type: 'info', message: `Transaction sent!\nTrx ID: ${broadcastRes.id}` }
          }
        } catch (broadcastErr: any) {
          console.error('Error broadcasting trx: ', broadcastErr)

          if (broadcastErr.message.match('Duplicate transaction check failed').length) {
            signResultMessage.value = { type: 'error', message: `Error while sending the transaction:\nDuplicate: the transaction has already been sent` }
          } else {
            signResultMessage.value = { type: 'error', message: `Error while sending the transaction:\n${JSON.stringify(broadcastErr)}` }
          }
        }
      } else {
        const encoded = btoa(JSON.stringify(signedTrx))

        const appUrl = `${window.location.protocol}//${window.location.hostname}${window.location.port ? ':' + window.location.port : ''}`
        signResultMessage.value = {
          type: 'success',
          message: `The transaction requires additional signatures.\nShare this link with the other key holders to continue (click to copy):\n\n${appUrl}/multisign/${encoded}`,
          url: `${appUrl}/multisign/${encoded}`
        }
      }
    } catch (signErr: any) {
      console.error('Error signing trx: ', signErr)
      signResultMessage.value = { type: 'error', message: `Error while signing the transaction:\n${JSON.stringify(signErr)}` }
    }
  }

  const copyOnClick = async text => {
    if (text) {
      await navigator.clipboard.writeText(text)
      alert('URL copied to clipboard')
    }
  }

  watch(
    () => authority.value,
    async () => {
      await getSignerAccountData()
    }
  )
</script>
