<template>
  <nav class="relative z-0 rounded-lg shadow flex divide-x border-gray-300 dark:border-slate-500 divide-gray-200 dark:divide-slate-600 max-w-lg">
    <router-link
      v-for="(view, index) in views"
      :key="view.name"
      :to="`/market/${view.name}`"
      class="group relative min-w-0 flex-1 overflow-hidden bg-white dark:bg-slate-800 py-4 px-4 text-sm text-center hover:bg-gray-50 dark:hover:bg-slate-700 focus:z-10 font-bold text-gray-600 dark:text-gray-300 hover:text-gray-800 hover:dark:text-gray-200"
      :class="[
        currentView === view.name ? 'text-gray-900 dark:text-gray-100' : '',
        index === 0 ? 'rounded-l-lg' : '',
        index === views.length - 1 ? 'rounded-r-lg' : ''
      ]"
      :aria-current="currentView === view.name ? 'page' : undefined"
    >
      <span class="uppercase">{{ view.label || view.name }}</span>
      <span
        aria-hidden="true"
        :class="[currentView === view.name ? 'bg-emerald-500 dark:bg-emerald-300' : 'bg-transparent', 'absolute inset-x-0 bottom-0 h-0.5']"
      />
    </router-link>
  </nav>
</template>

<script setup lang="ts">
  const views = [
    { name: 'swap', label: 'Swap' },
    { name: 'basic', label: 'Basic' },
    { name: 'advanced', label: 'Advanced' }
  ]

  const route = useRoute()
  const currentView = computed(() => {
    const split = route.path.split('/')
    return split[split.length - 1] !== 'market' ? split[split.length - 1] : 'swap'
  })
</script>
