<template>
  <div class="flex flex-col rounded-md shadow ring-1 ring-black ring-opacity-5">
    <div class="overflow-x-auto h-full">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <div>
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-500">
              <thead class="bg-gray-50 dark:bg-slate-800 sticky top-0 z-10">
                <tr>
                  <th scope="col" class="dark:text-gray-100 px-4 py-3.5 text-center text-sm font-medium text-gray-900">Date</th>
                  <th scope="col" class="dark:text-gray-100 px-4 py-3.5 text-left text-sm font-medium text-gray-900">Type</th>
                  <th scope="col" class="dark:text-gray-100 px-4 py-3.5 text-right text-sm font-medium text-gray-900">Price</th>
                  <th scope="col" class="dark:text-gray-100 px-4 py-3.5 text-right text-sm font-medium text-gray-900">HIVE</th>
                  <th scope="col" class="dark:text-gray-100 px-4 py-3.5 text-right text-sm font-medium text-gray-900">HBD</th>
                </tr>
              </thead>

              <!-- TABLE BODY -->
              <tbody class="divide-y divide-gray-300 dark:divide-slate-500 bg-white dark:bg-slate-700">
                <!-- If no transactions yet -->
                <tr v-if="!accountStore.account.name">
                  <td colspan="6" class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">
                    Login to manage your open orders
                  </td>
                </tr>

                <tr v-else-if="isLoading">
                  <td colspan="6" class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">Loading ...</td>
                </tr>

                <tr v-else-if="!mergedOrders.length">
                  <td colspan="6" class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">No orders found</td>
                </tr>

                <!-- Fill-order rows -->
                <template v-else v-for="(order, index) in mergedOrders" :key="index">
                  <tr @click="selectRow(index)" class="hover:bg-gray-50 dark:hover:bg-slate-800 cursor-pointer">
                    <td class="dark:text-gray-100 whitespace-nowrap px-4 py-2 text-center text-xs">
                      <div
                        v-tippy="{
                          content: formatISOTimestamp(order.timestamp),
                          arrow: true,
                          delay: 100,
                          placement: 'top',
                          maxWidth: '100%',
                          theme: darkMode ? 'night' : 'day'
                        }"
                      >
                        {{ formatDate(new Date(order.timestamp)) }}
                      </div>
                    </td>
                    <td
                      class="whitespace-nowrap px-4 py-2 text-left text-xs font-medium capitalize"
                      :class="[order.type === 'buy' ? 'text-emerald-600 dark:text-emerald-400' : 'text-red-600 dark:text-red-400']"
                    >
                      {{ order.type }}
                    </td>
                    <td class="dark:text-gray-100 whitespace-nowrap px-4 py-2 text-right text-xs font-medium">
                      {{ calculateHivePerHbd(order.hive, order.hbd) }}
                    </td>
                    <td class="dark:text-gray-100 whitespace-nowrap px-4 py-2 text-right text-xs font-medium">
                      {{ order.hive.toFixed(3) }}
                    </td>
                    <td class="dark:text-gray-100 whitespace-nowrap px-4 py-2 text-right text-xs font-medium">
                      {{ order.hbd.toFixed(3) }}
                    </td>
                  </tr>
                  <MyOrderDetails
                    v-if="index === selectedRow"
                    :details="order.details"
                    :isBuy="order.type === 'buy'"
                    :logged-user="accountStore.account?.name"
                  ></MyOrderDetails>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref, Ref } from 'vue'
  import { getFillOrders } from '../api/hafSql'
  import { formatISOTimestamp, formatDate } from '~/common/helpers/formatter'
  import { useAccountStore } from '~/stores/account'
  import { useSettingsStore } from '~/stores/settings'
  import { Order, MergedOrder } from '../typeDef'

  const accountStore = useAccountStore()
  const settingsStore = useSettingsStore()

  const currentOrders: Ref<Order[]> = ref([])
  const openOrders: Ref<Order[]> = ref([])
  const isLoading = ref(false)
  const selectedRow = ref(-1)

  const darkMode = computed(() => settingsStore.settings.darkMode)

  const mergedOrders: ComputedRef<MergedOrder[]> = computed(() => {
    const mergedCurrent = groupOrders(currentOrders.value, 'current')
    const mergedOpen = groupOrders(openOrders.value, 'open')
    return [...mergedCurrent, ...mergedOpen].sort((a, b) => new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime())
  })

  const selectRow = (index: number) => {
    selectedRow.value = selectedRow.value === index ? -1 : index
  }

  const groupOrders = (orders: Order[], type: 'open' | 'current'): MergedOrder[] => {
    if (!orders.length) return []

    const grouped: Record<string, MergedOrder> = {}

    const idField = type === 'open' ? 'open_orderid' : 'current_orderid'
    const userSymbolField = type === 'open' ? 'open_pays_symbol' : 'current_pays_symbol'
    const userAmountField = type === 'open' ? 'open_pays' : 'current_pays'
    const otherSymbolField = type === 'open' ? 'current_pays_symbol' : 'open_pays_symbol'
    const otherAmountField = type === 'open' ? 'current_pays' : 'open_pays'

    for (const row of orders) {
      const orderid = (row as any)[idField] as string

      if (!grouped[orderid]) {
        const userToken = (row as any)[userSymbolField]
        const orderType = userToken === 'HBD' ? 'buy' : 'sell'

        grouped[orderid] = {
          orderid,
          type: orderType,
          hive: 0,
          hbd: 0,
          timestamp: row.timestamp,
          details: []
        }
      }

      const group = grouped[orderid]

      const userTokenSymbol = (row as any)[userSymbolField]
      const userAmount = parseFloat((row as any)[userAmountField])
      const otherTokenSymbol = (row as any)[otherSymbolField]
      const otherAmount = parseFloat((row as any)[otherAmountField])

      if (group.type === 'buy') {
        group.hbd += userTokenSymbol === 'HBD' ? userAmount : 0
        group.hive += otherTokenSymbol === 'HIVE' ? otherAmount : 0
      } else {
        group.hive += userTokenSymbol === 'HIVE' ? userAmount : 0
        group.hbd += otherTokenSymbol === 'HBD' ? otherAmount : 0
      }

      if (new Date(row.timestamp) > new Date(group.timestamp)) {
        group.timestamp = row.timestamp
      }
      group.details.push(row)
    }

    let result = Object.values(grouped)

    result.sort((a, b) => new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime())

    return result
  }

  const calculateHivePerHbd = (hive: number, hbd: number) => {
    if (hbd === 0) return '-'
    const ratio = hbd / hive
    return ratio.toFixed(4)
  }

  const fetchOrders = async () => {
    isLoading.value = true

    try {
      if (!accountStore.account.name) return []

      const [current, open] = await Promise.all([getFillOrders(accountStore.account.name, 'current'), getFillOrders(accountStore.account.name, 'open')])

      currentOrders.value = current
      openOrders.value = open
    } catch (error) {
      console.error('Error fetching orders:', error)
    } finally {
      isLoading.value = false
    }
  }

  onMounted(async () => {
    if (accountStore.account.name) {
      await fetchOrders()
    }
  })
</script>
