<template>
  <tr v-for="item in details" :key="item.op_id" class="text-gray-600 dark:text-gray-300 text-xs font-light bg-gray-100/50 dark:bg-slate-800/50">
    <td class="text-center px-4 py-1 border-t-[0.5px] border-gray-200/50 dark:border-slate-800 w-[20%]">{{ formatISOTimestamp(item.timestamp) }}</td>
    <td class="text-left px-4 py-1 border-t-[0.5px] border-gray-200/50 dark:border-slate-800 w-[20%]">
      {{ isBuy ? 'Seller: ' : 'Buyer: ' }} {{ loggedUser === item.open_owner ? item.current_owner : item.open_owner }}
    </td>
    <td class="text-right px-4 py-1 border-t-[0.5px] border-gray-200/50 dark:border-slate-800 w-[20%]">
      {{ getPrice(item.open_pays_symbol, item.open_pays, item.current_pays) }}
    </td>
    <td class="text-right px-4 py-1 border-t-[0.5px] border-gray-200/50 dark:border-slate-800 w-[20%]">
      {{ isBuy ? `${item.open_pays} ${item.open_pays_symbol}` : `${item.current_pays} ${item.current_pays_symbol}` }}
    </td>
    <td class="text-right px-4 py-1 border-t-[0.5px] border-gray-200/50 dark:border-slate-800 w-[20%]">
      {{ !isBuy ? `${item.open_pays} ${item.open_pays_symbol}` : `${item.current_pays} ${item.current_pays_symbol}` }}
    </td>
  </tr>
</template>

<script setup lang="ts">
  import { formatISOTimestamp } from '~/common/helpers/formatter'
  import { Order, Token } from '../typeDef'

  const props = defineProps<{ loggedUser: string | null; isBuy: boolean; details: Order[] }>()

  const loggedUser = computed(() => props.loggedUser)

  const getPrice = (symbol: Token, open: string, current: string) => {
    if (symbol === 'HBD') {
      return (parseFloat(open) / parseFloat(current)).toFixed(4)
    } else {
      return (parseFloat(current) / parseFloat(open)).toFixed(4)
    }
  }
</script>
