<template>
  <div class="flex flex-col">
    <Teleport to="#market-limit-table-target">
      <div class="flex text-sm" style="font-size: 0.8rem">
        <div class="flex items-center">
          <div class="bg-green-100 text-green-800 inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium mr-1.5">
            <ArrowUpIcon class="-ml-1 mr-0.5 h-3 w-3 flex-shrink-0 self-center text-green-500" aria-hidden="true" />
            +2%
          </div>
          <div class="leading-4">
            <span class="block">{{ formatCurrency(impactUpwardsHive, '0,0.000') }} HIVE</span>
            <span class="block">{{ formatCurrency(impactUpwardsHbd, '0,0.000') }} HBD</span>
          </div>
        </div>
        <div class="flex items-center ml-5">
          <div class="bg-red-100 text-red-800 inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium mr-1.5">
            <ArrowDownIcon class="-ml-1 mr-0.5 h-3 w-3 flex-shrink-0 self-center text-red-500" aria-hidden="true" />
            -2%
          </div>
          <div class="leading-4">
            <span class="block">{{ formatCurrency(impactDownwardsHive, '0,0.000') }} HIVE</span>
            <span class="block">{{ formatCurrency(impactDownwardsHbd, '0,0.000') }} HBD</span>
          </div>
        </div>
      </div>
    </Teleport>

    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-500">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-center text-sm font-medium text-gray-900 dark:text-gray-300">Time</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-right text-sm font-medium text-gray-900 dark:text-gray-300">Total volume</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-right text-sm font-medium text-gray-900 dark:text-gray-300">Price (HBD)</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-right text-sm font-medium text-gray-900 dark:text-gray-300">HIVE per HBD</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-right text-sm font-medium text-gray-900 dark:text-gray-300">HIVE</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-right text-sm font-medium text-gray-900 dark:text-gray-300">HBD</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white dark:bg-slate-700 dark:divide-gray-500">
              <tr v-for="(order, index) in orders" :key="index" :class="order.buy ? 'text-green-600' : 'text-red-500'">
                <td class="whitespace-nowrap px-2 py-2 text-xs text-center dark:font-bold">{{ timeSince(new Date(order.created)) }}</td>
                <td class="whitespace-nowrap px-2 py-2 text-xs text-right dark:font-bold">{{ formatCurrency(order.volume.toFixed(5), '0,0.000') }} HBD</td>
                <td @click="marketStore.setHIVEHBD(order.hbd / order.hive)" class="whitespace-nowrap px-2 py-2 text-xs text-right dark:font-bold">
                  {{ parseFloat(order.real_price).toFixed(4) }}
                </td>
                <td @click="marketStore.setHIVEHBD(order.hbd / order.hive)" class="whitespace-nowrap px-2 py-2 text-xs text-right dark:font-bold">
                  {{ (1 / parseFloat(order.real_price)).toFixed(4) }}
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-xs text-right dark:font-bold">{{ formatCurrency(order.hive / 1000, '0,0.000') }}</td>
                <td class="whitespace-nowrap px-2 py-2 text-xs text-right dark:font-bold">{{ formatCurrency(order.hbd / 1000, '0,0.000') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ArrowUpIcon, ArrowDownIcon } from '@heroicons/vue/solid'
  import { timeSince } from '~/common/helpers/formatter'
  import { useMarketStore } from '~/stores/market'
  import { formatCurrency } from '~/common/helpers/formatter'
  import { nonRepeatingAsks, nonRepeatingBids } from '~/common/helpers/hiveFunctions'

  const marketStore = useMarketStore()

  const orders = computed(() => {
    const orderBookBids = nonRepeatingBids.value
      .slice(0, 10)
      .map((b, index, array) => {
        const volume = array.reduce((result, obj, i) => (i <= index ? result + obj.hbd / 1000 : result), 0)
        return { ...b, buy: true, volume }
      })
      .slice(0, 10)
    const orderBookAsks = nonRepeatingAsks.value
      .slice(0, 10)
      .map((b, index, array) => {
        const volume = array.reduce((result, obj, i) => (i <= index ? result + obj.hbd / 1000 : result), 0)
        return { ...b, buy: false, volume }
      })
      .slice(0, 10)
      .reverse()

    return orderBookAsks.concat(orderBookBids)
  })

  const impactUpwardsHive = computed(() =>
    marketStore.market.orderBook.asks
      .filter(obj => parseFloat(obj.real_price) <= parseFloat(marketStore.market.orderBook.asks.at(0).real_price) * 1.02)
      .reduce((result, obj) => {
        return result + parseFloat(obj.order_price.base.includes('HIVE') ? obj.order_price.base.split(' ')[0] : obj.order_price.quote.split(' ')[0])
      }, 0)
      .toFixed(3)
  )
  const impactUpwardsHbd = computed(() =>
    marketStore.market.orderBook.asks
      .filter(obj => parseFloat(obj.real_price) <= parseFloat(marketStore.market.orderBook.asks.at(0).real_price) * 1.02)
      .reduce((result, obj) => {
        return result + parseFloat(obj.order_price.base.includes('HBD') ? obj.order_price.base.split(' ')[0] : obj.order_price.quote.split(' ')[0])
      }, 0)
      .toFixed(3)
  )

  const impactDownwardsHive = computed(() =>
    marketStore.market.orderBook.bids
      .filter(obj => parseFloat(obj.real_price) <= parseFloat(marketStore.market.orderBook.bids.at(0).real_price) * 1.02)
      .reduce((result, obj) => {
        return result + parseFloat(obj.order_price.base.includes('HIVE') ? obj.order_price.base.split(' ')[0] : obj.order_price.quote.split(' ')[0])
      }, 0)
      .toFixed(3)
  )
  const impactDownwardsHbd = computed(() =>
    marketStore.market.orderBook.bids
      .filter(obj => parseFloat(obj.real_price) <= parseFloat(marketStore.market.orderBook.bids.at(0).real_price) * 1.02)
      .reduce((result, obj) => {
        return result + parseFloat(obj.order_price.base.includes('HBD') ? obj.order_price.base.split(' ')[0] : obj.order_price.quote.split(' ')[0])
      }, 0)
      .toFixed(3)
  )

  onMounted(async () => {})
</script>
