<template>
  <div class="flex flex-col rounded-md shadow ring-1 ring-black ring-opacity-5">
    <div class="overflow-x-auto">
      <div class="inline-block w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-500">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" colspan="3" class="whitespace-nowrap px-4 py-2 text-left text-sm font-medium text-gray-900 dark:text-gray-100">
                  Trade History
                </th>
              </tr>
            </thead>
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" width="33%" class="dark:text-gray-100 pl-3 pr-2 py-1 text-left text-xs text-gray-900">Price (HBD)</th>
                <th scope="col" width="33%" class="dark:text-gray-100 px-2 py-1 text-right text-xs text-gray-900">HIVE</th>
                <th scope="col" width="33%" class="dark:text-gray-100 px-2 py-1 text-right text-xs text-gray-900">Time</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-300 dark:divide-slate-500 bg-white dark:bg-slate-700">
              <tr v-if="!tradeHistory.length">
                <td :colspan="5" class="dark:text-gray-100 whitespace-nowrap pl-3 pr-2 py-2 text-center text-sm text-gray-500">Loading ...</td>
              </tr>
              <tr v-for="(trade, index) in historyPaginated[historyActivePage]" :key="index">
                <td
                  class="dark:text-gray-100 whitespace-nowrap px-2 py-1.5 text-left text-xs font-medium"
                  :class="trade.taker === 'HIVE' ? 'text-green-600' : 'text-red-500'"
                >
                  <div class="relative flex flex-col ml-1">
                    <div class="cursor-pointer relative z-10 w-fit group" @click="onClickPriceHbd(parseFloat(trade.HBD) / parseFloat(trade.HIVE))">
                      <span>{{ (parseFloat(trade.HBD) / parseFloat(trade.HIVE)).toFixed(4) }}</span>
                      <div class="absolute w-fit mx-auto bottom-0 -right-4 flex-col items-center invisible mb-6 group-hover:visible">
                        <span
                          class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                        >
                          {{ (parseFloat(trade.HBD) / parseFloat(trade.HIVE)).toFixed(5) }}
                        </span>
                      </div>
                    </div>
                  </div>
                </td>

                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-1.5 text-right text-xs">{{ formatCurrency(trade.HIVE, '0,0.000') }}</td>

                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-1.5 text-right text-xs text-gray-500">
                  {{ timeSince(new Date(trade.date)) }}
                </td>
              </tr>
            </tbody>
          </table>

          <nav class="overflow-x-auto flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
            <div class="-mt-px flex w-0 flex-1"></div>
            <div class="md:-mt-px md:flex">
              <button
                v-for="index in historyPaginated.length"
                class="inline-flex items-center border-t-2 border-transparent px-2 py-2 text-xs font-medium hover:border-gray-300 hover:text-gray-700"
                @click="onClickOnPage(index)"
                :class="
                  index.toString() === (historyActivePage + 1).toString()
                    ? 'font-extrabold border-t-2 border-emerald-600 text-xs  text-emerald-600'
                    : 'font-medium text-gray-400 dark:text-gray-100'
                "
              >
                {{ index }}
              </button>
            </div>
            <div class="-mt-px flex w-0 flex-1 justify-end"></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { timeSince } from '~/common/helpers/formatter'
  import { useMarketStore } from '~/stores/market'
  import { formatCurrency } from '~/common/helpers/formatter'

  const marketStore = useMarketStore()

  const tradeHistory = ref<
    Array<{
      date: string
      HBD: number
      HIVE: number
      current_pays: string
      open_pays: string
      maker: string
      taker: string
    }>
  >([])

  const historyPaginated = computed(() => {
    let size = 16
    let arrayOfArrays = []
    for (let i = 0; i < tradeHistory.value.length; i += size) {
      arrayOfArrays.push(tradeHistory.value.slice(i, i + size))
    }

    return arrayOfArrays
  })

  const historyActivePage = ref(0)
  const onClickOnPage = (page: number) => {
    historyActivePage.value = page - 1
  }

  const onClickPriceHbd = ratio => {
    marketStore.setHIVEHBD(ratio)
  }
  const onClickHivePerHbd = ratio => {
    marketStore.setHBDHIVE(ratio)
  }

  const updateHistory = async () => {
    tradeHistory.value = await marketStore.updateTradeHistory()
    if (tradeHistory.value[0].date) {
      tradeHistory.value = tradeHistory.value.reverse().map(trade => ({
        ...trade,
        HIVE: parseFloat((trade.current_pays.includes('HIVE') ? trade.current_pays : trade.open_pays).split(' ')[0]).toFixed(3),
        HBD: parseFloat((trade.current_pays.includes('HBD') ? trade.current_pays : trade.open_pays).split(' ')[0]).toFixed(3),
        maker: trade.current_pays.split(' ')[1],
        taker: trade.open_pays.split(' ')[1]
      }))
    }
  }

  const refreshTimer = ref()
  onMounted(async () => {
    await updateHistory()

    refreshTimer.value = setInterval(async () => {
      await updateHistory()
    }, 20000)
  })

  onBeforeUnmount(() => {
    if (refreshTimer.value) {
      clearInterval(refreshTimer.value)
    }
  })
</script>
