<template>
  <div>
    <div class="bg-white dark:bg-slate-800 pt-8 pb-5 px-4 shadow sm:rounded-lg xl:px-10 mb-3">
      <div class="max-w-7xl mx-auto">
        <!-- route -->
        <div class="flex flex-col gap-2 mx-2 sm:mx-0">
          <!-- <div class="flex items-center justify-between mb-8">
            <div class="flex items-center justify-start gap-2">
              <h1 class="text-xl font-bold col-span-1 uppercase">{{ $t('routes.find_best_route') }}</h1>
            </div>
          </div> -->

          <!-- input fields -->
          <div class="flex flex-col xl:flex-row items-start xl:items-end justify-between gap-5 bg-white dark:bg-slate-800">
            <div class="flex flex-col items-start justify-center gap-5 w-full">
              <div class="w-full flex flex-col md:flex-row shrink-0 items-start justify-start gap-4 md:gap-8">
                <div class="flex items-center justify-start gap-2">
                  <p class="block text-base text-right font-medium text-gray-500 dark:text-gray-400 w-[70px]">
                    {{ $t('routes.amount') }}
                  </p>
                  <div class="relative rounded-md shadow-sm">
                    <input
                      v-model="startingAmount"
                      type="number"
                      name="amountIn"
                      id="amountIn"
                      min="0"
                      class="block sm:w-[200px] rounded-md py-1.5 shadow-sm bg-white dark:bg-slate-800 text-gray-900 dark:text-white border border-gray-300 dark:border-slate-500 placeholder:text-gray-400 focus:ring-emerald-600 dark:focus:ring-emerald-400 focus:border-emerald-600 dark:focus:border-emerald-400 focus:outline-none text-sm leading-6"
                      placeholder="0.00"
                    />
                  </div>
                </div>
              </div>

              <div class="flex flex-col md:flex-row shrink-0 items-start sm:items-center justify-start gap-4 lg:gap-8">
                <div class="flex items-center justify-start gap-2">
                  <p class="block text-base text-right font-medium text-gray-500 dark:text-gray-400 w-[70px] capitalize">
                    {{ $t('routes.from') }}
                  </p>
                  <div class="w-full sm:w-[250px]">
                    <TokenDropdown
                      :tokens="tokensFrom"
                      :locations="supportedLocations"
                      :current-token="tokenFrom"
                      :current-location="locationFrom"
                      @change="updateTokenAndLocationFrom"
                    />
                  </div>
                </div>
                <div class="flex items-center justify-start gap-2">
                  <p class="block text-base text-right font-medium text-gray-500 dark:text-gray-400 w-[70px]">
                    {{ $t('routes.located') }}
                  </p>
                  <div class="w-full sm:w-[250px]">
                    <LocationDropdown :locations="supportedLocations" :current-location="locationFrom" @change="updateLocationFrom" />
                  </div>
                </div>
              </div>

              <!-- <button @click="switchTokensAndLocations" class="self-center rounded-full p-2 text-white dark:text-slate-800 bg-emerald-600 dark:bg-emerald-400">
                <SwitchVerticalIcon class="h-5 w-5" aria-hidden="true" />
                </button> -->

              <div class="flex flex-col md:flex-row shrink-0 items-start sm:items-center justify-start gap-4 lg:gap-8">
                <div class="flex items-center justify-start gap-2">
                  <p class="block text-base text-right font-medium text-gray-500 dark:text-gray-400 w-[70px] capitalize">
                    {{ $t('routes.to') }}
                  </p>
                  <div class="w-full sm:w-[250px]">
                    <TokenDropdown
                      :tokens="tokensTo"
                      :locations="supportedLocations"
                      :current-token="tokenTo"
                      :current-location="locationTo"
                      @change="updateTokenAndLocationTo"
                    />
                  </div>
                </div>
                <div class="flex items-center justify-start gap-2">
                  <p class="block text-base text-right font-medium text-gray-500 dark:text-gray-400 w-[70px]">
                    {{ $t('routes.located') }}
                  </p>
                  <div class="w-full sm:w-[250px]">
                    <LocationDropdown :locations="supportedLocations" :current-location="locationTo" @change="updateLocationTo" />
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-col sm:flex-row xl:flex-col items-start xl:items-end xl:justify-end justify-between gap-5 w-full">
              <div class="flex items-center justify-start gap-2">
                <p class="block text-base font-medium text-gray-500 dark:text-gray-400">
                  {{ $t('routes.max_steps') }}
                </p>
                <div class="w-44">
                  <OptionsDropdown :elements="supportedSteps" :current="stepCount" @change="stepCount = $event" class="w-full" />
                </div>
              </div>

              <div>
                <button
                  class="w-full inline-flex items-center justify-center gap-1 rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-600 dark:focus:ring-emerald-400 sm:mt-0 sm:w-auto sm:text-sm"
                  @click="showExcludeLocations = true"
                >
                  <span>{{ $t('routes.exclude_locations_and_services') }}</span>
                </button>
              </div>
            </div>
          </div>

          <hr class="mt-3 mb-2 border-gray-300 dark:border-gray-700" />

          <div class="flex items-center justify-between mt-10 lg:mt-0">
            <div>
              <template v-if="availableTokenRoutes.length && availableTokenRoutes[0][0]?.price">
                <p class="flex items-center text-base text-gray-600 dark:text-gray-300">
                  <span class="mr-2">{{ $t('routes.current_price') }}</span>
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold"
                    >{{ formatCurrency(availableTokenRoutes[0][0].amount, formatDecimals(availableTokenRoutes[0][0].amount)) }}
                    {{ availableTokenRoutes[0][0].token }}</span
                  >
                  <ChevronDoubleRightIcon class="h-4 w-auto mx-2"></ChevronDoubleRightIcon>
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold mr-1"
                    >${{ formatCurrency(availableTokenRoutes[0][0].price, formatDecimals(availableTokenRoutes[0][0].price)) }}</span
                  >
                  <sup
                    ><span
                      class="align-middle font-semibold text-xs w-full"
                      v-tippy="{
                        content: calculatePriceContent,
                        arrow: true,
                        delay: 100,
                        placement: 'top',
                        maxWidth: '100%',
                        theme: darkMode ? 'night' : 'day',
                        allowHTML: true,
                        interactive: true,
                        popperOptions: {
                          strategy: 'fixed'
                        }
                      }"
                      ><InformationCircleIcon class="h-4 w-auto text-gray-400"></InformationCircleIcon></span
                  ></sup>
                </p>
                <p class="mt-0.5 text-xs text-gray-500 dark:text-gray-400"><sup>*</sup>{{ $t('routes.verify_routes_message') }}</p>
              </template>
              <p v-else class="text-xs text-gray-500 dark:text-gray-400"><sup>*</sup>{{ $t('routes.verify_routes_message') }}</p>
            </div>

            <div class="flex items-center justify-center">
              <button
                @click="getAvailableRoutes"
                type="button"
                class="w-full justify-self-end inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 sm:w-auto sm:text-sm"
                :class="[
                  !startingAmount || Number(startingAmount) < 0 || !tokenFrom || !tokenTo || isLoading
                    ? 'bg-gray-400 dark:bg-gray-500 cursor-not-allowed'
                    : 'hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-600 dark:focus:ring-emerald-400'
                ]"
              >
                {{ $t('routes.calculate_routes') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="filteredRoutes.length && !isLoading">
      <RoutesTable :filtered-routes="showAll ? availableTokenRoutes : filteredRoutes" :suggested="stepCount === DEFAULT_DEPTH"></RoutesTable>
      <div v-if="availableTokenRoutes.length !== filteredRoutes.length && stepCount !== DEFAULT_DEPTH" class="flex justify-center">
        <button
          type="button"
          class="mt-8 w-full inline-flex justify-center self-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-600 dark:focus:ring-emerald-400 sm:w-auto"
          @click="showAll = !showAll"
        >
          {{ showAll ? $t('routes.filter_1_location') : $t('routes.show_all') }}
        </button>
      </div>
    </div>
  </div>

  <div v-if="isLoading" class="bg-white dark:bg-slate-800 py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <div class="flex items-center justify-center max-w-7xl mx-auto">
      <div class="inline-flex items-center justify-center w-full transition ease-in-out duration-150">
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        {{ $t('routes.scanning_routes') }}...
      </div>
    </div>
  </div>
  <div v-if="missingRoutes && !isLoading && !hasChangedQueryParameters" class="bg-white dark:bg-slate-800 py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <div class="flex items-center justify-center max-w-7xl mx-auto">
      <div class="inline-flex items-center justify-center gap-2 w-full text-red-600 dark:text-red-400">
        <ExclamationIcon class="h-8 w-auto"></ExclamationIcon>
        <span class="text-lg">{{ $t('routes.no_routes_found') }} </span>
      </div>
    </div>
  </div>
  <div v-if="hasChangedQueryParameters && hasRoutes && !isLoading" class="bg-white dark:bg-slate-800 py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <div class="flex flex-col items-center justify-center gap-6 max-w-7xl mx-auto">
      <div class="inline-flex items-center justify-center gap-8 w-full text-gray-600 dark:text-white">
        <span class="text-lg">{{ $t('routes.changed_parameters') }} </span>
      </div>
      <div class="flex items-center justify-center">
        <button
          @click="getAvailableRoutes"
          type="button"
          class="w-full justify-self-end inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 sm:w-auto sm:text-sm"
          :class="[
            !startingAmount || Number(startingAmount) < 0 || !tokenFrom || !tokenTo
              ? 'bg-gray-400 dark:bg-gray-500 cursor-not-allowed'
              : 'hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-600 dark:focus:ring-emerald-400'
          ]"
        >
          {{ $t('routes.calculate_routes') }}
        </button>
      </div>
    </div>
  </div>

  <ExcludeLocationsModal
    :show="showExcludeLocations"
    :elements="parsedLocations"
    :storage-name="LOCAL_STORAGE_FOR_EXCLUDED"
    @close-modal="toggleExcludeLocation"
    @save-excluded-elements="saveExcludedLocations"
  ></ExcludeLocationsModal>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { useRoute } from 'vue-router'
  import { useSettingsStore } from '~/stores/settings'
  import { formatCurrency, formatDecimals } from '~/common/helpers/formatter'
  import { fetchRoutes, fetchLocationsAndTokens } from '~/tokenRoutes/api/tokenRoutesApi'
  import { createDepthObjectsArray } from '~/tokenRoutes/helpers/utils'
  import { locationsIcon } from '../helpers/locations'
  import { ChevronDoubleRightIcon } from '@heroicons/vue/outline'
  import { StarIcon, ExclamationIcon, FlagIcon } from '@heroicons/vue/solid'
  import { InformationCircleIcon } from '@heroicons/vue/solid'
  import top100Tokens from '~/tokenRoutes/helpers/tokens.json'
  import whitelistedLocations from '~/tokenRoutes/helpers/locations.json'
  import TokenDropdown from '~/tokenRoutes/components/TokenDropdown.vue'
  import OptionsDropdown from '~/common/components/OptionsDropdown.vue'
  import LocationDropdown from '~/tokenRoutes/components/LocationDropdown.vue'

  const settingsStore = useSettingsStore()
  const darkMode = ref(settingsStore.settings.darkMode)

  const DEFAULT_DEPTH = 'BEST OF EACH'
  const MIN_DEPTH = 1
  const MAX_DEPTH = 6
  const MAX_NUM_OF_ROUTES = 35
  const LOCAL_STORAGE_FOR_EXCLUDED = 'excludedLocations'
  const calculatePriceContent = `<p>More info on how price is calculated <a href="https://gitlab.com/peakd/token-routes-backend/-/blob/main/README.md?ref_type=heads" target="_blank" class="font-semibold text-emerald-400 dark:text-emerald-600">here</a></p>`
  const supportedSteps = [{ name: DEFAULT_DEPTH, value: DEFAULT_DEPTH }, ...createDepthObjectsArray(MIN_DEPTH, MAX_DEPTH)]

  const router = useRouter()
  const route = useRoute()
  const locationFrom = ref(route.query.li || 'hive')
  const locationTo = ref(route.query.lo || 'hive-engine')
  const startingAmount = ref(route.query.ai || null)
  const availableTokenRoutes: Ref<any[]> = ref([])
  const stepCount = ref(parseInt(route.query.md, 10) || DEFAULT_DEPTH)
  const supportedLocations: Ref<any> = ref({})
  const excludedLocationsByUser: Ref<string[]> = ref([])
  const isLoading = ref(false)
  const missingRoutes = ref(false)
  const showExcludeLocations = ref(false)
  const hasChangedExcludedLocation = ref(false)
  const hasChangedQueryParameters = ref(false)
  const hasRoutes = ref(false)
  const showAll = ref(false)

  const locationsAndTokensData = await fetchLocationsAndTokens()
  const heTokens = Object.keys(locationsAndTokensData.locations['hive-engine'].tokens)
  const swapTokens = heTokens.filter((token: string) => token.includes('SWAP.')).map((token: string) => token.split('.')[1])
  const whitelistedTokens = new Set([...swapTokens, ...top100Tokens, ...heTokens])
  const cctxFilteredTokens = new Set([...swapTokens, ...top100Tokens])

  const toggleExcludeLocation = (open: boolean) => {
    showExcludeLocations.value = false
    getLocationToShow()
  }

  const getExcludedLocations = (localStorageName: string) => {
    const excluded = localStorage.getItem(localStorageName)
    return excluded ? JSON.parse(excluded) : excluded
  }

  const saveExcludedLocations = (locations: string[]) => {
    let excludedLocations = getExcludedLocations(LOCAL_STORAGE_FOR_EXCLUDED)
    if (excludedLocations) {
      hasChangedExcludedLocation.value = !(
        excludedLocations.length === locations.length && excludedLocations.every((element: any, index: number) => element === locations[index])
      )
    } else {
      hasChangedExcludedLocation.value = locations.length ? true : false
    }
    if (!locations.length) {
      localStorage.removeItem(LOCAL_STORAGE_FOR_EXCLUDED)
    } else {
      localStorage.setItem(LOCAL_STORAGE_FOR_EXCLUDED, JSON.stringify(locations))
    }
    excludedLocationsByUser.value = locations
  }

  const getLocationToShow = () => {
    supportedLocations.value = {}
    excludedLocationsByUser.value = getExcludedLocations(LOCAL_STORAGE_FOR_EXCLUDED)
    const services = new Set(Object.values(whitelistedLocations.services))

    Object.keys(parsedLocations.value).forEach((location: string) => {
      parsedLocations.value[location].icon = locationsIcon[location]
      const isSupportedLocation =
        !services.has(parsedLocations.value[location].type) && (!excludedLocationsByUser.value || !excludedLocationsByUser.value.includes(location))
      if (isSupportedLocation) {
        supportedLocations.value[location] = parsedLocations.value[location]
      }
    })
  }

  const parsedLocations = computed(() => {
    const rawLocations = locationsAndTokensData.locations
    // const rawServices = locationsAndTokensData.steps
    const result: any = {}
    const allowedLocations = Object.keys(whitelistedLocations.locations)
    const allowedServices = Object.keys(whitelistedLocations.services)

    for (const location in rawLocations) {
      if (!allowedLocations.includes(location)) {
        continue
      }
      const tokens = rawLocations[location].tokens || {}
      const filteredTokens = Object.keys(tokens).reduce((acc, currentToken) => {
        if (whitelistedTokens.has(currentToken)) {
          acc[currentToken] = tokens[currentToken]
        }
        return acc
      }, {})

      result[location] = { ...rawLocations[location], tokens: filteredTokens }
    }

    for (const action of allowedServices) {
      result[action] = { type: whitelistedLocations.services[action] }
    }

    return result
  })

  const tokensFrom = ref(Object.keys(parsedLocations.value[locationFrom.value.toString()]?.tokens))
  const tokenFrom = ref(tokensFrom.value.includes(route.query.ti) ? route.query.ti : tokensFrom.value[0])
  const tokensTo = ref(Object.keys(parsedLocations.value[locationTo.value.toString()]?.tokens))
  const tokenTo = ref(tokensTo.value.includes(route.query.to) ? route.query.to : tokensTo.value[0])

  const updateTokenAndLocationFrom = (token: string, location?: string) => {
    if (location) {
      locationFrom.value = location
    }
    tokenFrom.value = token
  }

  const updateTokenAndLocationTo = (token: string, location?: string) => {
    if (location) {
      locationTo.value = location
    }
    tokenTo.value = token
  }

  const updateLocationFrom = (location: string) => {
    locationFrom.value = location
    const tokensInLocation = Object.keys(supportedLocations.value[location].tokens)
    tokensFrom.value = tokensInLocation
    if (!tokensInLocation.includes(tokenFrom.value)) {
      tokenFrom.value = tokensInLocation[0]
    }
  }

  const updateLocationTo = (location: string) => {
    locationTo.value = location
    const tokensInLocation = Object.keys(supportedLocations.value[location].tokens)
    tokensTo.value = tokensInLocation
    if (!tokensInLocation.includes(tokenTo.value)) {
      tokenTo.value = tokensInLocation[0]
    }
  }

  // const switchTokensAndLocations = () => {
  //   ;[locationFrom.value, locationTo.value] = [locationTo.value, locationFrom.value]
  //   ;[tokenFrom.value, tokenTo.value] = [tokenTo.value, tokenFrom.value]
  // }

  const mapBestResults = (rank?: string) => {
    const defaultLabelStyle = 'inline-flex rounded-md px-2 bg-gray-400/65 dark:bg-slate-800/50 text-white'
    switch (rank) {
      case 'best_overall':
        return {
          text: 'Best',
          rank: 1,
          text_style: defaultLabelStyle,
          icon: StarIcon,
          icon_style: 'h-5 w-5 text-yellow-400'
        }
      case 'best_excluded':
        return {
          text: 'Best W/Excluded location',
          text_style: defaultLabelStyle,
          rank: 2,
          icon: FlagIcon,
          icon_style: 'h-5 w-5 text-orange-500'
        }
      case 'best_no_fee':
        return {
          text: 'Best W/Missing fee',
          rank: 3,
          text_style: 'inline-flex rounded-md px-2 bg-red-500 text-white',
          icon: ExclamationIcon,
          icon_style: 'h-5 w-5 text-red-500'
        }
      default:
        return { text_style: defaultLabelStyle }
    }
  }

  const checkForMissingFee = (route: any) => {
    return route.slice(1).some((step: any) => step.fee === undefined)
  }

  const filteredRoutes = computed(() => {
    if (stepCount.value === DEFAULT_DEPTH) {
      return availableTokenRoutes.value
    }
    let oneLocationRoutes = 0
    const filtered = [...availableTokenRoutes.value].filter(route => {
      if (route.length - 1 > Number(stepCount.value)) {
        return false
      }

      const locations: string[] = []
      for (const step of route) {
        locations.push(step.location)
      }

      const isOneLocation = new Set(locations).size === 1
      if (isOneLocation) {
        oneLocationRoutes += 1
      }
      return isOneLocation && oneLocationRoutes > 3 ? false : true
    })

    return filtered
  })

  // helper functions for auto-default option
  const findBestRouteWithExcluded = async (stepsLength: number | string) => {
    if (typeof stepsLength === 'string') {
      stepsLength = MAX_DEPTH
    }
    try {
      const routesWithExcluded = await fetchRoutes(
        stepsLength,
        `${tokenFrom.value}`,
        `${locationFrom.value}`,
        `${tokenTo.value}`,
        `${locationTo.value}`,
        Number(startingAmount.value),
        MAX_NUM_OF_ROUTES,
        '',
        {
          'ccxt,simpleswap': { white: [...cctxFilteredTokens] }
        }
      )

      const bestWithExcluded = routesWithExcluded.result.find(
        (route: any) =>
          !checkForMissingFee(route) &&
          route.some(({ step, location }) => {
            const action = step?.includes(':') ? step.split(':')[0] : ''
            return [location, action].some(item => excludedLocationsByUser.value.includes(item))
          })
      )
      if (bestWithExcluded) {
        bestWithExcluded[bestWithExcluded.length - 1].rank = mapBestResults('best_excluded')
      }
      return bestWithExcluded
    } catch (error: any) {
      alert('Encountering problems while fetching routes')
      console.log(error.message)
    }
  }

  const findTopRoutes = async () => {
    let bestWithFee: any = null
    let bestMissingFee = null
    let bestRoutes: any = []
    let bestRoutesMap = new Set()

    const processRoutes = (routes: any, checkFee: Function, best: any, length: number, bestRouteRankKey: string) => {
      const filteredRoutes = routes.filter((route: any) => checkFee(route))
      if (!filteredRoutes.length) return []

      if (!best) {
        best = filteredRoutes[0]
        best[best.length - 1].rank = mapBestResults(bestRouteRankKey)
        bestRoutes.push(best)
        if (bestRouteRankKey === 'best_overall') {
          bestRoutesMap.add(best.length - 1)
          bestWithFee = best
        } else {
          bestMissingFee = best
        }
      }
      return filteredRoutes.filter((route: any) => route.length === length + 1).slice(best.length === length + 1 ? 1 : 0, 3)
    }

    for (let routeLength = MAX_DEPTH; routeLength > 0; routeLength--) {
      try {
        const routes = await fetchRoutes(
          routeLength,
          `${tokenFrom.value}`,
          `${locationFrom.value}`,
          `${tokenTo.value}`,
          `${locationTo.value}`,
          Number(startingAmount.value),
          MAX_NUM_OF_ROUTES,
          excludedLocationsByUser.value ? excludedLocationsByUser.value.join(',') : 'none',
          {
            'ccxt,simpleswap': { white: [...cctxFilteredTokens] }
          }
        )

        const routesWithFee = processRoutes(routes.result, (route: any) => !checkForMissingFee(route), bestWithFee, routeLength, 'best_overall')
        const routesMissingFee = processRoutes(routes.result, checkForMissingFee, bestMissingFee, routeLength, 'best_no_fee')

        bestRoutes = bestRoutes.concat(routesWithFee, routesMissingFee)
      } catch {
        console.log('Error fetching routes')
      }
    }

    bestRoutes.reduce((acc: Set<number>, curr: any) => {
      if (!acc.has(curr.length - 1) && !curr[curr.length - 1].rank) {
        curr[curr.length - 1].rank = {
          ...mapBestResults(),
          text: `Best ${curr.length - 1} steps route`
        }
        acc.add(curr.length - 1)
      }
      return acc
    }, bestRoutesMap)

    return bestRoutes
  }

  const findRoutes = async () => {
    try {
      const routes = await fetchRoutes(
        Number(stepCount.value),
        `${tokenFrom.value}`,
        `${locationFrom.value}`,
        `${tokenTo.value}`,
        `${locationTo.value}`,
        Number(startingAmount.value),
        MAX_NUM_OF_ROUTES,
        excludedLocationsByUser.value ? excludedLocationsByUser.value.join(',') : 'none',
        {
          'ccxt,simpleswap': { white: [...cctxFilteredTokens] }
        }
      )

      console.log(routes)

      if (!routes.success || !routes.result.length) {
        missingRoutes.value = true
        return routes.result
      }

      routes.result[0][routes.result[0].length - 1].rank = mapBestResults('best_overall')
      const mapBest = new Set([routes.result[0].length - 1])

      routes.result.forEach((route: any) => {
        if (!mapBest.has(route.length - 1)) {
          route[route.length - 1].rank = {
            ...mapBestResults(),
            text: `Best ${route.length - 1} steps route`
          }
          mapBest.add(route.length - 1)
        }
      })
      return routes.result
    } catch (error: any) {
      missingRoutes.value = true
      console.log(error.message)
      return []
    }
  }

  const getAvailableRoutes = async () => {
    hasRoutes.value = true
    availableTokenRoutes.value = []
    missingRoutes.value = false
    hasChangedQueryParameters.value = false
    if (!startingAmount.value || Number(startingAmount.value) < 0 || !tokenFrom.value || !tokenTo.value || isLoading.value) {
      return
    }
    const queryParams = {
      md: typeof stepCount.value === 'string' ? stepCount.value.replace(/\s/g, '_') : stepCount.value,
      ti: tokenFrom.value,
      li: locationFrom.value,
      ai: startingAmount.value,
      to: tokenTo.value,
      lo: locationTo.value,
      mp: MAX_NUM_OF_ROUTES
    }
    isLoading.value = true

    if (excludedLocationsByUser.value) {
      const bestRouteWithExcluded = await findBestRouteWithExcluded(stepCount.value)
      if (bestRouteWithExcluded) {
        availableTokenRoutes.value.push(bestRouteWithExcluded)
      }
    }

    if (stepCount.value === DEFAULT_DEPTH) {
      const topRoutes = await findTopRoutes()
      if (topRoutes.length) {
        availableTokenRoutes.value = availableTokenRoutes.value.concat(topRoutes)
      }
      router.push({
        path: route.path,
        query: {
          ...queryParams,
          sl: excludedLocationsByUser.value ? excludedLocationsByUser.value.join(',') : 'none'
        }
      })
      isLoading.value = false
    } else {
      const routes = await findRoutes()

      router.push({
        path: route.path,
        query: {
          ...queryParams,
          sl: excludedLocationsByUser.value ? excludedLocationsByUser.value.join(',') : 'none'
        }
      })

      availableTokenRoutes.value = availableTokenRoutes.value.concat(routes)

      isLoading.value = false
    }
    if (!availableTokenRoutes.value.length) {
      missingRoutes.value = true
    }
    console.log(availableTokenRoutes.value)
    return
  }

  //lifecycle hooks
  onMounted(() => {
    getLocationToShow()
    if (
      Number(startingAmount.value) > 0 &&
      tokenFrom.value === route.query.ti &&
      locationFrom.value === route.query.li &&
      tokenTo.value === route.query.to &&
      locationTo.value === route.query.lo
    ) {
      getAvailableRoutes()
    }
  })

  watch(
    () => [startingAmount.value, tokenFrom.value, locationFrom.value, tokenTo.value, locationTo.value, stepCount.value, hasChangedExcludedLocation.value],
    () => {
      availableTokenRoutes.value = []
      hasChangedExcludedLocation.value = false
      hasChangedQueryParameters.value = true
    }
  )
</script>
