<template>
  <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
    <div class="flex w-full flex-col items-center space-y-4">
      <transition
        enter-active-class="transform ease-out duration-300 transition"
        enter-from-class="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
        enter-to-class="translate-y-0 opacity-100 sm:translate-x-0"
        leave-active-class="transition ease-in duration-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div
          v-if="show"
          class="pointer-events-auto min-w-fit overflow-hidden rounded-lg bg-slate-900 dark:bg-gray-100 shadow-lg ring-1 ring-black ring-opacity-5"
        >
          <div class="p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0">
                <CheckCircleIcon class="h-6 w-6 text-emerald-400 dark:text-emerald-600" aria-hidden="true" />
              </div>
              <div class="ml-2 min-w-fit flex-1 pt-0.5">
                <p class="text-sm font-medium text-white dark:text-slate-900">{{ confirmationTitle }}</p>
                <p class="mt-1 text-sm text-gray-100 dark:text-slate-800">{{ confirmationMessage }}</p>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { CheckCircleIcon } from '@heroicons/vue/solid'

  const props = defineProps<{ show: boolean; confirmationTitle: string; confirmationMessage: string }>()
</script>
