<template>
  <TransitionRoot as="template" :show="open">
    <Dialog class="relative z-10">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="relative transform overflow-hidden rounded-lg bg-gray-100 dark:bg-slate-900 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6"
            >
              <div>
                <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-transparent animate-bounce">
                  <GiftIcon class="h-10 w-10 text-emerald-600 dark:text-emerald-400" aria-hidden="true" />
                </div>
                <div class="text-center">
                  <DialogTitle as="h3" class="text-base font-semibold leading-6 text-gray-900 dark:text-white">{{ title }}</DialogTitle>
                  <div class="mt-2">
                    <p class="text-sm text-gray-600 dark:text-gray-300">{{ message }}</p>
                  </div>
                </div>
              </div>
              <div class="w-full bg-gray-300 dark:bg-slate-700 rounded-full h-6 overflow-hidden my-4">
                <div class="bg-emerald-600 dark:bg-emerald-400 h-full transition-all duration-100 ease-linear" :style="{ width: progress + '%' }"></div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { ref } from 'vue'
  import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
  import { GiftIcon } from '@heroicons/vue/outline'

  const props = defineProps<{ open: boolean; title: string; message: string; duration: number }>()

  const progress = ref(0)

  const startProgress = () => {
    progress.value = 0
    const startTime = Date.now()
    const timer = setInterval(() => {
      const elapsedTime = Date.now() - startTime
      progress.value = (elapsedTime / props.duration) * 100

      if (elapsedTime >= props.duration) {
        clearInterval(timer)
        progress.value = 100
      }
    }, 100)
  }

  watch(
    () => props.open,
    newVal => {
      if (newVal) {
        startProgress()
      }
    },
    { immediate: true }
  )
</script>
