<template>
  <Dialog as="div" class="relative z-10" @close="$emit('close')">
    <TransitionChild
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    >
      <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
    </TransitionChild>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <DialogPanel
            class="relative bg-white dark:bg-slate-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-xl sm:w-full p-8"
          >
            <div class="min-h-full flex flex-col justify-center">
              <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <h2 class="text-center mt-3 text-3xl font-bold text-gray-900 dark:text-gray-100">{{ title }}</h2>
              </div>

              <div v-html="content" class="mt-6 relative text-gray-800 dark:text-white whitespace-pre"></div>
              <div class="mt-4">
                <button
                  @click="$emit('close')"
                  class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 dark:border-slate-500 rounded-md shadow-sm bg-white dark:bg-slate-800 text-sm font-medium text-gray-500 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700"
                >
                  {{ closeText }}
                </button>
              </div>
            </div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
  const emit = defineEmits(['close'])

  const props = defineProps({
    title: { type: String, default: 'Title' },
    content: { type: String, default: '' },
    closeText: { type: String, default: 'Close' }
  })
</script>
