<template>
  <Dialog as="div" class="relative z-10" @close="$emit('close')">
    <TransitionChild
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    >
      <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
    </TransitionChild>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <DialogPanel
            class="relative bg-white dark:bg-slate-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-md sm:w-full sm:p-6"
          >
            <div class="min-h-full flex flex-col justify-center">
              <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto h-12 w-auto" :src="LogoIcon" />
                <h2 class="text-center mt-6 text-3xl font-extrabold text-gray-900 dark:text-gray-100">Swapped!</h2>
              </div>

              <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="mt-6">
                  <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                      <div class="w-full border-t border-gray-300" />
                    </div>
                    <div class="relative flex justify-center text-sm">
                      <span class="px-2 bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-300"> Swap summary </span>
                    </div>
                  </div>

                  <div class="mt-6 grid gap-3">
                    <table class="min-w-full divide-y divide-gray-300">
                      <thead class="bg-gray-50 dark:bg-slate-800">
                        <tr>
                          <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                            <div class="flex items-center justify-center">Counterpart</div>
                          </th>

                          <th class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                            <div class="flex items-center justify-center">Given</div>
                          </th>

                          <th class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                            <div class="flex items-center justify-center">Taken</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-200 bg-white dark:bg-slate-700">
                        <tr v-for="(trade, index) of filledOrders" :key="trade" @click="openNewTab()">
                          <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">@{{ trade.open_owner }}</td>
                          <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">
                            <a href="/tx/{{props.transaction_id}}" target="_blank" rel="noopener noreferrer">
                              {{ trade.current_pays }}
                            </a>
                          </td>

                          <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">
                            <a href="/tx/{{props.transaction_id}}" target="_blank" rel="noopener noreferrer">
                              {{ trade.open_pays }}
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
  import LogoIcon from '~/assets/images/hivehub_icon.svg'
  import { getBlocks, getTransaction, getOpsInBlock } from '~/common/api/hiveApi'

  const props = defineProps<{
    transaction_id: string
    block_num: number
    orderid: number
  }>()
  const filledOrders = ref({})
  const openNewTab = () => {
    window.open('/tx/' + props.transaction_id, '_blank')
  }
  const emit = defineEmits(['close'])
  onMounted(async () => {
    const response = await getTransaction(props.transaction_id)

    const opsInBlock = (await getOpsInBlock(props.block_num, true))
      .filter(obj => {
        return obj.trx_id === props.transaction_id
      })
      .map(obj => obj.op[1])
    filledOrders.value = opsInBlock
  })
</script>
