<template>
  <div class="bg-white dark:bg-slate-800 p-6 shadow sm:rounded-lg xl:px-10">
    <div class="max-w-7xl mx-auto space-y-6">
      <div class="pb-6 border-b border-gray-300 dark:border-gray-700">
        <p class="text-gray-600 dark:text-gray-300 mb-4">
          {{ $t('raffle.message') }}
        </p>

        <div class="flex items-center justify-between gap-4">
          <!-- <ButtonsGroup :tabs="tabs" /> -->
          <div class="shrink-0 my-2">
            <div class="sm:hidden">
              <label for="tabs" class="sr-only">Select</label>
              <select
                id="tabs"
                name="tabs"
                class="block w-full focus:ring-emerald-500 focus:border-emerald-500 dark:focus:border-emerald-100 border-gray-300 dark:border-slate-500 rounded-md"
              >
                <option v-for="tab in tabs.filter(t => t.enabled)" :key="tab.name" :selected="tab.value === action">{{ tab.name }}</option>
              </select>
            </div>
            <div class="hidden sm:block">
              <nav
                class="relative z-0 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 flex divide-x divide-gray-200 dark:divide-slate-600"
                aria-label="Tabs"
              >
                <button
                  v-for="(tab, tabIdx) in tabs"
                  @click="action = tab.enabled ? tab.value : action"
                  :key="tab.name"
                  :class="[
                    tab.value === action
                      ? 'text-emerald-600 dark:text-emerald-400 font-semibold underline decoration-2 underline-offset-2'
                      : 'text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 ',
                    { 'rounded-l-lg': tabIdx === 0 },
                    { 'rounded-r-lg': tabIdx === tabs.length - 1 },
                    tab.enabled ? 'hover:bg-gray-50 dark:hover:bg-slate-700 focus:z-10' : 'cursor-not-allowed text-gray-400 hover:text-gray-400'
                  ]"
                  class="group relative bg-white dark:bg-slate-800 py-2 px-4 text-sm text-center"
                  :aria-current="tab.value === action ? 'page' : undefined"
                >
                  <span>{{ tab.name }}</span>
                </button>
              </nav>
            </div>
          </div>

          <!-- <a
            :href="`/raffles/@${accountStore.account.name}`"
            target="_blank"
            class="w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 font-medium text-gray-600 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto text-sm"
          >
            Show @{{ accountStore.account.name }} raffles
          </a> -->
        </div>
      </div>
      <div class="flex flex-wrap items-center justify-between gap-12 w-full">
        <div class="flex flex-wrap items-center justify-between w-full md:w-fit gap-6 md:gap-12 lg:gap-40">
          <div class="relative z-0 group">
            <label
              for="num_winners"
              class="inline-block bg-white dark:bg-slate-800 px-1 text-sm font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
              >{{ $t('raffle.num_winners') }}</label
            >
            <input
              v-model="winners"
              @keydown="allowOnlyPositiveIntegers"
              type="text"
              name="num_winners"
              id="num_winners"
              autocomplete="off"
              class="w-full block rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
              required
            />
          </div>

          <div class="relative z-0 group flex flex-col justify-center items-center">
            <label
              for="duplicate"
              class="inline-block bg-white dark:bg-slate-800 px-1 text-sm font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
              >{{ $t('raffle.duplicate') }}</label
            >
            <RadioGroup @change="setDuplicate" :options="radioData.options" :current="radioData.current" class="-mt-3" />
          </div>
        </div>

        <div v-if="action === 'create'" class="relative z-0 group w-full md:w-fit">
          <label
            for="title"
            class="inline-block bg-white dark:bg-slate-800 px-1 text-sm font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
            >{{ $t('proposals.title') }}</label
          >
          <input
            v-model="title"
            type="text"
            name="title"
            id="title"
            autocomplete="off"
            class="block w-full md:w-[300px] lg:w-[400px] rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-500 focus:dark:ring-emerald-300 text-sm sm:leading-6"
            required
          />
        </div>
      </div>

      <div class="w-full my-8">
        <div class="my-4 text-sm text-gray-900 dark:text-gray-100">
          <div class="relative z-0 group">
            <div class="flex items-center justify-start gap">
              <label
                for="body"
                class="inline-block bg-white dark:bg-slate-800 px-1 text-sm font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                >{{ $t('raffle.data') }}</label
              >
              <button @click="toggleInfoModal(true)" class="rounded-md text-gray-400">
                <span
                  class="text-[10px] sm:text-xs text-gray-400"
                  v-tippy="{
                    content: 'Click to see acceptable input formats',
                    arrow: true,
                    delay: 100,
                    placement: 'top',
                    maxWidth: '100%',
                    theme: darkMode ? 'night' : 'day',
                    popperOptions: {
                      strategy: 'fixed'
                    }
                  }"
                >
                  <InformationCircleIcon class="h-4 w-4 hover:text-gray-600 dark:hover:text-gray-200 transition duration-300"
                /></span>
              </button>
            </div>
            <textarea
              v-model="data"
              rows="10"
              name="data"
              id="data"
              autocomplete="off"
              class="block w-full rounded-md border-0 my-0.5 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
              required
            />
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center justify-between gap-8">
        <div class="flex items-center justify-start gap-4 flex-wrap">
          <OptionsDropdown @change="setModel" :elements="sampleModels" :current="sampleModel" :read-only="true"></OptionsDropdown>
          <input
            v-if="sampleModel != 'random'"
            v-model="sampleData"
            type="text"
            :placeholder="sampleModel === 'block' ? 'Add block' : 'Add string'"
            :class="sampleModel === 'block' ? 'w-[200px]' : 'w-[400px]'"
            class="block w-[200px] rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-500 focus:dark:ring-emerald-300 text-sm sm:leading-6"
          />
        </div>
        <button
          v-if="action === 'verify'"
          @click="test"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto text-sm"
        >
          Verify Raffle
        </button>
        <button
          v-else
          @click="create"
          class="w-full inline-flex justify-center rounded-md border border-transparent font-medium shadow-sm px-4 py-2 sm:mt-0 sm:w-auto text-sm text-white dark:text-slate-800"
          :class="[
            isLoading
              ? 'cursor-not-allowed bg-gray-400 hover:bg-gray-400 text-slate-800'
              : 'bg-emerald-600 dark:bg-emerald-400 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 '
          ]"
          :disabled="isLoading"
        >
          Create Raffle
        </button>
      </div>
    </div>

    <!-- <div v-if="success" class="mt-3 text-green-500">
        <a :href="`/raffles/${success}`" target="_blank">
          Raffle created. Click here to visit the result page after 10 seconds to find out the results.
        </a>
      </div>
      <div v-if="error" class="mt-3 text-red-500">{{ error }}</div> -->
    <div v-if="R != null" class="mt-16">
      <h3 class="text-2xl">{{ resultsType }}</h3>
      <hr class="mt-2 mb-3 border-gray-300 dark:border-gray-700" />
      <div class="px-4 w-full">
        <table class="w-full mt-1 table-auto">
          <thead class="font-semibold text-center text-sm text-gray-900 dark:text-gray-100">
            <th class="text-left px-2 py-1">#</th>
            <th class="text-left px-2 py-1">Name</th>
            <th class="px-2 py-1">Tickets Owned</th>
            <th class="px-2 py-1">Winning Ticket #</th>
            <th class="px-2 py-1">RNG</th>
          </thead>
          <tbody>
            <tr
              v-if="R != null"
              v-for="(item, index) in R"
              :key="item['name'] + item['ticket']"
              class="text-sm text-center text-gray-500 dark:text-gray-300 odd:bg-gray-50 dark:odd:bg-slate-900/50"
            >
              <td class="text-left px-2 py-1">{{ index + 1 }}</td>
              <td class="text-left px-2 py-1">
                <div class="flex items-center justify-start gap-2">
                  <span class="h-6 w-6 rounded"><AccountAvatar :account="item['name']" /></span><span>{{ item['name'] }}</span>
                </div>
              </td>
              <td class="px-2 py-1">
                from <span class="font-semibold">{{ item['startTicket'] }}</span> to <span class="font-semibold">{{ item['endTicket'] - 1 }}</span>
              </td>
              <td class="px-2 py-1">
                {{ Math.floor(item['ticket']) }}
              </td>
              <td class="px-2 py-1">
                {{ item['ticket'].toFixed(3) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <CountdownModal :open="isLoading" :title="confirmation.title" :message="confirmation.message" :duration="15000" />

  <!-- <ConfirmationNotification :show="isLoading" :confirmation-title="confirmation.title" :confirmation-message="confirmation.message" /> -->

  <TransitionRoot :as="InfoModal" :show="infoOpen" title="Acceptable formats" :content="infoContent" @close="toggleInfoModal(false)"></TransitionRoot>
  <WarningNotification :show="showWarningNotification" :warning-content="error" @close="closeWarning" />
</template>

<script setup lang="ts">
  import InfoModal from '~/common/components/modals/InfoModal.vue'
  import { raffle, parseRaffle } from '../helpers/randomutils'
  import { getBlockHeader } from '../../common/api/hiveApi'
  import { useAccountStore } from '~/stores/account'
  import { useSettingsStore } from '~/stores/settings'
  import { sendCustomJson } from '~/common/api/hiveApi'
  import { InformationCircleIcon } from '@heroicons/vue/solid'
  import CountdownModal from '~/common/components/modals/CountdownModal.vue'

  const accountStore = useAccountStore()
  const settings = useSettingsStore()

  const darkMode = computed(() => settings.settings.darkMode)

  const action = ref('verify')
  const sampleModel = ref('random')
  const sampleData = ref()

  const title = ref('')
  const winners = ref(1)
  const duplicate = ref(false)
  const data = ref('')
  const resultsType = ref(null)
  const R = ref(null)
  const success = ref(null)
  const error = ref(null)
  const infoOpen = ref(false)
  const loginModalOpen = ref(false)
  const showWarningNotification = ref(false)
  const isLoading = ref(false)

  const confirmation = {
    title: 'Result generation in progress',
    message: 'Be patient and you will be redirected to the result'
  }

  // const tabs = ['Create your raffle', 'Verify a raffle']

  const tabs = [
    { name: 'Create your raffle', value: 'create', enabled: true },
    { name: 'Verify a raffle', value: 'verify', enabled: true }
  ]

  const radioData = {
    options: [
      { name: 'Yes', value: 'yes' },
      { name: 'No', value: 'no' }
    ],
    current: 'no'
  }

  const sampleModels = [
    { name: 'Random', value: 'random' },
    { name: 'From block', value: 'block' },
    { name: 'From string', value: 'string' }
  ]

  const infoContent = `<p class="mb-4">Only integer values are accepted.</p></p><p class="mb-2">Enter usernames with one of the formats:</p><ul class="list-disc ml-8 mb-8 space-y-6"><li>CSV list:
            <span class="-ml-4 text-gray-600 dark:text-gray-200"">userA, userB, userD</span></li><li>Weighted CSV list:
            <span class="-ml-4 text-gray-600 dark:text-gray-200">userA 5, userB 1, userD 7</span></li><li>Line separated list:
            <span class="-ml-4 text-gray-600 dark:text-gray-200">userA 425</span>
            <span class="-ml-4 text-gray-600 dark:text-gray-200">userB 71</span></li><li>JSON Array:
            <span class="-ml-4 text-gray-600 dark:text-gray-200">["userA", "userB", "userD"]</span></li><li>Weighted JSON array:
            <span class="-ml-4 text-gray-600 dark:text-gray-200">[["userA", 12], ["userB", 29], ["userD", 7]]</span></li><li>JSON objects:
            <span class="-ml-4 text-gray-600 dark:text-gray-200">[{name:"userA", points:1}]</span>
            <span class="-ml-4 text-gray-600 dark:text-gray-200">[{player:"userA", points:6}]</span></li></ul>`

  function setDuplicate(value: any) {
    const selection = value.value === 'yes'
    duplicate.value = selection
  }

  function toggleLoginModal(open = false) {
    loginModalOpen.value = open
  }

  function setModel(value: any) {
    sampleModel.value = value
  }

  function toggleInfoModal(open = false) {
    infoOpen.value = open
  }

  function closeWarning() {
    showWarningNotification.value = false
  }

  function allowOnlyPositiveIntegers(event: any) {
    const allowedKeys = [8, 37, 39, 46]
    if (!(event.keyCode >= 48 && event.keyCode <= 57) && !allowedKeys.includes(event.keyCode)) {
      event.preventDefault()
    }
  }

  async function create() {
    try {
      let parsed = parseRaffle(data.value)
      if (parsed != null) {
        let list = []
        for (let item of parsed) {
          list.push([item.name, item.points])
        }
        let obj = {
          title: title.value,
          winners: winners.value,
          duplicate: duplicate.value,
          ...(sampleModel.value === 'random' ? { add_block: 3 } : {}),
          ...(sampleModel.value === 'block' ? { block_num: sampleData.value, add_block: 0 } : {}),
          ...(sampleModel.value === 'string' ? { seed: sampleData.value, add_block: 0 } : {}),
          data: list
        }
        console.log(obj)
        let jsonName = 'create_raffle'
        if (accountStore.account.name) {
          let result = await sendCustomJson(accountStore.account.name, jsonName, 'posting', JSON.stringify(obj), 'Create Raffle')
          console.log('result ', result)
          if (result.result && result.result.id != null) {
            const tId = result.result.id
            success.value = tId

            isLoading.value = true
            try {
              setTimeout(() => {
                isLoading.value = false
                const url = `/raffles/${tId}`
                window.location.href = url
              }, 15000)
            } catch (e) {
              console.log('Tx creation error: ', e)
            }
          }
        } else if (!accountStore.account.name) {
          //triggerToast('Login required', () => {
          toggleLoginModal(true)
          //})
        }
      }
    } catch (e) {
      error.value = e
      showWarningNotification.value = true
      console.log(e)
    }
  }

  async function test() {
    try {
      let seed = null
      switch (sampleModel.value) {
        case 'random':
          seed = 'rnd' + Math.random()
          break
        case 'block':
          let block = sampleData.value
          if (block == null || block.length == 0) {
            error.value = 'Enter block number.'
            return
          }
          block = Number(block.trim())
          let blockHeader = await getBlockHeader(block + 1)
          if (blockHeader != null) {
            seed = blockHeader.previous
          } else {
            error.value = `Block ${block} not found.`
            return
          }
          break
        case 'string':
          seed = sampleData.value
          if (seed == null || seed.length == 0) {
            error.value = 'Enter random string.'
            return
          }
          break
        default:
          error.value = 'Select a sample model.'
          return
      }

      let parsed = parseRaffle(data.value)
      if (parsed != null) {
        let result = await raffle(parsed, seed, winners.value, duplicate.value)
        console.log(result)
        R.value = result
        success.value = null
        error.value = null
        resultsType.value = 'Results'
      }
    } catch (e) {
      error.value = e
      showWarningNotification.value = true
      console.log(e)
    }
  }
</script>
