<template>
  <div>
    <div class="bg-white dark:bg-slate-800 pt-8 pb-5 px-4 shadow sm:rounded-lg xl:px-10 mb-3">
      <div class="max-w-7xl mx-auto space-y-12">
        <section v-if="R != null">
          <h3 class="text-2xl font-semibold">Results</h3>
          <hr class="mt-2 mb-3 border-gray-300 dark:border-gray-700" />
          <div class="px-4 w-full overflow-x-auto">
            <table class="w-full mt-1 table-auto">
              <thead class="font-semibold text-center text-sm text-gray-900 dark:text-gray-100">
                <th class="text-left px-2 py-1">#</th>
                <th class="text-left px-2 py-1">Name</th>
                <th class="px-2 py-1">Tickets Owned</th>
                <th class="px-2 py-1">Winning Ticket #</th>
                <th class="px-2 py-1">RNG</th>
              </thead>
              <tbody>
                <tr
                  v-if="R != null"
                  v-for="(item, index) in R"
                  :key="index"
                  class="text-sm text-center text-gray-500 dark:text-gray-300 odd:bg-gray-50 dark:odd:bg-slate-900/50"
                >
                  <td class="text-left px-2 py-1">{{ index + 1 }}</td>
                  <td class="text-left px-2 py-1">
                    <div class="flex items-center justify-start gap-2">
                      <span class="h-6 w-6 rounded"><AccountAvatar :account="item['name']" /></span><span>{{ item['name'] }}</span>
                    </div>
                  </td>
                  <td class="px-2 py-1">
                    from <span class="font-semibold">{{ item['startTicket'] }}</span> to <span class="font-semibold">{{ item['endTicket'] - 1 }}</span>
                  </td>
                  <td class="px-2 py-1">
                    {{ Math.floor(item['ticket']) }}
                  </td>
                  <td class="px-2 py-1">
                    {{ item['ticket'].toFixed(3) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="flex flex-wrap items-start justify-between gap-8">
          <div class="flex-[3_3_0%]">
            <h3 class="text-2xl font-semibold">Info</h3>
            <hr class="mt-2 mb-3 border-gray-300 dark:border-gray-700" />
            <div class="px-4">
              <table class="w-full">
                <tbody>
                  <tr v-for="(name, index) in table1" :key="index">
                    <td class="py-2 text-sm font-medium text-gray-500 dark:text-gray-300">{{ name }}</td>
                    <td class="px-2 py-2 text-sm text-gray-900 dark:text-gray-100">{{ vars[name] != null ? vars[name] : '-' }}</td>
                  </tr>
                  <tr v-if="creator">
                    <td class="py-2 text-sm font-medium text-gray-500 dark:text-gray-300">creator</td>
                    <td class="px-2 py-2 text-sm text-gray-900 dark:text-gray-100">@{{ creator }}</td>
                  </tr>
                  <tr v-if="title">
                    <td class="py-2 text-sm font-medium text-gray-500 dark:text-gray-300">title</td>
                    <td class="px-2 py-2 text-sm text-gray-900 dark:text-gray-100">{{ title || '-' }}</td>
                  </tr>
                  <tr>
                    <td class="py-2 text-sm font-medium text-gray-500 dark:text-gray-300 align-top">data</td>
                    <td class="px-2 py-2 text-sm text-gray-900 dark:text-gray-100">
                      <textarea
                        readonly
                        class="block w-full rounded-md border-0 my-0.5 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-1 focus:ring-gray-300 focus:dark:ring-slate-500 text-sm sm:leading-6"
                        rows="15"
                        >{{ vars['data'] }}</textarea
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="flex-[2_2_0%]">
            <h3 class="text-2xl font-semibold">Entries</h3>
            <hr class="mt-2 mb-3 border-gray-300 dark:border-gray-700" />
            <div class="px-4">
              <table class="w-full mt-1 table-auto max-w-xl">
                <thead class="font-semibold text-center text-sm text-gray-900 dark:text-gray-100">
                  <th class="text-left px-2 py-1">#</th>
                  <th class="text-left px-2 py-1">Account</th>
                  <th class="text-center px-2 py-1">Number of entries</th>
                </thead>
                <tbody>
                  <tr
                    v-if="R != null"
                    v-for="(item, index) in E"
                    :key="index"
                    class="text-sm text-center text-gray-500 dark:text-gray-300 odd:bg-gray-50 dark:odd:bg-slate-900/50"
                  >
                    <td class="text-left px-2 py-1">{{ index + 1 }}</td>
                    <td class="text-left px-2 py-1 flex items-center justify-start gap-2">
                      <span class="h-6 w-6 rounded"><AccountAvatar :account="item['name']" /></span><span>{{ item['name'] }}</span>
                    </td>
                    <td class="text-center px-2 py-1">{{ item['points'] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import axios from 'axios'
  import { useRoute } from 'vue-router'
  import { getTransaction, getBlockHeader } from '../../common/api/hiveApi'
  import { raffle, raffleFrom, parseRaffle } from '../helpers/randomutils'
  const route = useRoute()

  const table1 = ref(['block', 'seed', 'winners', 'duplicate', 'file', 'points'])
  const vars = ref({})

  async function wget(url: string) {
    const response = await axios.get(url)
    return response.data
  }

  const R = ref(null)
  const E = ref(null)
  const creator = ref(null)
  const title = ref(null)

  async function init() {
    let t = route.params.t
    let query = route.query
    let data = null
    let file = null
    let seed = null
    let block = null
    let winners = 1
    let duplicate = false
    let points = 0

    if (t != null) {
      let tData = await getTransaction(t)
      console.log('t is ', tData)
      let arr = tData.operations[0]
      if (arr[0] === 'custom_json') {
        let raffleObj = arr[1]
        if (raffleObj.id === 'create_raffle') {
          let json = JSON.parse(raffleObj.json)
          console.log('json', json)
          title.value = json.title
          creator.value = raffleObj.required_posting_auths[0]

          data = json['data']
          if (data === null) throw 'no data property'

          if (json['winners'] !== undefined) winners = json['winners']
          if (json['duplicate'] !== undefined) duplicate = json['duplicate']
          let addBlock = json['add_block']
          if (addBlock === undefined) throw 'no add_block property'
          block = json.block_num ? parseInt(json.block_num) + addBlock : tData.block_num + addBlock
          let blockHeader = await getBlockHeader(block + 1)
          console.log('reading block header', blockHeader)
          if (blockHeader != null) {
            seed = blockHeader.previous
            console.log('setting seed ', blockHeader.previous, seed)
          }
        }
      }
    } else if (query != null) {
      if (query['file'] !== undefined) {
        file = query['file']
        data = await wget(file)
      }
      if (query['block'] !== undefined) {
        block = Number(query['block'])
        let blockHeader = await getBlockHeader(block + 1)
        console.log('reading block header', blockHeader)
        if (blockHeader != null) {
          seed = blockHeader.previous
          console.log('setting seed ', blockHeader.previous, seed)
        }
      } else if (query['seed'] !== undefined) seed = query['seed']
      if (query['winners'] !== undefined) winners = Number(query['winners'])
      if (query['duplicate'] === 'true') duplicate = true
    }

    if (data != null) {
      let parsed = parseRaffle(data)
      points = parsed.reduce((a, b) => a + b.points, 0)
      E.value = parsed
    }

    vars.value = { data, file, seed, block, winners, duplicate, points }
    if (data == null || seed == null) {
      R.value = null
    } else {
      let results = await raffleFrom(data, seed, winners, duplicate)
      R.value = results
    }
  }

  onMounted(init)
</script>
