<template>
  <div>
    <div class="bg-white dark:bg-slate-800 pt-8 pb-5 px-4 shadow sm:rounded-lg xl:px-10 mb-3">
      <div class="max-w-7xl mx-auto">
        <h3 class="text-2xl">List of raffles</h3>
        <hr class="mt-2 mb-3 border-gray-300 dark:border-gray-700" />
        <div v-if="!raffles.length">No raffles to show</div>
        <div v-else>
          <div v-for="item in raffles" class="rounded-md px-5 py-3 hover:bg-[#dadada] dark:hover:bg-slate-700">
            <a :href="`/raffles/${item.transaction}`" target="_blank">
              <span class="float-right">{{ item.timestamp }}</span>
              <div class="text-xl">{{ item.title ? item.title : 'Raffle ' + item.transaction }}</div>
              <ul class="list-disc pl-6">
                <li>max. winners: {{ item.winners }} {{ item.duplicates ? 'with' : 'without' }} duplicates.</li>
                <li>Total: {{ item.numberOfEntries }} entries and {{ item.totalPoints }} points.</li>
              </ul>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { useRoute } from 'vue-router'
  import { getAccountLastCustomJson } from '~/common/api/hiveApi'
  import { parseRaffle } from '../helpers/randomutils'

  const route = useRoute()

  const user = route.params.user

  const raffles: any = ref([])

  async function init() {
    if (user == null) return
    let result = await getAccountLastCustomJson(user)
    let records = []
    if (result && Array.isArray(result)) {
      for (let item of result) {
        let json0 = item[1]['op']
        if (json0[0] === 'custom_json') {
          let json = json0[1]
          if (json.id === 'create_raffle') {
            try {
              let obj = JSON.parse(json.json)
              let raffleData = parseRaffle(obj.data)
              obj.totalPoints = raffleData.reduce((a, b) => a + b.points, 0)
              obj.numberOfEntries = raffleData.length
              obj.transaction = item[1]['trx_id']
              obj.timestamp = item[1]['timestamp']
              records.push(obj)
            } catch (e) {
              console.error(e)
            }
          }
        }
      }
    }

    raffles.value = records.sort((b, a) => (a.timestamp < b.timestamp ? -1 : a.timestamp > b.timestamp ? 1 : 0))
  }

  nextTick(init)
</script>
