<template>
  <div class="flex flex-col place-content-center">
    <div :class="[modalView ? 'max-h-[75vh] overflow-y-auto ' : 'bg-gray-100 dark:bg-slate-900 rounded-lg', 'break-words']">
      <template v-for="group in groups" :key="group.name">
        <div class="px-4 py-5 sm:px-8">
          <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-100">
            {{ group.desc }}
          </h3>
        </div>

        <div class="border-t border-gray-200 dark:border-slate-700">
          <dl>
            <div
              v-for="(field, index) in group.fields"
              :key="field.name"
              class="dark:bg-slate-700/30 border-b border-gray-200 dark:border-slate-700 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-8"
              :class="index % 2 === 1 ? 'bg-white dark:bg-slate-800' : 'bg-gray-50 dark:bg-slate-700/30'"
            >
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">
                {{ field.name }}
              </dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
                {{ field.value }}
              </dd>
            </div>
          </dl>
        </div>
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { getWitnessByAccount } from '~/common/api/hiveApi'
  import { getAccounts } from '~/common/api/hiveApi'
  import { splitAndCapitalize, formatCurrency } from '~/common/helpers/formatter'
  import { parseAmount, vestToHive as convertVestToHive } from '~/common/helpers/hiveFunctions'
  import { useChainPropertiesStore } from '~/stores/chainProperties'

  const props = defineProps<{
    accountData?: any
    accountName: string
  }>()

  const modalView = !!props.accountData

  const fetchAccountData = async () => {
    const accountResults = await getAccounts([props.accountName])
    if (!accountResults || accountResults.length !== 1) {
      throw new Error(`Account not found: ${account}`)
    }
    return accountResults[0]
  }

  const account = props.accountData || (await fetchAccountData())

  const chainPropertiesStore = useChainPropertiesStore()

  const witnessData = ref()

  const dynamicGlobalProperties = computed(() => chainPropertiesStore.dynamicGlobalProperties)
  const totalVestingShares = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_shares))
  const totalVestingFundHive = computed(() => parseAmount(dynamicGlobalProperties.value && dynamicGlobalProperties.value.total_vesting_fund_hive))

  const vestToHive = (vestingShares: any, mega?: boolean) => {
    vestingShares = parseFloat(vestingShares)
    if (mega) {
      vestingShares = vestingShares / 1000000
    }
    const hp = convertVestToHive(totalVestingFundHive.value, vestingShares, totalVestingShares.value)
    return `${formatCurrency(hp, '0,0.000')} HP`
  }

  enum Categories {
    CREATION = 'Account Creation',
    GENERAL = 'General',
    HIVE = 'HIVE Token',
    HBD = 'HBD Token',
    HP = 'Staked HIVE (HP)',
    REWARD_POOL = 'Hive Reward Pool',
    AUTHORITIES = 'Keys and Authorities',
    GOVERNANCE = 'Governance',
    SOCIAL = 'Social',
    OTHERS = 'Others',
    WITNESS = 'Witness Data'
  }

  const fields = Object.keys(account).map(key => {
    switch (key) {
      // Account Creation
      case 'name':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.CREATION,
          pos: 1
        }
      case 'id':
        return {
          name: key.toUpperCase(),
          value: account[key],
          category: Categories.CREATION,
          pos: 2
        }
      case 'created':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.CREATION,
          pos: 3
        }
      case 'mined':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.CREATION,
          pos: 4
        }

      // General
      case 'json_metadata':
      case 'posting_json_metadata':
      case 'last_owner_update':
      case 'last_account_update':
      case 'recovery_account':
      case 'last_account_recovery':
      case 'reset_account':
      case 'pending_claimed_accounts':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.GENERAL
        }

      // HIVE Token
      case 'balance':
      case 'savings_balance':
      case 'reward_hive_balance':
        return {
          name: splitAndCapitalize(key),
          value: formatCurrency(account[key], '0,0.000', true),
          category: Categories.HIVE
        }
      case 'open_recurrent_transfers':
      case 'pending_transfers':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.HIVE
        }

      // HBD Token
      case 'hbd_balance':
      case 'savings_hbd_balance':
      case 'hbd_last_interest_payment':
      case 'hbd_seconds':
      case 'hbd_seconds_last_update':
      case 'savings_hbd_seconds':
      case 'savings_hbd_seconds_last_update':
      case 'savings_hbd_last_interest_payment':
      case 'savings_withdraw_requests':
      case 'reward_hbd_balance':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.HBD
        }

      // Staked HIVE (HP)
      case 'vesting_shares':
      case 'received_vesting_shares':
      case 'delegated_vesting_shares':
      case 'withdraw_routes':
      case 'vesting_withdraw_rate':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(account[key])} (${formatCurrency(account[key], '0,0.000', true)} VESTS)`,
          category: Categories.HP
        }
      case 'post_voting_power':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(account[key])} (${formatCurrency(account[key], '0,0.000')} VESTS)`,
          category: Categories.HP
        }
      case 'to_withdraw':
      case 'withdrawn':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(account[key], true)} (${formatCurrency(parseFloat(account[key]) / 1000000, '0,0.000', true)} VESTS)`,
          category: Categories.HP
        }
      case 'next_vesting_withdrawal':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.HP
        }
      // Hive Reward Pool
      case 'reward_vesting_balance':
        return {
          name: splitAndCapitalize(key),
          value: `${vestToHive(account[key])} (${formatCurrency(account[key], '0,0.000', true)} VESTS)`,
          category: Categories.REWARD_POOL,
          pos: 1
        }
      case 'reward_vesting_hive':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.REWARD_POOL,
          pos: 2
        }
      case 'posting_rewards':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.REWARD_POOL,
          pos: 3
        }
      case 'curation_rewards':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.REWARD_POOL,
          pos: 4
        }
      case 'voting_power':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.REWARD_POOL,
          pos: 5
        }
      case 'voting_manabar':
      case 'downvote_manabar':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.REWARD_POOL
        }

      // Authorities
      case 'owner':
      case 'active':
      case 'posting':
      case 'memo_key':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.AUTHORITIES
        }

      // Governance
      case 'witnesses_voted_for':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.GOVERNANCE,
          pos: 1
        }
      case 'witness_votes':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.GOVERNANCE,
          pos: 2
        }
      case 'governance_vote_expiration_ts':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.GOVERNANCE,
          pos: 3
        }
      case 'can_vote':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.GOVERNANCE,
          pos: 4
        }
      case 'proxy':
      case 'proxied_vsf_votes':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.GOVERNANCE
        }

      // Social
      case 'post_count':
      case 'post_history':
      case 'last_post':
      case 'last_root_post':
      case 'last_vote_time':
      case 'comment_count':
      case 'reputation':
      case 'guest_bloggers':
        return {
          name: splitAndCapitalize(key),
          value: account[key],
          category: Categories.SOCIAL
        }

      // Others
      default:
        return { name: splitAndCapitalize(key), value: account[key], category: Categories.OTHERS }
    }
  })

  const groups: Ref<any> = computed(() => {
    const accountGroups = (Object.keys(Categories) as Array<keyof typeof Categories>)
      .filter(key => key !== 'WITNESS')
      .map(key => {
        return {
          name: key,
          desc: Categories[key],
          fields: fields.filter(f => f.category === Categories[key]).sort((a, b) => (a.pos || 999) - (b.pos || 999))
        }
      })

    if (!witnessData.value) {
      return accountGroups
    }

    return accountGroups.concat([
      {
        name: 'witness',
        desc: Categories.WITNESS,
        fields: Object.keys(witnessData.value).map(key => ({ name: splitAndCapitalize(key), value: witnessData.value[key], category: Categories.WITNESS }))
      }
    ])
  })

  onMounted(() => {
    getWitnessByAccount(account.name)
      .then(result => (witnessData.value = result))
      .catch(() => {})
  })
</script>
