<template>
  <div class="text-ellipsis">
    <div v-if="opData.json && !isValidJson" class="w-full flex items-center justify-start gap-2 font-semibold mb-2" :class="{ 'text-red-500': !isValidJson }">
      <ExclamationIcon class="h-5 w-5"></ExclamationIcon>
      <div>Invalid JSON</div>
    </div>
    <pre
      v-for="key in keys"
      :key="key"
      class="whitespace-pre-wrap break-all mb-0.5"
      :class="[settingsStore.settings.jsonFontSize ? 'text-xs' : 'text-sm']"
    ><span class="font-bold">{{ key }}</span>: <span  style="overflow-wrap: break-word; word-break: normal;">{{ (settingsStore.settings.jsonRendering && (key === 'json')) && isValidJson ? formatJson(opData[key]) : opData[key]}}</span></pre>
  </div>
</template>

<script setup lang="ts">
  import { Operation } from '@hiveio/dhive'
  import { formatJson } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'
  import { ExclamationIcon } from '@heroicons/vue/solid'

  const settingsStore = useSettingsStore()

  const props = defineProps<{
    op: Operation
  }>()

  const isValidJson = ref(true)

  const opData = props.op[1]
  const keys = Object.keys(opData)

  const checkForValidJson = () => {
    if (opData.hasOwnProperty('json')) {
      try {
        JSON.parse(opData['json'])
        return true
      } catch (error) {
        return false
      }
    }
    return true
  }

  onBeforeMount(() => {
    isValidJson.value = checkForValidJson()
  })
</script>
