<template>
  <Doughnut :data="votesData" :options="options" />
</template>

<script setup lang="ts">
  import { Chart as ChartJS, ArcElement, Title, Tooltip, Legend } from 'chart.js'
  import { Doughnut } from 'vue-chartjs'
  import { useSettingsStore } from '~/stores/settings'
  import { formatNumber } from '~/common/helpers/formatter'

  ChartJS.register(ArcElement, Title, Tooltip, Legend)

  const settingsStore = useSettingsStore()
  const darkMode = computed(() => settingsStore.settings?.darkMode)

  const props = defineProps<{ stats: any; title: string }>()

  const rawData: any[] = Object.entries(props.stats)
  const dataToShow = typeof rawData[0][1] === 'number' ? rawData.map(data => data[1]) : rawData.map(data => data[1].hp)

  let tooltip: HTMLElement

  const showTooltip = (event: any, legendItem: any) => {
    const index = legendItem.index
    const tooltipText = `${formatNumber(Math.round(dataToShow[index]), '0,0[.]000')} HP`

    tooltip = document.createElement('div')
    const item = document.createElement('div')
    const hp = document.createElement('div')
    tooltip.classList.add('custom-tooltip')
    item.textContent = legendItem.text
    item.style.fontWeight = '600'
    hp.textContent = tooltipText
    tooltip.appendChild(item)
    tooltip.appendChild(hp)
    tooltip.style.position = 'absolute'
    tooltip.style.left = event.native.layerX + 'px'
    tooltip.style.top = event.native.layerY + 'px'

    const chartContainer = event.chart.canvas.parentNode
    chartContainer.appendChild(tooltip)
  }

  const hideTooltip = (event: any) => {
    const chartContainer = event.chart.canvas.parentNode
    chartContainer.removeChild(tooltip)
  }

  const votesData = {
    labels: rawData.map(data => data[0]),
    datasets: [
      {
        backgroundColor: ['#fcd34d', '#22577a', '#f94144', '#277da1', '#7209b7', '#f8961e', '#4d908e', '#90be6d', '#98c1d9', '#f3722c', '#b57edb'],
        data: dataToShow
      }
    ]
  }

  const options = computed(() => {
    return {
      maintainAspectRatio: false,
      hoverOffset: 4,
      radius: '80%',
      animation: {
        animateScale: true
      },
      plugins: {
        title: {
          text: props.title,
          display: true,
          position: 'top',
          padding: '4',
          font: {
            family: 'Inter',
            size: 16,
            style: 'normal',
            weight: 400
          },
          color: darkMode.value ? '#f3f4f6' : '#111827'
        },
        legend: {
          position: 'left',
          align: 'center',
          labels: {
            color: '#9ca3af'
          },
          onHover: showTooltip,
          onLeave: hideTooltip
        },
        tooltip: {
          callbacks: {
            label: (stats: any) => {
              const index = stats.dataIndex
              const value =
                typeof rawData[0][1] === 'number'
                  ? ` ${formatNumber(Math.round(rawData[index][1]), '0,0[.]000')}`
                  : ` ${formatNumber(Math.round(rawData[index][1].hp))} - ${rawData[index][1].count} votes`
              return value
            }
          }
        }
      }
    }
  })
</script>

<style>
  .custom-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    font-family: 'Inter';
    font-size: 11.5px;
    border-radius: 4px;
  }
</style>
