<template>
  <div class="flex flex-col place-content-center">
    <div v-if="Object.keys(proposalStats).length">
      <div :class="[!modalView ? 'text-gray-100' : 'text-gray-900 dark:text-gray-100', 'mx-auto w-full mt-4']">
        <div class="flex justify-center items-center gap-2 mx-8">
          <h1 class="text-xl truncate font-semibold">{{ proposalStats.subject }}</h1>
          <a
            :href="`https://peakd.com/me/proposals/${proposalStats.proposal_id}`"
            target="_blank"
            :class="modalView ? 'text-emerald-400' : 'text-emerald-600 dark:text-emerald-400'"
            ><LinkIcon class="h-5 w-auto"></LinkIcon
          ></a>
        </div>
        <p :class="[!modalView ? 'text-gray-400' : 'text-gray-500 dark:text-gray-400', 'text-sm text-center']">
          @{{ proposalStats.creator }} <span v-if="proposalStats.creator !== proposalStats.receiver">paid to @{{ proposalStats.receiver }}</span>
        </p>
      </div>
      <div :class="modalView ? 'm-4 sm:m-6' : 'mt-6'" class="flex flex-col md:flex-row items-center justify-center gap-6 mb-2 sm:mb-2">
        <div class="flex w-full md:w-1/2 p-4 border border-gray-300 dark:border-slate-700 rounded-lg shadow dark:shadow-slate-700 bg-white dark:bg-slate-800">
          <DoughnutChart :stats="votesDistribution" :title="`${$t('hivehubStats.votes-distribution')} (HP)`" />
        </div>
        <div class="flex w-full md:w-1/2 p-4 border border-gray-300 dark:border-slate-700 rounded-lg shadow dark:shadow-slate-700 bg-white dark:bg-slate-800">
          <DoughnutChart :stats="votesBreakdown" :title="`${$t('hivehubStats.votes-breakdown')} (HP)`" />
        </div>
      </div>

      <div class="text-gray-900 dark:text-gray-100 text-xs text-right" :class="modalView ? 'mx-6' : ''">
        <sup>*</sup> {{ $t('hivehubStats.real-time-disclaimer') }}
      </div>
      <div class="mt-2 mb-2 flex items-center justify-center gap-10 text-base text-gray-900 dark:text-gray-100">
        <button @click="selectedView = 'details'" :class="{ 'text-emerald-600 dark:text-emerald-400 font-bold underline': selectedView === 'details' }">
          <h1>{{ $t('hivehubStats.details') }}</h1>
        </button>
        <button @click="selectedView = 'top_voters'" :class="{ ' text-emerald-600 dark:text-emerald-400 font-bold underline': selectedView === 'top_voters' }">
          <h1>{{ $t('hivehubStats.top_voters') }}</h1>
        </button>
      </div>
      <transition
        enter-active-class="transition-opacity duration-300 ease-in-out"
        enter-class="opacity-20"
        enter-to-class="opacity-100"
        leave-active-class="transition-opacity duration-300 ease-in-out"
        leave-class="opacity-100"
        leave-to-class="opacity-20"
        mode="out-in"
      >
        <div v-if="selectedView === 'details'" key="details">
          <div class="break-words">
            <div class="border-t border-gray-200 dark:border-slate-700 shadow">
              <dl v-for="(value, key, index) in proposalStats" :key="index">
                <div
                  v-if="!excludedFields.includes(key)"
                  class="border-1 dark:bg-slate-700/30 border-b border-gray-200 dark:border-slate-700 px-4 py-2 grid grid-cols-2 md:grid-cols-3 sm:gap-4 sm:px-8"
                  :class="index % 2 === 1 ? 'bg-white dark:bg-slate-800' : 'bg-gray-50 dark:bg-slate-700/30'"
                >
                  <dt class="flex items-center text-xs md:text-sm font-medium text-gray-500 dark:text-gray-300">
                    {{ $t(`hivehubStats.${key}`) || key }}
                  </dt>
                  <dd class="flex items-center mt-1 text-xs md:text-sm text-gray-900 dark:text-gray-100 sm:mt-0">
                    {{ key.includes('hbd') ? `${formatNumber(value, '0,0[.]000')} HBD` : formatNumber(value, '0,0[.]000') }}
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div v-else key="top_voters">
          <div class="break-words">
            <div class="border-t border-gray-200 dark:border-slate-700 shadow">
              <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-700">
                <thead class="bg-gray-50 dark:bg-slate-800">
                  <tr class="text-left text-xs font-bold text-gray-700 dark:text-gray-100">
                    <th scope="col" class="pl-8 pr-4 py-2">#</th>
                    <th scope="col" class="px-4 py-2">Name</th>
                    <th scope="col" class="px-4 py-2 text-right">Hive Power</th>
                    <th scope="col" class="px-4 py-2 text-right">Proxied Hive Power</th>
                    <th scope="col" class="px-4 py-2 text-right">Total Hive Power</th>
                    <th scope="col" class="pl-4 pr-8 py-2 text-right">Weight</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    v-for="(voter, index) in proposalStats.votes"
                    :key="index"
                    :class="index % 2 === 1 ? 'bg-white dark:bg-slate-800' : 'bg-gray-50 dark:bg-slate-700/30'"
                    class="border-b border-gray-200 dark:border-slate-700"
                  >
                    <td class="pl-8 pr-4 py-2 text-xs md:text-sm text-gray-900 dark:text-gray-100">
                      {{ index + 1 }}
                    </td>
                    <td class="px-4 py-2 text-xs md:text-sm text-gray-900 dark:text-gray-100">
                      <router-link
                        :to="{ name: 'account', params: { account: voter.name } }"
                        target="_blank"
                        class="flex items-center justify-start gap-2 w-fit"
                      >
                        <AccountAvatar :account="voter.name" class="h-6 w-6 flex-shrink-0"></AccountAvatar><span>{{ voter.name }}</span>
                      </router-link>
                    </td>
                    <td class="px-4 py-2 text-right text-xs md:text-sm text-gray-900 dark:text-gray-100">
                      {{ formatNumber(Math.round(voter.hive_power), '0,0[.]000') }}
                    </td>
                    <td class="px-4 py-2 text-right text-xs md:text-sm text-gray-900 dark:text-gray-100">
                      {{ formatNumber(Math.round(voter.proxied_hive_power), '0,0[.]000') }}
                    </td>
                    <td class="px-4 py-2 text-right text-xs md:text-sm text-gray-900 dark:text-gray-100">
                      {{ formatNumber(Math.round(parseFloat(voter.hive_power) + parseFloat(voter.proxied_hive_power)), '0,0[.]000') }}
                    </td>
                    <td class="pl-4 pr-8 py-2 text-right text-xs md:text-sm text-gray-900 dark:text-gray-100">
                      {{ formatPercentage((parseFloat(voter.hive_power) + parseFloat(voter.proxied_hive_power)) / parseFloat(proposalStats.all_votes_hp)) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div></transition
      >
    </div>

    <div v-else>
      <div class="mx-auto text-gray-900 dark:text-gray-100 w-full">
        <div class="flex justify-center items-center gap-2 mx-8">
          <h1 class="text-xl truncate">{{ proposalId }}</h1>
          <a
            :href="`https://peakd.com/me/proposals/${proposalId}`"
            target="_blank"
            :class="!modalView ? 'text-emerald-400' : 'text-emerald-600 dark:text-emerald-400'"
            ><LinkIcon class="h-5 w-auto"></LinkIcon
          ></a>
        </div>
      </div>
      <div class="my-24 text-base text-center text-gray-900 dark:text-gray-100">
        <h1 class="text-lg">No stats available</h1>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { formatNumber, formatPercentage } from '~/common/helpers/formatter'
  import { LinkIcon } from '@heroicons/vue/solid'
  import { getProposalsStats } from '~/explorer/api/hivehubStatsApi'

  const props = defineProps<{
    proposalId: string
    proposalStats?: any
  }>()

  const modalView = !!props.proposalStats

  const fetchProposalStats = async () => {
    try {
      const response = await getProposalsStats()
      const data = await response.data
      return data.find((proposal: any) => proposal.proposal_id == props.proposalId)
    } catch (error: any) {
      console.log(error)
      return error.message
    }
  }

  const proposalStats = props.proposalStats ? props.proposalStats : await fetchProposalStats()

  const excludedFields = ['proposal_id', 'subject', 'permlink', 'creator', 'receiver', 'start_date', 'end_date', 'votes']

  const selectedView = ref('details')

  const votesDistribution: any = computed(() => {
    return {
      /* 'Under 1': +proposalStats['under_1_votes_hp'], count: +proposalStats['under_1_votes_num'] }, */
      '1 - 1000': { hp: +proposalStats['btw_1_1k_votes_hp'], count: +proposalStats['btw_1_1k_votes_num'] },
      '1k - 10k': { hp: +proposalStats['btw_1k_10k_votes_hp'], count: +proposalStats['btw_1k_10k_votes_num'] },
      '10k - 100k': { hp: +proposalStats['btw_10k_100k_votes_hp'], count: +proposalStats['btw_10k_100k_votes_num'] },
      '100k - 500k': { hp: +proposalStats['btw_100k_500k_votes_hp'], count: +proposalStats['btw_100k_500k_votes_num'] },
      '500k - 1m': { hp: +proposalStats['btw_500k_1m_votes_hp'], count: +proposalStats['btw_500k_1m_votes_num'] },
      'Over 1m': { hp: +proposalStats['over_1m_votes_hp'], count: +proposalStats['over_1m_votes_num'] }
    }
  })

  const votesBreakdown: any = computed(() => {
    let topTenTotalHp = 0
    const voters: any = {}
    proposalStats.votes.slice(0, 10).forEach((account: any) => {
      voters[account.name] = +account.hive_power + +account.proxied_hive_power
      topTenTotalHp += voters[account.name]
    })
    voters.others = proposalStats.all_votes_hp - topTenTotalHp
    return voters
  })
</script>
