<template>
  <!-- Summary view -->
  <component
    v-if="forceSummary || !settingsStore.settings.transactionsRendering"
    :is="outerComponent.tag"
    v-bind="outerComponent.attributes"
    class="block dark:bg-slate-800"
  >
    <div
      v-for="operation in renderedOps"
      :key="operation.index"
      class="px-2 py-2 flex items-center sm:px-6 sm:py-4"
      :class="{
        'border-t border-dashed border-gray-200 dark:border-slate-600 ml-4 text-gray-600 dark:text-gray-200': operation.index > 0
      }"
    >
      <div class="mr-3 md:mr-5 flex-shrink-0">
        <img :src="operation.icon" :class="operation.index > 0 ? 'sm:h-4 sm:w-4 h-3 w-3' : 'sm:h-5 sm:w-5 h-4 w-4'" aria-hidden="true" />
      </div>
      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
        <div class="truncate">
          <div class="flex text-xs sm:text-sm">
            <component
              v-for="(part, pos) in operation.elements"
              :key="pos"
              :is="part.tag"
              v-bind="part.attributes"
              @click="event => part.tag === 'a' && event.stopPropagation()"
              >{{ part.text }}&nbsp;</component
            >
          </div>
          <div v-if="operation.index === 0" class="flex items-center mt-2 text-xs text-gray-500 dark:text-gray-300">
            <p>
              Tx:
              <span v-if="trxId"
                >{{ trxId.slice(0, 8) }}
                <span v-if="trx.virtual" class="italic text-gray-400"> (virtual)</span>
              </span>
              <span v-else class="italic text-gray-400">virtual</span>
              <span class="mx-1 text-gray-300">&bull;</span>
              <span
                v-if="timestampRendering === 'relative'"
                v-tippy="{ content: `${utcTime}`, arrow: true, delay: 100, placement: 'right', theme: darkMode ? 'night' : 'day' }"
              >
                <time :datetime="timestamp">{{ timeago }} ago </time>
              </span>
              <span v-else-if="timestampRendering === 'utc'">
                <time :datetime="timestamp">{{ utcTime }}</time>
              </span>
              <span v-else>
                <time :datetime="timestamp">{{ userTimezoneTimestamp }}</time>
              </span>
              <span v-for="(detail, index) in operation.details" :key="index"> <span class="mx-1 text-gray-300">&bull;</span>{{ detail }}</span>
            </p>
          </div>
          <div v-else-if="operation.index > 0" class="flex items-center mt-1 text-xs text-gray-500 dark:text-gray-300">
            <RouterLink :to="`/tx/${trx.block_num}/${trx.transaction_id}/${operation.index}`" @click.stop.prevent class="italic text-gray-400"
              >View Virtual Operation</RouterLink
            >
          </div>
        </div>
        <div class="lg:flex justify-end mt-4 sm:w-2/5 flex-shrink-0 sm:mt-0 sm:ml-5">
          <div class="sm:text-right grow truncate">
            <component
              v-for="(part, pos) in operation.shifted"
              :key="pos"
              :is="part.tag"
              v-bind="part.attributes"
              @click="event => part.tag === 'a' && event.stopPropagation()"
              class="truncate text-ellipsis dark:text-ellipsis:text-emerald-400"
              >&nbsp;{{ part.text }}</component
            >
          </div>
        </div>
      </div>
      <div v-if="!summary" class="ml-5 flex-shrink-0">
        <ChevronRightIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></ChevronRightIcon>
      </div>
    </div>
  </component>

  <!-- Extended view -->
  <component v-else :is="outerComponent.tag" v-bind="outerComponent.attributes" class="block bg-white dark:bg-slate-800 rounded-lg">
    <div
      v-for="operation in renderedOps"
      :key="operation.index"
      class="my-2 sm:my-3 overflow-hidden shadow dark:shadow-slate-700 rounded-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5"
      :class="{
        'border-t border-dashed border-gray-200 dark:border-slate-700 ml-4 text-gray-600 dark:text-gray-300': operation.index > 0
      }"
    >
      <div class="p-2">
        <dl class="divide-y divide-gray-100 dark:divide-gray-700 px-2 sm:px-4">
          <div class="flex py-2 sm:py-3">
            <div class="flex flex-col grow">
              <div class="flex gap-2">
                <div class="self-center mr-1 flex-shrink-0">
                  <img :src="operation.icon" :class="operation.index > 0 ? 'sm:h-4 sm:w-4 h-3 w-3' : 'sm:h-5 sm:w-5 h-4 w-4'" aria-hidden="true" />
                </div>
                <div class="flex grow text-gray-900 dark:text-gray-100">
                  <span class="text-sm font-medium leading-6">{{ mappedApp ? `${mappedApp.name} |` : '' }}&nbsp;</span>
                  <span class="text-sm font-medium leading-6 grow">{{ splitAndCapitalize(trx.operations[0][0]) }}</span>
                  <div v-if="operation.index === 0" class="flex items-center text-xs text-gray-500 dark:text-gray-300">
                    <p class="text-xs">
                      Tx: <span v-if="trxId">{{ trxId.slice(0, 8) }}<span v-if="trx.virtual" class="italic text-gray-400"> (virtual)</span></span
                      ><span v-else class="italic text-gray-400">virtual</span><span class="mx-1 text-gray-300">&bull;</span
                      ><span
                        v-if="timestampRendering === 'relative'"
                        v-tippy="{ content: `${utcTime}`, arrow: true, delay: 100, placement: 'right', theme: darkMode ? 'night' : 'day' }"
                      >
                        <time :datetime="timestamp">{{ timeago }} ago </time>
                      </span>
                      <span v-else-if="timestampRendering === 'utc'">
                        <time :datetime="timestamp">{{ utcTime }}</time>
                      </span>
                      <span v-else>
                        <time :datetime="timestamp">{{ userTimezoneTimestamp }}</time>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-for="(value, key) in trx.operations[0][1]" :key="key">
            <div class="flex py-2 sm:px-4 gap-2 sm:gap-4">
              <dt class="w-1/5 text-xs font-medium text-gray-500">{{ splitAndCapitalize(key) }}</dt>
              <dd class="w-4/5 text-xs text-gray-700 dark:text-gray-200 sm:col-span-2 sm:mt-0 break-all">{{ value }}</dd>
            </div>
          </div>
        </dl>
      </div>
    </div>
  </component>
</template>

<script setup lang="ts">
  import { ChevronRightIcon } from '@heroicons/vue/solid'
  import { addMinutes, formatDistanceStrict } from 'date-fns'
  import { FullTransaction } from '~/common/api/hiveApi'
  import { render } from '~/explorer/helpers/operationsRendering'
  import { useSettingsStore } from '~/stores/settings'
  import { splitAndCapitalize, formatISOTimestamp } from '~/common/helpers/formatter'
  import appsConfig from '~/explorer/helpers/apps'

  const settingsStore = useSettingsStore()

  const darkMode = ref(settingsStore.settings.darkMode)
  const timestampRendering = ref(settingsStore.settings.timestampRendering)

  const props = defineProps<{
    trx: FullTransaction
    timestamp: string
    summary?: boolean
    forceSummary?: boolean
  }>()

  const renderedOps = computed(() =>
    props.trx.operations.map((op: any, index: number) => {
      return { index: index, ...render(op) }
    })
  )
  // console.log(renderedOps.value)

  const mappedApp = appsConfig.find(app => app.match(props.trx.operations[0]))

  const trxId = props.trx.transaction_id !== '0000000000000000000000000000000000000000' ? props.trx.transaction_id : ''

  const now = new Date()
  const timeago = computed(() => formatDistanceStrict(new Date(props.timestamp), addMinutes(now, now.getTimezoneOffset())))
  const utcTime = computed(() => {
    return formatISOTimestamp(props.timestamp)
  })
  const userTimezoneTimestamp = computed(() => {
    const dateInUTC = new Date(props.timestamp)
    const userTimezoneOffset = new Date().getTimezoneOffset()
    const dateInUserTimezone = new Date(dateInUTC.getTime() - userTimezoneOffset * 60000)
    const options = { timeZoneName: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }
    return dateInUserTimezone.toLocaleString(undefined, options)
  })

  const outerComponent = props.summary
    ? { tag: 'div', attributes: {} }
    : {
        tag: 'router-link',
        attributes: {
          to:
            trxId && !props.trx.virtual
              ? `/tx/${trxId}`
              : {
                  name: 'virtual_transaction',
                  params: { block: props.trx.block_num, txId: props.trx.transaction_id, opInTx: props.trx.op_in_trx }
                },
          class: 'hover:bg-gray-50 dark:hover:bg-slate-700'
        }
      }

  watch(
    () => settingsStore.settings.darkMode,
    () => {
      darkMode.value = settingsStore.settings.darkMode
    }
  )

  watch(
    () => settingsStore.settings.timestampRendering,
    () => {
      timestampRendering.value = settingsStore.settings.timestampRendering
    }
  )
</script>
