<template>
  <div class="inset-0 flex items-center justify-center">
    <button
      type="button"
      @click="toggleModal"
      class="py-2 px-4 w-full rounded-lg text-sm font-medium text-center focus:z-0 relative text-white dark:text-slate-800 bg-emerald-600 dark:bg-emerald-400 hover:bg-emerald-500 dark:hover:bg-emerald-300 focus:outline-none focus:ring-none sm:ml-3"
    >
      {{ $t('polls.create_poll') }}
    </button>
  </div>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" class="relative z-10">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <DialogPanel
              class="relative bg-white dark:bg-slate-800 rounded-lg p-8 text-left overflow-visible shadow-xl transform transition-all my-8 sm:max-w-xl md:max-w-2xl lg:max-w-4xl w-full"
            >
              <form class="relative z-0 w-full">
                <section v-if="!toggleSections" class="space-y-12">
                  <div class="pb-2 mb-12 border-b border-gray-300 dark:border-slate-500">
                    <div class="flex justify-between items-center text-left mb-1">
                      <DialogTitle as="h1" class="text-lg sm:text-2xl leading-6 font-medium text-gray-900 dark:text-gray-100">{{
                        $t('polls.create_poll')
                      }}</DialogTitle>
                      <button>
                        <XIcon @click.stop.prevent="toggleModal" class="h-5 sm:h-7 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"></XIcon>
                      </button>
                    </div>
                    <div class="text-gray-400 text-xs sm:text-sm">{{ $t('polls.message') }}</div>
                  </div>
                  <div class="relative z-0 group">
                    <label
                      for="question"
                      class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                      >{{ $t('polls.question') }}</label
                    >
                    <input
                      v-model="pollQuestion"
                      type="text"
                      name="question"
                      id="question"
                      autocomplete="off"
                      @keyup="generateTitle(), generateBody()"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-500 focus:dark:ring-emerald-300 text-sm sm:leading-6"
                      required
                    />
                  </div>

                  <div class="relative z-0 group">
                    <label
                      for="additional_info"
                      class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                      >{{ $t('polls.additional_info') }}<small> (optional)</small></label
                    >
                    <textarea
                      v-model="additionalInfo"
                      rows="3"
                      name="additional_info"
                      id="additional_info"
                      autocomplete="off"
                      @keyup="generateBody()"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                    />
                  </div>

                  <div
                    class="relative z-0 flex flex-col lg:flex-row items-start lg:items-center lg:justify-start rounded-lg border border-gray-300 dark:border-slate-500"
                  >
                    <ul class="w-full">
                      <li v-for="(option, index) in pollChoices" :key="index" class="m-4 flex flex-1 sm:flex-auto justify-start items-center gap-2">
                        <div class="relative group w-full sm:w-[400px]">
                          <label
                            :for="`choice${index}`"
                            class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                            >{{ $t('polls.choice') }} {{ index + 1 }}</label
                          >
                          <input
                            v-model="pollChoices[index]"
                            @keydown="removeEmptyChoices($event, index)"
                            type="text"
                            :name="`choice${index}`"
                            :id="`choice${index}`"
                            autocomplete="off"
                            @input="generateBody(), checkChoicesInputs()"
                            class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                          />
                        </div>
                        <button
                          v-if="pollChoices.length > 1 && pollChoices[index]"
                          @click.prevent="deletePollChoice(index)"
                          class="hidden sm:block h-5 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
                        >
                          <XIcon class="h-5"></XIcon>
                        </button>
                      </li>
                    </ul>

                    <div v-if="hasDuplicateChoices" class="w-full self-center h-full text-red-600 dark:text-red-400 m-4">
                      <div class="flex flex-row lg:flex-col items-center justify-center gap-1">
                        <ExclamationIcon class="h-5 w-5"></ExclamationIcon>
                        <p>{{ $t('polls.duplicate_choices_warning') }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-center pt-4">
                    <div class="flex-grow border-t border-gray-300 dark:border-slate-500"></div>
                    <span class="mx-4 text-xl text-gray-800 dark:text-gray-200 bg-transparent">Advanced Settings</span>
                    <div class="flex-grow border-t border-gray-300 dark:border-slate-500"></div>
                  </div>

                  <div class="flex flex-wrap items-start lg:justify-between justify-center gap-12">
                    <!-- interpretation -->
                    <div class="relative z-30 group w-full max-w-[300px]">
                      <label
                        class="absolute z-20 -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.interpretation') }}</label
                      >
                      <div>
                        <div class="relative w-full group">
                          <OptionsDropdown
                            :elements="supportedInterpretations"
                            :current="pollInterpretation"
                            :read-only="true"
                            @change="changeInterpretation"
                          ></OptionsDropdown>
                          <p id="helper-text-explanation" class="mt-1 ml-1 text-xs text-gray-500 dark:text-gray-400">
                            {{ $t('polls.interpretation_message') }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div v-if="pollInterpretation === 'tokens'" class="relative z-20 group w-full max-w-[300px]">
                      <label
                        class="absolute z-20 -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.token_interpretation') }}</label
                      >
                      <div class="relative z-10 w-full max-w-[300px] group group">
                        <OptionsDropdown
                          :elements="supportedInterpretationTokens"
                          :current="tokenInterpretation"
                          :read-only="true"
                          :disabled="true"
                          @change="changeInterpretationToken"
                        ></OptionsDropdown>
                        <p id="helper-text-explanation" class="mt-1 ml-1 text-xs text-gray-500 dark:text-gray-400">
                          <!-- {{ $t('polls.interpretation_token') }}
                        </p> -->
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="flex flex-wrap items-start lg:justify-between justify-center gap-12">
                    <div class="relative z-0 group w-full max-w-[300px]">
                      <div class="w-full">
                        <label
                          for="end_date"
                          class="z-10 absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                          >{{ $t('polls.duration') }}</label
                        >
                        <input
                          v-model="daysDuration"
                          type="text"
                          name="end_date"
                          id="end_date"
                          autocomplete="off"
                          @keydown="allowOnlyPositiveIntegers"
                          class="w-full block rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                          required
                        />
                      </div>
                      <p class="w-full mt-1 ml-1 text-xs text-gray-500 dark:text-gray-400">
                        <span v-if="formattedDaysDuration && formattedDaysDuration <= 30">{{ $t('polls.end_date') + ': ' }}</span>
                        <span
                          :class="[
                            formattedDaysDuration && formattedDaysDuration <= 30
                              ? 'font-bold text-emerald-600 dark:text-emerald-400'
                              : ' text-red-600 dark:text-red-400'
                          ]"
                          >{{ endDate }}</span
                        >
                      </p>
                      <!-- <div class="w-[300px]">
                        <VueDatePicker
                          v-model="endDate"
                          utc
                          :format="formatDate"
                          :dark="darkMode"
                          placeholder="Select Date"
                          autocomplete="off"
                          @update:model-value="setDate"
                          required
                        ></VueDatePicker> 
                      </div> -->
                    </div>
                    <div class="relative z-0 group w-full max-w-[300px]">
                      <label
                        for="account_age"
                        class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.account_age') }}</label
                      >
                      <input
                        v-model="accountAge"
                        type="text"
                        name="account_age"
                        id="account_age"
                        autocomplete="off"
                        @keydown="allowOnlyPositiveIntegers"
                        class="w-full block rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                        required
                      />
                      <p id="helper-text-explanation" class="w-full mt-1 px-1 text-xs text-gray-500 dark:text-gray-400 text-justify">
                        {{ $t('polls.age_message') }}
                      </p>
                    </div>
                  </div>

                  <div class="flex flex-wrap items-start lg:justify-between justify-center gap-12">
                    <!-- <div class="relative z-10 group w-full max-w-[300px]">
                      <label
                        for="max_choices_voted"
                        class="z-10 absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.max_choices') }}</label
                      >
                      <input
                        v-model="maxChoices"
                        type="text"
                        name="max_choices_voted"
                        id="max_choices_voted"
                        autocomplete="off"
                        @keydown="allowOnlyPositiveIntegers"
                        class="w-full block rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                        required
                      />
                      <p v-if="!maxChoices || maxChoices === '0'" class="w-full mt-1 ml-1 text-xs text-red-600 dark:text-red-400">Invalid input</p>
                    </div> -->

                    <div class="relative z-0 group w-full max-w-[300px]">
                      <label
                        for="ui_hide_res_until_voted"
                        class="z-10 absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.hidden_votes') }}</label
                      >
                      <OptionsDropdown
                        :elements="trueOrFalse"
                        :current="showVotesAfterVoted"
                        :read-only="true"
                        @change="setShowVotesAfterVoted"
                      ></OptionsDropdown>
                    </div>
                  </div>

                  <div class="pt-2">
                    <div class="flex justify-between items-start">
                      <div class="w-full inline-flex flex-wrap items-center justify-end gap-4 mt-10 lg:mt-0 pt-2">
                        <button
                          type="button"
                          class="w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto text-sm"
                          @click="toggleModal"
                        >
                          {{ $t('polls.cancel') }}
                        </button>
                        <button
                          type="button"
                          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 sm:mt-0 sm:w-auto text-sm"
                          @click="toggleSectionsConditionally"
                          :disabled="!areRequiredPollDataFilled"
                          :class="[
                            !areRequiredPollDataFilled
                              ? 'bg-gray-400 dark:bg-gray-500 cursor-not-allowed'
                              : 'hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100'
                          ]"
                        >
                          {{ $t('polls.next_section') }}
                        </button>
                      </div>
                    </div>
                  </div>
                </section>

                <section v-if="toggleSections" class="space-y-12">
                  <div class="border-b border-gray-300 dark:border-slate-500 pb-2 mb-12">
                    <div class="flex justify-between items-center text-left mb-1">
                      <DialogTitle as="h1" class="text-2xl leading-6 font-medium text-gray-900 dark:text-gray-100">{{
                        $t('polls.customize_post')
                      }}</DialogTitle>
                      <button>
                        <XIcon @click.prevent.stop="toggleModal" class="h-7 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"></XIcon>
                      </button>
                    </div>
                  </div>

                  <div class="bg-gray-50 dark:bg-slate-900 text-gray-400 py-3 px-5 border border-gray-300 dark:border-slate-500 rounded-md shadow-md">
                    <h2 class="text-center text-emerald-600 dark:text-emerald-400 font-semibold mb-2 leading-tight">{{ $t('polls.details') }}</h2>
                    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-between gap-2 lg:gap-12 text-sm">
                      <div class="flex-1 shrink-0 space-y-2">
                        <div class="flex items-start gap-1">
                          <QuestionMarkCircleIcon class="h-4 w-4 align-middle shrink-0"></QuestionMarkCircleIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.question') }}: <span class="font-semibold">{{ pollQuestion }}</span>
                          </p>
                        </div>
                        <div>
                          <div class="flex items-start gap-1">
                            <ClipboardListIcon class="h-4 w-4 align-middle shrink-0"></ClipboardListIcon>
                            <p class="m-0 leading-tight">{{ $t('polls.choices') }}:</p>
                          </div>
                          <ul class="list-disc">
                            <li v-for="(choice, index) in pollChoices.slice(0, pollChoices.length - 1)" :key="index" class="ml-6 font-semibold">
                              {{ choice }}
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="flex-1 shrink-0 space-y-2">
                        <div class="flex items-start gap-1">
                          <ClockIcon class="h-4 w-4 align-middle shrink-0"></ClockIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.duration') }}: <span class="font-semibold">{{ daysDuration }}</span>
                          </p>
                        </div>
                        <div class="flex items-start gap-1">
                          <CalendarIcon class="h-4 w-4 align-middle shrink-0"></CalendarIcon>
                          <p class="m-0 leading-tight">
                            <span>{{ $t('polls.end_date') }} ({{ $t('polls.current_timezone') }})</span>:
                            <span class="font-semibold">{{ endDate }}</span>
                          </p>
                        </div>
                        <div class="flex items-start gap-1">
                          <FilterIcon class="h-4 w-4 align-middle"></FilterIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.account_age') }}:
                            <span class="font-semibold">{{ accountAge || 0 }} {{ Number(accountAge) === 1 ? $t('proposals.day') : $t('proposals.days') }}</span>
                          </p>
                        </div>
                        <div class="flex items-start gap-1">
                          <ChartPieIcon class="h-4 w-4 align-middle shrink-0"></ChartPieIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.interpretation') }}:
                            <span class="font-semibold">{{ interpretationName }}</span>
                          </p>
                        </div>
                        <div v-if="pollInterpretation === 'tokens'" class="flex items-start gap-1">
                          <CurrencyRupeeIcon class="h-4 w-4 align-middle shrink-0"></CurrencyRupeeIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.token_interpretation') }}:
                            <span class="font-semibold">{{ interpretationToken }}</span>
                          </p>
                        </div>
                        <!-- <div class="flex items-start gap-1">
                          <LockOpenIcon class="h-4 w-4 align-middle shrink-0"></LockOpenIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.vote_change') }}:
                            <span class="font-semibold capitalize">{{ userCanChangeVote }}</span>
                          </p>
                        </div> -->
                        <div class="flex items-start gap-1">
                          <DuplicateIcon class="h-4 w-4 align-middle shrink-0"></DuplicateIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.max_choices') }}:
                            <span class="font-semibold capitalize">{{ maxChoices }}</span>
                          </p>
                        </div>
                        <div class="flex items-start gap-1">
                          <EyeIcon class="h-4 w-4 align-middle shrink-0"></EyeIcon>
                          <p class="m-0 leading-tight">
                            {{ $t('polls.hidden_votes') }}:
                            <span class="font-semibold capitalize">{{ showVotesAfterVoted }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="z-0 space-y-12">
                    <div class="relative group">
                      <label
                        for="title"
                        class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.post_title') }}</label
                      >
                      <input
                        v-model="postTitle"
                        type="text"
                        name="title"
                        id="title"
                        autocomplete="off"
                        @keyup="generateBody()"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                        required
                      />
                    </div>

                    <div class="relative z-0 group">
                      <div>
                        <label
                          for="thumbnail"
                          class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                          >{{ $t('polls.thumbnail') }}<small> (optional)</small></label
                        >
                        <input
                          v-model="imageUrl"
                          type="text"
                          name="thumbnail"
                          id="thumbnail"
                          autocomplete="off"
                          @input="validateImageUrl"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                        />
                      </div>
                      <div v-if="imageUrl" class="mt-4">
                        <div v-if="isValidImageUrl && !imageLoadError" class="flex justify-center mt-4">
                          <img :src="imageUrl" @error="handleImageError" alt="Image preview" class="rounded-lg max-w-xs mx-auto" />
                        </div>
                        <div v-else class="text-center mt-4">
                          <span class="text-red-500">Image failed to load. Please check the URL.</span>
                        </div>
                      </div>
                    </div>

                    <div class="relative z-0 group">
                      <label
                        for="body"
                        class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                        >{{ $t('polls.body') }}<small> ({{ $t('polls.markdown') }})</small></label
                      >
                      <textarea
                        v-model="pollBody"
                        rows="5"
                        name="body"
                        id="body"
                        autocomplete="off"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                        required
                      />
                      <!-- <p class="text-xs mt-1 px-1 text-gray-500 dark:text-gray-400 text-justify">
                        <span>{{ $t('polls.customize_message') }}</span>
                      </p> -->
                    </div>

                    <div class="flex flex-wrap items-start lg:justify-between justify-center gap-12">
                      <!-- main tag -->
                      <div class="relative z-10 group">
                        <label
                          class="z-10 absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                          >{{ $t('polls.main_tag') }}</label
                        >

                        <div class="relative w-[300px] group">
                          <OptionsDropdown
                            :elements="accountSubscriptions"
                            :current="hivePolls.value"
                            :take-custom-values="true"
                            placeholder="Enter a community or select from the list"
                            @change="setParentPermlink"
                          ></OptionsDropdown>
                        </div>
                      </div>
                      <div class="relative z-0 group w-[300px]">
                        <div>
                          <label
                            for="tags"
                            class="absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                            >{{ $t('polls.tags') }}</label
                          >
                          <div class="">
                            <input
                              v-model="tag"
                              type="text"
                              name="tags"
                              id="tags"
                              autocomplete="off"
                              @keydown="addTag"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-800 dark:text-gray-200 bg-transparent shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 focus:dark:ring-emerald-400 text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div v-if="pollTags.length" class="w-full flex flex-wrap gap-x-2 gap-y-3 mt-2 text-xs">
                          <div v-for="(tag, index) in pollTags" :key="index">
                            <span
                              @click="removeTag(tag)"
                              class="flex justify-center items-center gap-1 py-0.5 px-2 rounded-lg text-emerald-600 dark:text-emerald-400 border border-emerald-600 dark:border-emerald-400 bg-white dark:bg-slate-900 font-semibold hover:opacity-75 hover:cursor-pointer"
                              ><p>#{{ tag }}</p>
                              <XIcon class="w-4 h-4"></XIcon
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-start lg:justify-between justify-center gap-12">
                      <div class="relative z-0 group">
                        <label
                          class="z-10 absolute -top-2 left-2 inline-block bg-white dark:bg-slate-800 px-1 text-xs font-medium text-gray-500 dark:text-slate-400 group-focus-within:text-emerald-600 dark:group-focus-within:text-emerald-400"
                          >{{ $t('polls.rewards') }}</label
                        >

                        <div class="relative w-[300px] group">
                          <OptionsDropdown
                            :elements="rewardsDistribution"
                            :current="currentRewardDistribution"
                            :take-custom-values="false"
                            :read-only="true"
                            @change="setRewardDistribution"
                          ></OptionsDropdown>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pt-2">
                    <div class="flex justify-between items-start">
                      <div class="w-full inline-flex items-center justify-end gap-4 mt-10 lg:mt-0 pt-2">
                        <button
                          type="button"
                          class="w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto text-sm"
                          @click="toggleSections = false"
                        >
                          {{ $t('polls.back') }}
                        </button>
                        <button
                          type="button"
                          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto text-sm"
                          @click="broadcastPoll"
                          :disabled="!areRequiredPostDataFilled"
                          :class="[!areRequiredPostDataFilled ? 'bg-gray-400 dark:bg-gray-500 cursor-not-allowed' : '']"
                        >
                          {{ $t('polls.publish') }}
                        </button>
                      </div>
                    </div>
                  </div>
                </section>
              </form>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import {
    XIcon,
    QuestionMarkCircleIcon,
    ChartPieIcon,
    ClockIcon,
    CalendarIcon,
    FilterIcon,
    CurrencyRupeeIcon,
    ClipboardListIcon,
    ExclamationIcon,
    EyeIcon,
    LockOpenIcon,
    DuplicateIcon
  } from '@heroicons/vue/solid'
  import { format } from 'date-fns'
  import { useAccountStore } from '~/stores/account'
  import { reqPost, getAccountSubscriptions } from '~/common/api/hiveApi'
  import { createPostPermlink } from '~/common/helpers/hiveFunctions'
  import OptionsDropdown from '~/common/components/OptionsDropdown.vue'

  type Community = { name: string; value: string }

  const accountStore = useAccountStore()

  const supportedInterpretations = ref([
    { name: 'Number Of Votes', value: 'number_of_votes' },
    { name: 'Tokens', value: 'tokens' }
  ])
  const supportedInterpretationTokens = ref([{ name: 'Hive - Hive Power (HP)', value: 'HIVE:HP' }])
  const hivePolls = { name: 'Hive Polls', value: 'hive-104500' }

  const rewardsDistribution = ref([
    { name: 'Decline', value: 'decline' },
    { name: '50% HBD and 50% HP', value: 'default' }
  ])

  const trueOrFalse = ref([
    { name: 'True', value: true },
    { name: 'False', value: false }
  ])

  const pollInterpretation = ref(supportedInterpretations.value[0].value)
  const tokenInterpretation = ref(supportedInterpretationTokens.value[0].value)
  const currentRewardDistribution = ref(rewardsDistribution.value[0].value)
  const tag: Ref<string> = ref('')
  const isOpen = ref(false)
  const postTitle = ref('')
  const additionalInfo = ref('')
  const pollBody = ref('')
  const accountSubscriptions: Ref<[] | Community[]> = ref([])
  const parentPermlink = ref(hivePolls.value)
  const pollQuestion = ref('')
  const pollChoices = ref(['', ''])
  const pollTags: Ref<string[] | []> = ref([])
  const imageUrl = ref('')
  const isValidImageUrl = ref(false)
  const imageLoadError = ref(false)
  const accountAge = ref('0')
  const unixTimestamp = ref(0)
  const daysDuration = ref('7')
  const maxChoices = ref('1')
  const userCanChangeVote = ref(trueOrFalse.value[0].value)
  const showVotesAfterVoted = ref(trueOrFalse.value[0].value)
  const toggleSections = ref(false)

  const formattedAccountAge = computed(() => {
    return accountAge.value === null || accountAge.value === '' ? null : parseInt(accountAge.value)
  })

  const formattedDaysDuration = computed(() => {
    return daysDuration.value === null || daysDuration.value === '' ? null : parseInt(daysDuration.value)
  })

  const formattedMaxChoices = computed(() => {
    return maxChoices.value === null || maxChoices.value === '' ? null : parseInt(maxChoices.value)
  })

  const endDate = computed(() => {
    if (!formattedDaysDuration.value) {
      return 'Invalid input'
    }
    if (formattedDaysDuration.value > 30) {
      return 'Max length 30 days'
    }
    const now = new Date().getTime()
    const daysInMilliseconds = formattedDaysDuration.value * 24 * 60 * 60 * 1000
    const futureDateInMilliseconds = now + daysInMilliseconds
    unixTimestamp.value = Math.floor(futureDateInMilliseconds / 1000)
    const timestamp = unixTimestamp.value * 1000
    return format(new Date(timestamp), 'd MMM yyyy - HH:mm')
  })

  const interpretationName = computed(() => {
    const interpretation: any = supportedInterpretations.value.find((item: any) => item.value === pollInterpretation.value)
    return interpretation.name
  })

  const interpretationToken = computed(() => {
    const interpretation: any = supportedInterpretationTokens.value.find((item: any) => item.value === tokenInterpretation.value)
    return interpretation.name
  })

  const hasDuplicateChoices = computed(() => {
    let lowercaseChoices = pollChoices.value.map(choice => choice.trim().toLowerCase()).filter(choice => choice)
    let uniqueChoices = new Set(lowercaseChoices)
    return lowercaseChoices.length > uniqueChoices.size
  })

  const fetchAccountSubscriptions = async () => {
    if (accountStore.account.name) {
      const subscriptions = await getAccountSubscriptions(accountStore.account.name)
      return subscriptions
        .map((subscription: string[]) => {
          return { name: subscription[1], value: subscription[0] }
        })
        .sort((a: any, b: any) => a.name.localeCompare(b.name))
    }
    return []
  }

  const toggleModal = () => {
    isOpen.value = !isOpen.value
  }

  const toggleSectionsConditionally = () => {
    if (areRequiredPollDataFilled.value) {
      toggleSections.value = !toggleSections.value
    } else {
      alert('Please fill in all required fields before proceeding.')
    }
  }

  // check and handle different input fields
  const changeInterpretation = (selected: any) => {
    pollInterpretation.value = selected
  }

  const changeInterpretationToken = (selected: any) => {
    tokenInterpretation.value = selected
  }

  const setUserCanChangeVote = (selected: any) => {
    userCanChangeVote.value = selected
  }

  const setShowVotesAfterVoted = (selected: any) => {
    showVotesAfterVoted.value = selected
  }

  const checkPollChoices = () => {
    return pollChoices.value.filter((option: string) => option)
  }

  const checkChoicesInputs = () => {
    for (let i = 0; i < pollChoices.value.length - 1; i++) {
      if (pollChoices.value[i].trim() === '' && pollChoices.value[i + 1].trim() === '') {
        pollChoices.value.splice(i, 1)
      }
    }

    const lastChoice = pollChoices.value[pollChoices.value.length - 1]
    if (lastChoice && lastChoice.trim() !== '') {
      pollChoices.value.push('')
    }

    generateBody()
  }

  const removeEmptyChoices = (event: any, index: number) => {
    if (event.key === 'Backspace' && pollChoices.value[index].trim() === '') {
      if (index >= 2 || pollChoices.value.length > 2) {
        deletePollChoice(index)
      }
    }
  }

  const deletePollChoice = (index: number) => {
    pollChoices.value.splice(index, 1)
    checkChoicesInputs()
  }

  const allowOnlyPositiveIntegers = (event: any) => {
    const allowedKeys = [8, 37, 39, 46]
    if (!(event.keyCode >= 48 && event.keyCode <= 57) && !allowedKeys.includes(event.keyCode)) {
      event.preventDefault()
    }
  }

  const formatNumber = (valueRef: Ref) => {
    if (valueRef.value === null || valueRef.value.trim() === '') {
      return
    }
    let parsedNumber: string | number = parseInt(valueRef.value, 10)
    if (isNaN(parsedNumber)) {
      parsedNumber = ''
    } else {
      parsedNumber = Math.min(parsedNumber, Number.MAX_SAFE_INTEGER)
    }
    valueRef.value = parsedNumber.toString()
  }

  const areRequiredPollDataFilled = computed(() => {
    const isQuestionFilled = pollQuestion.value.trim().length > 0
    const areChoicesValid = checkPollChoices().length > 1
    const isDurationValid = formattedDaysDuration.value > 0 && formattedDaysDuration.value <= 30
    const isAccountAgeValid = formattedAccountAge.value >= 0 && formattedAccountAge.value <= Number.MAX_SAFE_INTEGER
    const isMaxChoicesValid = maxChoices.value > 0 && maxChoices.value <= Number.MAX_SAFE_INTEGER

    return (
      isQuestionFilled && areChoicesValid && !hasDuplicateChoices.value && isDurationValid && isAccountAgeValid && isMaxChoicesValid && pollInterpretation.value
    )
  })

  const areRequiredPostDataFilled = computed(() => {
    const isPostTitleFilled = postTitle.value.trim().length > 0
    const isPollBodyFilled = pollBody.value.trim().length > 0
    return isPostTitleFilled && isPollBodyFilled && parentPermlink.value
  })

  const setParentPermlink = (value: string) => {
    parentPermlink.value = value.toLowerCase()
  }

  const checkParentPermlink = () => {
    const parentPermLowercase = parentPermlink.value.toLowerCase()
    const community = accountSubscriptions.value.filter((community: Community) => community.name.toLowerCase() === parentPermLowercase)
    if (community.length) {
      return community[0].value
    }
    return parentPermlink.value
  }

  const addTag = (event: KeyboardEvent) => {
    tag.value = tag.value.replace(/[^a-zA-Z0-9-]/g, '')
    if ((event.key === ',' || event.key === 'Enter' || event.key === ' ') && tag.value) {
      event.preventDefault()
      if (!pollTags.value.includes(tag.value)) {
        pollTags.value.push(tag.value.toLowerCase())
      }
      tag.value = ''
    }
  }

  const setRewardDistribution = (value: any) => {
    currentRewardDistribution.value = value
  }

  const removeTag = (selectedTag: string) => {
    pollTags.value = pollTags.value.filter(tag => tag !== selectedTag)
  }

  const setInitialState = () => {
    pollQuestion.value = ''
    additionalInfo.value = ''
    pollChoices.value = ['', '']
    pollInterpretation.value = supportedInterpretations.value[0].value
    tokenInterpretation.value = supportedInterpretationTokens.value[0].value
    currentRewardDistribution.value = rewardsDistribution.value[0].value
    tag.value = ''
    postTitle.value = ''
    pollBody.value = ''
    parentPermlink.value = hivePolls.value
    pollTags.value = []
    imageUrl.value = ''
    isValidImageUrl.value = false
    imageLoadError.value = false
    accountAge.value = '0'
    unixTimestamp.value = 0
    daysDuration.value = '7'
    userCanChangeVote.value = trueOrFalse.value[0].value
    showVotesAfterVoted.value = trueOrFalse.value[0].value
    maxChoices.value = '1'
    toggleSections.value = false
  }

  const broadcastPoll = async () => {
    if (!accountStore.account.authenticated) {
      alert('You should log in first')
      return
    }

    const permlink = await createPostPermlink(accountStore.account.name, postTitle.value)
    const choices = checkPollChoices()
    const parentPerm = checkParentPermlink()
    const votingHint = `\n\n<br>* If the interface you are using does not support polls (yet) try one of these other UIs: [HiveHub](https://hivehub.dev/poll/@${accountStore.account.name}/${permlink}), [PeakD](https://peakd.com/${parentPerm}/@${accountStore.account.name}/${permlink})`

    const body = (imageUrl.value ? pollBody.value.replace('\n\n', '\n<br>') : pollBody.value) + votingHint

    const poll_metadata: any = {
      content_type: 'poll',
      version: 0.1,
      question: pollQuestion.value,
      choices: choices,
      preferred_interpretation: pollInterpretation.value,
      end_time: unixTimestamp.value,
      tags: pollTags.value,
      ui_hide_res_until_voted: showVotesAfterVoted.value
      // one_vote: userCanChangeVote.value,
      // see_votes: showVotesAfterVoted.value
    }

    if (accountAge.value) {
      poll_metadata.filters = { account_age: formattedAccountAge.value }
    }

    if (pollInterpretation.value === 'tokens') {
      poll_metadata.token = tokenInterpretation.value
    }

    if (imageUrl.value) {
      poll_metadata.image = imageUrl.value
    }

    const commentOptions =
      currentRewardDistribution.value === 'decline'
        ? {
            author: accountStore.account.name,
            permlink: permlink,
            max_accepted_payout: '0.000 HBD',
            percent_hbd: 10000,
            allow_votes: true,
            allow_curation_rewards: true,
            extensions: []
          }
        : ''

    try {
      const result = await reqPost(accountStore.account.name, postTitle.value, body, parentPerm, '', poll_metadata, permlink, commentOptions)
      if (isOpen.value) {
        toggleModal()
      }
      if (result.success) {
        setInitialState()
      }
      return result
    } catch (error) {
      console.log(error)
      return error
    }
  }

  // autogeneration functions
  const generateTitle = () => {
    postTitle.value = pollQuestion.value
  }

  const generateBody = () => {
    const choicesString = pollChoices.value
      .filter(item => item)
      .map(item => `- ${item}`)
      .join('\n')

    pollBody.value = `${imageUrl.value ? `![](${imageUrl.value})\n\n` : ''}${pollQuestion.value ? `${pollQuestion.value}\n\n` : ''}${
      additionalInfo.value ? `${additionalInfo.value}\n\n` : ''
    }${pollChoices.value[0] ? `Choices:\n${choicesString}` : ''}`
  }

  // handle cover image
  const checkIfImageUrl = (url: string) => /\.(jpg|jpeg|png|gif|bmp|svg)$/i.test(url)

  const debounce = (func: Function, wait: number) => {
    let timeout: any
    return (...args: any[]) => {
      clearTimeout(timeout)
      timeout = setTimeout(() => func(...args), wait)
    }
  }

  const validateImageUrl = debounce(() => {
    isValidImageUrl.value = checkIfImageUrl(imageUrl.value)
    if (isValidImageUrl.value) {
      imageLoadError.value = false
      generateBody()
    }
  }, 500)

  const handleImageError = () => {
    imageLoadError.value = true
  }

  // lifecycle hooks
  onMounted(async () => {
    try {
      const subscriptions = await fetchAccountSubscriptions()
      accountSubscriptions.value = [hivePolls, ...subscriptions]
    } catch (error) {
      console.log(error)
    }
  })

  watch(imageUrl, validateImageUrl)

  watch(
    () => pollChoices.value,
    () => {
      const filledChoices = checkPollChoices()
      while (pollChoices.value.length < 2 || filledChoices.length === pollChoices.value.length) {
        pollChoices.value.push('')
      }
    },
    { immediate: true, deep: true }
  )

  watch(accountAge, () => {
    formatNumber(accountAge)
  })

  watch(daysDuration, () => {
    formatNumber(daysDuration)
  })

  watch(maxChoices, () => {
    formatNumber(maxChoices)
  })
</script>
