<template>
  <Doughnut :data="votesData" :options="options" />
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { Chart as ChartJS, ArcElement, Title, Tooltip, Legend } from 'chart.js'
  import { Doughnut } from 'vue-chartjs'
  import { formatPercentage } from '~/common/helpers/formatter'

  ChartJS.register(ArcElement, Title, Tooltip, Legend)

  const props = defineProps<{ stats: any; pollTotal: number; title: string; darkMode: boolean }>()

  const rawData: Ref<any[]> = ref(props.stats.poll_choices)
  const isTokens = computed(() => props.stats.preferred_interpretation === 'tokens')
  //const chainToken = computed(() => (isTokens.value ? props.stats.token.split(':').join('_').toLowerCase() : null))

  // should update logic to dinamically access based on chainToken if isTokens.value === true
  const dataToShow = computed(() => {
    if (isTokens.value) {
      return rawData.value.map((choice: any) => {
        return { amount: choice.votes ? choice.votes.hive_hp_incl_proxied : 0, votes: choice.votes?.total_votes || 0 }
      })
    } else {
      return rawData.value.map((choice: any) => {
        return { amount: choice.votes ? choice.votes.total_votes : 0, votes: choice.votes?.total_votes || 0 }
      })
    }
  })

  const votesData = {
    labels: rawData.value.map(data => data.choice_text),
    datasets: [
      {
        backgroundColor: ['#fcd34d', '#22577a', '#f94144', '#277da1', '#7209b7', '#f8961e', '#4d908e', '#90be6d', '#98c1d9', '#f3722c', '#b57edb'],
        rawData: dataToShow.value,
        data: dataToShow.value.map(data => data.amount)
      }
    ]
  }

  const padding = ref(50)
  const handleResize = () => {
    padding.value = window.innerWidth >= 1024 ? 50 : 0
  }

  onMounted(() => {
    window.addEventListener('resize', handleResize)
    handleResize()
  })

  onUnmounted(() => {
    window.removeEventListener('resize', handleResize)
  })

  const options = computed(() => ({
    maintainAspectRatio: false,
    hoverOffset: 4,
    radius: '100%',
    animation: {
      animateScale: true
    },
    layout: {
      padding: {
        left: padding.value
      }
    },
    plugins: {
      legend: {
        position: 'bottom',
        align: 'center',
        labels: {
          color: '#9ca3af'
        },
        maxWidth: 100
      },
      tooltip: {
        callbacks: {
          label: (stats: any) => {
            const index = stats.dataIndex
            const value = isTokens.value
              ? ` ${stats.dataset.rawData[index].amount} HP`
              : ` ${formatPercentage(stats.dataset.rawData[index].amount / props.pollTotal)} (${stats.dataset.rawData[index].votes} votes)`
            return value
          }
        }
      }
    }
  }))
</script>

<style>
  .custom-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    font-family: 'Inter';
    font-size: 11.5px;
    border-radius: 4px;
  }
</style>
