<template>
  <section class="min-h-full" aria-labelledby="profile-overview-title">
    <div class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
      <div class="py-6 sm:py-12 space-y-8 mx-4 sm:mx-12 xl:mx-24">
        <div class="flex flex-col-reverse sm:flex-row items-start justify-between sm:gap-8">
          <div class="w-full">
            <div class="flex">
              <h1 class="text-xl font-bold text-gray-900 dark:text-gray-100 sm:text-2xl">
                {{ $t('polls.voting_results') }}
              </h1>
              <span
                class="text-[10px] sm:text-xs text-gray-400"
                v-tippy="{
                  content: txIdContent,
                  arrow: true,
                  delay: 100,
                  placement: 'top',
                  maxWidth: '100%',
                  theme: darkMode ? 'night' : 'day',
                  allowHTML: true,
                  interactive: true,
                  popperOptions: {
                    strategy: 'fixed'
                  }
                }"
                ><small><InformationCircleIcon class="h-4 w-4"></InformationCircleIcon></small
              ></span>
            </div>
            <div class="text-gray-400 text-xs font-normal break-all">
              <p>
                <span>{{ $t('polls.account_age') }}: </span
                ><span class="font-semibold"
                  >{{ pollData?.filter_account_age_days }} {{ pollData?.filter_account_age_days === 1 ? $t('proposals.day') : $t('proposals.days') }}</span
                >
              </p>
              <p>
                <span>{{ $t('polls.interpretation') }}: </span><span class="font-semibold">{{ splitAndCapitalize(pollData?.preferred_interpretation) }}</span>
              </p>
              <p v-if="pollData?.preferred_interpretation === 'tokens'">
                <span>{{ $t('polls.token_interpretation') }}: </span><span class="font-semibold">{{ splitAndCapitalize(pollData?.token) }}</span>
              </p>
              <p v-if="pollData?.ui_hide_res_until_voted">{{ $t('polls.hide_ui') }}</p>
            </div>
          </div>
          <div class="shrink-0 self-end sm:self-start mb-4 sm:m-0 cursor-default">
            <span
              class="text-[10px] sm:text-xs text-gray-400"
              v-tippy="{
                content: endDateContent,
                arrow: true,
                delay: 100,
                placement: 'top',
                maxWidth: '100%',
                theme: darkMode ? 'night' : 'day',
                popperOptions: {
                  strategy: 'fixed'
                }
              }"
            >
              <div
                class="w-fit text-xs sm:text-base py-1 px-2 rounded-md text-white dark:text-slate-900 shadow-lg"
                :class="[pollData.status.toLowerCase() === 'active' ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-red-600 dark:bg-red-400']"
              >
                <p>
                  <span>{{ pollData.status.toLowerCase() === 'active' ? `${pollData.status}: ` : $t('polls.ended') }} </span>
                  <span v-if="pollData.status.toLowerCase() === 'active'">{{ $t('polls.ends_in') }} {{ timeago }}</span>
                </p>
              </div></span
            >
          </div>
        </div>
        <div class="text-lg font-semibold text-emerald-600 dark:text-emerald-400 whitespace-pre-wrap">
          {{ pollData?.question }}
        </div>
        <div v-if="showResults" class="flex flex-col items-center justify-center lg:flex-row lg:items-start lg:justify-start gap-16 lg:gap-4">
          <div class="w-full sm:min-w-[400px] flex flex-col flex-1 shrink-0">
            <div>
              <ul class="space-y-4">
                <li v-for="choice in pollData?.poll_choices" :key="choice.choice_num" class="w-full group flex items-center justify-between gap-2">
                  <div v-if="pollData.status !== 'Ended' && isUserLogged" class="flex items-center">
                    <input
                      type="radio"
                      v-model="userVote"
                      :id="`choice-${choice.choice_num}`"
                      :value="choice.choice_num"
                      class="hover:cursor-pointer border-gray-400 hover:border-gray-500 dark:hover:border-gray-300 bg-transparent text-emerald-600 focus:text-red-600 dark:text-emerald-400 dark:focus:text-emerald-400 focus:ring-0"
                      @change="castVote(choice.choice_num)"
                    />
                    <label :for="`choice-${choice.choice_num}`" class="flex-grow flex items-center cursor-pointer"></label>
                  </div>
                  <div v-if="pollData.preferred_interpretation === 'tokens'" class="w-full">
                    <div class="px-1 group w-full flex grow items-center justify-between gap-2">
                      <div class="flex items-center justify-start gap-1">
                        <p class="line-clamp-2 text-sm sm:text-base" :class="{ 'group-hover:text-emerald-600 dark:group-hover:text-emerald-400': canUserVote }">
                          {{ choice.choice_text }}
                        </p>
                      </div>
                      <div
                        class="flex items-center justify-end gap-1 text-gray-400 text-xs cursor-default shrink-0"
                        :class="{ 'group-hover:text-emerald-600 dark:group-hover:text-emerald-400': canUserVote }"
                      >
                        <p>{{ formatNumber(choice?.votes?.hive_hp_incl_proxied || 0, '0.000a') }} HP</p>
                        <p v-tippy="getTooltipConfig(choice.choice_num)" class="hidden sm:block">
                          <span>({{ choice?.votes?.total_votes || 0 }} votes)</span>
                        </p>
                      </div>
                    </div>
                    <ProgressBar :percentage="totalTokens ? ((choice?.votes?.hive_hp_incl_proxied || 0) / totalTokens) * 100 : 0"></ProgressBar>
                  </div>
                  <div v-else class="w-full">
                    <div class="px-1 group w-full flex grow items-center justify-between gap-2">
                      <div class="flex items-center justify-start gap-1">
                        <p class="line-clamp-2 text-sm sm:text-base" :class="{ 'group-hover:text-emerald-600 dark:group-hover:text-emerald-400': canUserVote }">
                          {{ choice.choice_text }}
                        </p>
                      </div>
                      <div
                        class="flex items-center justify-end gap-1 text-gray-400 text-xs cursor-default shrink-0"
                        :class="{ 'group-hover:text-emerald-600 dark:group-hover:text-emerald-400': canUserVote }"
                      >
                        <p>{{ formatPercentage((choice?.votes?.total_votes || 0) / pollTotal) }}</p>
                        <p v-tippy="getTooltipConfig(choice.choice_num)" class="hidden sm:block">({{ choice?.votes?.total_votes || 0 }} votes)</p>
                      </div>
                    </div>
                    <ProgressBar :percentage="pollTotal ? ((choice?.votes?.total_votes || 0) / pollTotal) * 100 : 0"></ProgressBar>
                  </div>
                </li>
              </ul>
              <button
                v-if="canUserVote && userVotes?.length"
                class="mt-12 w-full justify-center rounded-md border border-red-600 dark:border-red-400 shadow-sm px-4 py-2 bg-transparent text-base font-medium text-red-600 dark:text-red-400 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-0 sm:w-auto sm:text-sm"
                @click="castVote(0)"
              >
                {{ $t('polls.remove_vote') }}
              </button>
            </div>
          </div>
          <div class="sm:mx-auto flex-1">
            <div v-if="pollTotal && showResults">
              <PollDoughnutChart :stats="pollData" :poll-total="pollTotal" :title="`${$t('hivehubStats.votes-breakdown')}`" :dark-mode="darkMode" />
            </div>
            <div v-else></div>
          </div>
        </div>
        <div v-else>
          <div class="w-full sm:min-w-[400px] flex flex-col flex-1 shrink-0">
            <div>
              <ul class="space-y-4">
                <li v-for="choice in pollData?.poll_choices" :key="choice.choice_num" class="w-full group flex items-center justify-between gap-2">
                  <div v-if="pollData.status !== 'Ended' && isUserLogged" class="flex items-center">
                    <input
                      type="radio"
                      v-model="userVote"
                      :id="`choice-${choice.choice_num}`"
                      :value="choice.choice_num"
                      class="radio radio-primary hover:cursor-pointer border-gray-400 bg-transparent text-emerald-600 focus:text-emerald-600 dark:text-emerald-400 dark:focus:text-emerald-400 focus:ring-0"
                      @change="castVote(choice.choice_num)"
                    />
                    <label :for="`choice-${choice.choice_num}`" class="flex-grow flex items-center cursor-pointer"></label>
                  </div>
                  <div v-if="pollData.preferred_interpretation === 'tokens'" class="w-full">
                    <div class="px-1 group w-full flex grow items-center justify-between gap-2">
                      <div class="flex items-center justify-start gap-1">
                        <p class="line-clamp-2 text-sm sm:text-base" :class="{ 'group-hover:text-emerald-600 dark:group-hover:text-emerald-400': canUserVote }">
                          {{ choice.choice_text }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div v-else class="w-full">
                    <div class="px-1 group w-full flex grow items-center justify-between gap-2">
                      <div class="flex items-center justify-start gap-1">
                        <p class="line-clamp-2 text-sm sm:text-base" :class="{ 'group-hover:text-emerald-600 dark:group-hover:text-emerald-400': canUserVote }">
                          {{ choice.choice_text }}
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-full inline-flex justify-center">
          <router-link
            :to="{ name: 'polls' }"
            class="mt-8 rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:w-auto sm:text-sm"
          >
            {{ $t('polls.view_more') }}
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <ConfirmationNotification
    :show="confirmationModal"
    :confirmation-title="confirmationTitle"
    :confirmation-message="confirmationMessage"
  ></ConfirmationNotification>
</template>

<script setup lang="ts">
  import { addMinutes, formatDistanceStrict } from 'date-fns'
  import { useAccountStore } from '~/stores/account'
  import { sendCustomJson } from '~/common/api/hiveApi'
  import { formatPercentage, splitAndCapitalize, formatNumber } from '~/common/helpers/formatter'
  import { InformationCircleIcon } from '@heroicons/vue/solid'

  const props = defineProps<{
    pollData: any
    darkMode: boolean
  }>()
  const accountStore = useAccountStore()

  const confirmationTitle = 'Your vote has been submitted!'
  const confirmationMessage = 'Please refresh the page in few moments to see it updated.'

  const pollData = ref(props.pollData)
  const userVote = ref(0)
  const userVotes = ref([])
  const confirmationModal = ref(false)

  const now = new Date()
  const isUserLogged = computed(() => accountStore.account.authenticated)
  const timeago = computed(() => formatDistanceStrict(new Date(pollData.value?.end_time), addMinutes(now, now.getTimezoneOffset())))
  const darkMode = computed(() => props.darkMode)
  const showResults = computed(
    () =>
      !pollData.value.ui_hide_res_until_voted ||
      (isUserLogged.value && pollData.value.poll_voters?.filter((voter: any) => voter.name === accountStore.account.name)?.length)
  )

  // should update logic to dinamically access based on chainToken if pollData.value.preferred_interpretation === 'tokens'
  const pollTotal = computed(() => {
    if (pollData.value.preferred_interpretation === 'tokens') {
      return pollData.value.poll_stats?.total_hive_hp_incl_proxied || 0
    } else {
      return pollData.value.poll_stats?.total_voting_accounts_num
    }
  })
  const totalTokens = computed(() => pollData.value.poll_stats?.total_hive_hp_incl_proxied || 0)
  const canUserVote = computed(() => isUserLogged.value && pollData.value.status !== 'Ended')
  const txIdContent = computed(() => {
    const txId = pollData.value?.poll_trx_id
    return `<a href="https://hivehub.dev/tx/${txId}" target="_blank"><p>Poll txId: ${txId}</p></a>`
  })
  const endDateContent = computed(() => {
    const date = new Date(pollData.value?.end_time).toUTCString()
    return pollData.value?.status === 'Active' ? `End: ${date}` : date
  })

  const getVotersList = (choiceNum: number) => {
    if (!pollData.value?.poll_voters) {
      return ''
    }
    const votersForChoice = pollData.value?.poll_voters
      .filter((voter: any) => voter.choices.includes(choiceNum))
      .map((voter: any) => voter.name)
      .join(', ')

    return votersForChoice
  }

  const getTooltipConfig = (choiceNum: number) => {
    const votersList = getVotersList(choiceNum)
    if (votersList) {
      return {
        content: votersList,
        allowHTML: true,
        arrow: true,
        theme: darkMode.value ? 'night' : 'day',
        delay: [100, 200],
        placement: 'top',
        interactive: true,
        maxWidth: 200
      }
    }
    return {
      content: '',
      disabled: true
    }
  }

  const showConfirmationDialog = () => {
    confirmationModal.value = true
    setTimeout(() => {
      confirmationModal.value = false
    }, 7000)
  }

  const castVote = async (choiceNum: number) => {
    if (pollData.value.status === 'Ended') {
      return
    }
    if (!accountStore.account.authenticated) {
      alert('You should log in first')
      return
    }

    const id = 'polls'
    const pollCustomJson = {
      poll: pollData.value.poll_trx_id,
      action: 'vote',
      choice: choiceNum
    }

    const selectedChoice = pollData.value?.poll_voters?.find((voter: any) => voter.name === accountStore.account.name)

    try {
      const result = await sendCustomJson(accountStore.account.name, id, 'Posting', JSON.stringify(pollCustomJson), 'voting poll')
      showConfirmationDialog()
      if (!result.success) {
        userVote.value = selectedChoice?.choices[0]
      }
      return result
    } catch (error) {
      console.log(error)
      userVote.value = selectedChoice?.choices[0]
      return error
    }
  }

  onMounted(() => {
    const selectedChoice = pollData.value?.poll_voters?.find((voter: any) => voter.name === accountStore.account.name)
    userVotes.value = selectedChoice?.choices
    userVote.value = selectedChoice?.choices[0]
  })
</script>
