<template>
  <article class="relative min-h-full" aria-labelledby="profile-overview-title">
    <div class="absolute top-3 left-3 inline-flex items-center text-gray-400 text-xs">
      <ChevronLeftIcon class="h-4 w-4"></ChevronLeftIcon>
      <router-link :to="{ name: 'polls' }">{{ $t('polls.view_more') }}</router-link>
    </div>
    <div class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
      <div class="py-6 sm:py-12 mx-4 sm:mx-12 xl:mx-24 space-y-6">
        <header class="flex flex-col-reverse md:flex-row items-start justify-between max-h-screen-md">
          <div class="flex sm:space-x-5 break-words mr-5 self-start">
            <div class="flex flex-col sm:text-left">
              <div class="flex justify-start items-center">
                <AccountAvatar :account="pollData?.author" class="h-12 w-12 mr-2 flex-shrink-0"></AccountAvatar>
                <div class="grid grid-cols-1">
                  <div class="flex items-center justify-start">
                    <router-link
                      :to="`/@${pollData?.author}`"
                      class="flex items-center justify-start gap-2 text-gray-600 dark:text-gray-200 hover:text-gray-500 dark:hover:text-white"
                    >
                      {{ pollData?.author }}
                    </router-link>
                    <div class="hover:cursor-default">
                      <span
                        class="ml-1 text-[10px] sm:text-xs text-gray-400 mt-1"
                        v-tippy="{
                          content: `${new Date(pollData?.created).toUTCString()}`,
                          arrow: true,
                          delay: 100,
                          placement: 'right',
                          maxWidth: '100%',
                          theme: darkMode ? 'night' : 'day',
                          allowHTML: true,
                          interactive: true,
                          popperOptions: {
                            strategy: 'fixed'
                          }
                        }"
                      >
                        •
                        <time :datetime="pollData?.created">{{ timeago }}</time> ago</span
                      >
                    </div>
                  </div>
                  <div>
                    <a
                      v-if="communityTitle"
                      :href="`https://peakd.com/c/${pollData.parent_permlink}`"
                      target="_blank"
                      class="text-emerald-600 dark:text-emerald-400 font-bold"
                    >
                      C/{{ communityTitle }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex self-end md:self-start min-w-fit mb-2 md:m-0">
            <div class="flex items-start justify-end gap-2">
              <a
                :href="`https://peakd.com/${pollData.parent_permlink}/@${pollData.author}/${pollData.permlink}`"
                target="_blank"
                class="w-fit flex items-center justify-between gap-2 shrink-0 text-center px-3 py-2.5 border shadow-md sm:text-sm text-xs font-medium rounded-md border-gray-500 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-200 dark:hover:bg-slate-700"
              >
                <p>
                  {{ $t('account.peakD-view') }}
                </p>
                <img :src="peakdIcon" alt="PeakD icon" class="h-5 w-5" />
              </a>
            </div>
          </div>
        </header>
        <section class="w-full flex flex-col items-center justify-center gap-4">
          <img :src="imgUrl" alt="Poll Image" class="w-full rounded-md max-w-5xl mx-8" />
          <div v-html="safeHTML" class="markdown-content w-full mx-8 max-w-5xl"></div>
        </section>

        <footer>
          <div
            v-for="(tag, index) in pollData?.tags"
            :key="index"
            class="mx-1 mt-3 inline-flex justify-center text-sm items-center gap-1 py-0.5 px-2 rounded-lg text-emerald-500 dark:text-emerald-500 border border-emerald-500 bg-white dark:bg-gray-900 font-semibold"
          >
            <span>
              <p>#{{ tag }}</p>
            </span>
          </div>
        </footer>
      </div>
    </div>
  </article>
</template>

<script setup lang="ts">
  import { addMinutes, formatDistanceStrict } from 'date-fns'
  import peakdWhiteIcon from '~/assets/images/icons/peakd_white.svg'
  import peakdDarkIcon from '~/assets/images/icons/peakd.svg'
  import markdownit from 'markdown-it'
  import DOMPurify from 'dompurify'
  import fallbackImage from '~/assets/images/pollFallbackImage.png'
  import { ChevronLeftIcon } from '@heroicons/vue/solid'

  const props = defineProps<{
    pollData: any
    communityTitle: string
    darkMode: boolean
  }>()

  const pollData = ref(props.pollData)
  const communityTitle = ref(props.communityTitle)
  const imgUrl = ref('')

  const darkMode = computed(() => props.darkMode)
  const peakdIcon = computed(() => (darkMode.value ? peakdWhiteIcon : peakdDarkIcon))

  const md = markdownit({
    html: true,
    linkify: true,
    typographer: true,
    breaks: true
  })

  const extractAndSetImage = (content: string) => {
    const markdownImageRegex = /^\!\[(.*?)\]\((.*?)\)/
    const matches = content.match(markdownImageRegex)
    if (matches && matches[2]) {
      imgUrl.value = matches[2]
      return content.replace(markdownImageRegex, '').trim()
    } else {
      imgUrl.value = !Array.isArray(pollData.value?.image) && pollData.value?.image ? pollData.value?.image : fallbackImage
      return content.trim()
    }
  }

  const preprocessContent = (content: string) => {
    content = extractAndSetImage(content)

    const lastBrIndex = content.lastIndexOf('<br>')
    if (lastBrIndex !== -1) {
      content = content.slice(0, lastBrIndex).trim()
    }
    return content.replace(/\n\n/g, '<br><br>')
  }

  const defaultRender = md.renderer.rules.link_open || ((tokens, idx, options, env, self) => self.renderToken(tokens, idx, options))
  md.renderer.rules.link_open = (tokens, idx, options, env, self) => {
    const linkClass = darkMode.value ? 'text-emerald-400' : 'text-emerald-600'
    tokens[idx].attrPush(['class', linkClass])
    return defaultRender(tokens, idx, options, env, self)
  }

  const preprocessedContent = computed(() => preprocessContent(pollData.value?.post_body || ''))
  const safeHTML = computed(() => DOMPurify.sanitize(md.render(preprocessedContent.value)))

  const now = new Date()
  const timeago = computed(() => formatDistanceStrict(new Date(pollData.value?.created), addMinutes(now, now.getTimezoneOffset())))

  watch(
    () => props.pollData,
    newValue => {
      pollData.value = newValue
    },
    { deep: true, immediate: true }
  )
</script>

<style>
  .markdown-content > ul {
    list-style-type: disc !important;
    margin-left: 20px !important;
  }

  .markdown-content > ul > li {
    margin-bottom: 5px !important;
  }
</style>
