<template>
  <div class="w-full rounded-md h-3 overflow-hidden">
    <div class="bg-gray-200 dark:bg-slate-700 h-3 rounded-md p-0.5">
      <div class="bg-emerald-600 dark:bg-emerald-400 h-full rounded-md" :style="{ width: `${percentage}%` }"></div>
    </div>
  </div>
</template>

<script setup lang="ts">
  const props = defineProps<{ percentage: number }>()

  const percentage = ref(props.percentage)
</script>
