<template>
    <div>
        <form class="w-full max-w-lg" @submit.prevent="submitForm">
            <h1>Add Route Stop</h1>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-name">
            Name:
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-name" type="text" v-model="form.name" required>
        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-route-type">
            Route Type:
        </label>
        <select v-model="form.routeTypeId" id="grid-route-type" required>
        <option value="" disabled>Select Route Type</option>
        <option v-for="routeType in routeTypes" :value="routeType.route_type_id" :key="routeType.route_type_id">{{ routeType.name }}</option>
      </select>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-transaction-minutes">
            Transaction Time (Minutes):
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-transaction-minutes" v-model="form.transactionTimeMinutes" type="number">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-transaction-seconds">
            Transaction Time (Seconds):
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-transaction-seconds" v-model="form.transactionTimeSeconds" type="number">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-site-link">
          Site Link:
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-site-link" v-model="form.siteLink" type="url">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-api-link">
          API Link:
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-api-link" v-model="form.apiLink" type="url">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-description">
          Description:
        </label>
        <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-description" v-model="form.description"></textarea>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-about">
          About:
        </label>
        <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-about" v-model="form.about"></textarea>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-difficulty">
          Difficulty:
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-about" v-model="form.difficulty" >
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-difficulty">
          Exchange Link:
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-exchange-link" v-model="form.exchangeLink" >
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <button type="submit">Submit</button>
    </div>
  </form>
    </div>
</template>

<script setup lang="ts">

 /*const data() {
    return {
      form: {
        name: '',
        routeTypeId: '',
        transactionTimeMinutes: '',
        transactionTimeSeconds: '',
        siteLink: '',
        apiLink: '',
        description: '',
        about: '',
        difficulty: '',
        exchangeLink: ''
      },
      routeTypes: [], // Route types fetched from the database
    };
  },
  mounted() {
    // Fetch route types from the database
    // You can implement the API call to fetch data from the server here
    routeTypes = [
      { route_type_id: 1, name: 'dex' },
      { route_type_id: 2, name: 'cex' },
      { route_type_id: 3, name: 'amm' },
      { route_type_id: 4, name: 'swap-c' },
      { route_type_id: 5, name: 'swap-d' },
      { route_type_id: 6, name: 'bridge-peg' },
      { route_type_id: 7, name: 'deposit-crypto' },
      { route_type_id: 8, name: 'withdraw-crypto' },
      { route_type_id: 9, name: 'deposit-fiat' },
      { route_type_id: 10, name: 'purchase-fiat' },
    ]
  }
  */
  </script>