<template>
  <Combobox as="div" :modelValue="selectedLocation" @update:modelValue="(value:string) => selectLocation(value)" class="relative w-full">
    <div class="flex items-center">
      <div class="absolute ml-3 dark:text-gray-300">@</div>
      <ComboboxInput
        class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-7 pr-10 shadow-sm focus:border-emerald-600 dark:focus:border-emerald-400 focus:outline-none focus:ring-1 focus:ring-emerald-600 dark:focus:ring-emerald-400 sm:text-sm lowercase"
        @change="selectedQuery = $event.target.value"
        :displayValue="location => location"
        autocomplete="off"
      ></ComboboxInput>
      <ComboboxButton class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
        <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></SelectorIcon>
      </ComboboxButton>
    </div>

    <TransitionRoot leave="transition ease-in duration-0" leaveFrom="opacity-100" leaveTo="opacity-0" @after-leave="selectedQuery = ''">
      <ComboboxOptions
        class="absolute z-20 mt-1 max-h-72 w-full overflow-auto rounded-md bg-gray-100 dark:bg-slate-900 py-1 text-base shadow-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5 focus:outline-none sm:text-sm lowercase"
      >
        <div v-if="!Object.keys(filteredLocations).length && selectedQuery !== ''" class="relative cursor-default select-none text-gray-700">
          <div class="flex items-center justify-start text-red-600 dark:text-red-400 gap-2 ml-2">
            <ExclamationIcon class="h-5 w-auto"></ExclamationIcon>
            <p class="py-2 uppercase">NO MATCH</p>
          </div>
        </div>

        <ComboboxOption v-for="location in Object.keys(filteredLocations).sort()" :key="location" :value="location" as="template" v-slot="{ active, selected }">
          <li
            :class="[
              'relative cursor-default select-none py-2 pl-3 pr-9',
              active ? 'bg-emerald-600 dark:bg-emerald-400 text-gray-100 dark:text-slate-900' : 'text-gray-900 dark:text-gray-100'
            ]"
          >
            <div class="flex items-start">
              <span class="ml-1.5 truncate flex justify-center items-center gap-1.5">
                <div class="flex-shrink-0 size-5"><img class="h-full w-auto mx-auto" :src="filteredLocations[location].icon" :alt="`${location} icon`" /></div>
                <div class="flex gap-1">
                  <span :class="['ml-1 truncate', selected && 'font-semibold']"> {{ location }}</span>
                  <span class="uppercase hidden sm:block">({{ getLocationType(filteredLocations[location].type) }})</span>
                </div>
              </span>
            </div>
            <span
              v-if="selected"
              :class="[
                'absolute inset-y-0 right-0 flex items-center pr-4',
                active ? 'text-gray-100 dark:text-slate-900' : 'text-emerald-600 dark:text-emerald-400'
              ]"
            >
              <CheckIcon class="h-5 w-5" aria-hidden="true"></CheckIcon
            ></span>
          </li>
        </ComboboxOption>
      </ComboboxOptions>
    </TransitionRoot>
  </Combobox>
</template>

<script setup lang="ts">
  import { SelectorIcon, ExclamationIcon, CheckIcon } from '@heroicons/vue/solid'
  import { getLocationType, filterObjectBySubstring } from './../helpers/utils'

  const props = defineProps<{
    locations: any
    currentLocation: any
  }>()

  const selectedLocation = ref(props.currentLocation)
  const selectedQuery = ref('')

  const emit = defineEmits(['change'])

  const filteredLocations = computed(() => {
    if (!selectedQuery.value) {
      return filterObjectBySubstring(props.locations)
    }
    return selectedQuery.value.length >= 1 ? filterObjectBySubstring(props.locations, selectedQuery.value) : {}
  })

  const selectLocation = (location: string) => {
    if (props.locations && !props.locations[location]) {
      return
    }

    selectedLocation.value = location
    emit('change', location)
  }

  watch(
    () => props.currentLocation,
    newValue => {
      selectedLocation.value = newValue
      selectedQuery.value = ''
      emit('change', newValue)
    }
  )
</script>
