<template>
  <div class="flex flex-col shadow ring-1 rounded-lg ring-black dark:ring-slate-700 ring-opacity-5">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
            <thead class="bg-gray-200 dark:bg-slate-900">
              <tr class="divide-x divide-gray-300 dark:divide-slate-600">
                <th
                  scope="col"
                  @click="setSortDir('steps')"
                  class="py-2 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                  :class="[currentSort === 'steps' ? 'bg-gray-300/50 dark:bg-slate-700/50 ' : 'hover:bg-gray-300/50 dark:hover:bg-slate-700/50']"
                >
                  <div class="flex items-center justify-center capitalize mb-1">
                    {{ $t('routes.steps') }}
                    <component v-if="currentSort === 'steps'" :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon" class="h-4 w-4 ml-1"></component>
                  </div>
                  <div class="flex items-center justify-center gap-2">
                    <small class="text-emerald-600 dark:text-emerald-400">{{ $t('routes.highlights') }}</small>
                    <input
                      @click.stop="filterAndSortForSuggested($event.target.checked)"
                      name="highlights"
                      type="checkbox"
                      class="h-3.5 w-3.5 rounded text-emerald-600 dark:text-emerald-400 bg-gray-300 dark:bg-slate-600 border-emerald-600 dark:border-emerald-400 focus:ring-0 focus:ring-offset-0"
                    />
                  </div>
                </th>
                <th scope="col" class="py-2 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center justify-center uppercase">
                    {{ $t('routes.from') }}
                  </div>
                  <span class="text-gray-500 dark:text-gray-400 block text-xs capitalize">{{ $t('routes.token.token') }}@{{ $t('routes.location') }}</span>
                </th>
                <th scope="col" class="py-6 pl-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center justify-center">
                    {{ $t('routes.transactions') }}
                  </div>
                </th>
                <th scope="col" class="py-2 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center justify-center uppercase">
                    {{ $t('routes.to') }}
                  </div>
                  <span class="text-gray-500 dark:text-gray-400 block text-xs capitalize">{{ $t('routes.token.token') }}@{{ $t('routes.location') }}</span>
                </th>
                <th scope="col" class="py-2 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center justify-center">
                    {{ $t('routes.fee') }}
                  </div>
                </th>
                <th
                  scope="col"
                  @click="setSortDir('resultingAmount')"
                  class="py-2 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                  :class="[currentSort === 'resultingAmount' ? 'bg-gray-300/50 dark:bg-slate-700/50 ' : 'hover:bg-gray-300/50 dark:hover:bg-slate-700/50']"
                >
                  <div class="flex items-center justify-center">
                    {{ $t('routes.result') }}
                    <component
                      v-if="currentSort === 'resultingAmount'"
                      :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                      class="h-4 w-4 ml-1"
                    ></component>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody
              v-for="(route, routeIndex) in sortedRoutes"
              :key="routeIndex"
              class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-800"
            >
              <tr @click="showRowDetails(routeIndex)" class="hover:cursor-pointer" :class="{ 'contrast-75 drop-shadow-md': getDetails.includes(routeIndex) }">
                <!-- Steps -->
                <td class="px-3 py-2 bg-gray-100 dark:bg-slate-700 whitespace-nowrap text-center text-sm text-gray-500 dark:text-gray-300">
                  <div class="flex flex-col items-center justify-center gap-1">
                    <div class="flex items-center justify-center gap-1">
                      <p>{{ route.length - 1 }}</p>
                      <component :is="route[route.length - 1]?.rank?.icon" class="h-4 w-4" :class="route[route.length - 1]?.rank?.icon_style"></component>
                    </div>
                    <div>
                      <small :class="route[route.length - 1]?.rank?.text_style">{{ route[route.length - 1]?.rank?.text }}</small>
                    </div>
                  </div>
                </td>

                <!-- FROM -->
                <td class="px-3 py-2 bg-white dark:bg-slate-800 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                  <div class="flex items-center justify-center gap-2">
                    <p class="uppercase">{{ $route.query.ti }}</p>
                    <img :src="locationsIcon[`${$route.query.li}`]" class="h-5 w-auto inline-flex" :alt="`${$route.query.li}`" />
                  </div>
                </td>

                <!-- Transactions -->
                <td class="px-3 py-2 bg-gray-100 dark:bg-slate-700 whitespace-wrap text-center text-sm text-gray-600 dark:text-gray-300">
                  <div class="flex items-center justify-center">
                    <div v-for="(step, stepIndex) in route" class="py-2 flex items-center justify-center">
                      <div v-if="stepIndex" class="uppercase flex-col items-center justify-center text-xs">
                        <div v-if="!step.step.includes('->')">
                          <p>{{ parseStep(step.step).op }}</p>
                          <img :src="locationsIcon[parseStep(step.step).loc]" class="h-4 inline-flex" />
                        </div>
                        <div v-else class="flex items-center justify-center">
                          <div>
                            <p>{{ $t('routes.transfer') }}</p>
                            <div class="flex items-center justify-center">
                              <img :src="locationsIcon[parseStep(step.step.split('->')[0]).loc]" class="h-4 inline-flex" />
                              <ArrowSmRightIcon class="w-4 h-4"></ArrowSmRightIcon>
                              <img :src="locationsIcon[parseStep(step.step.split('->')[1]).loc]" class="h-4 inline-flex" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <ChevronDoubleRightIcon v-if="stepIndex && stepIndex < route.length - 1" class="h-4 w-auto mx-1.5 text-gray-400"></ChevronDoubleRightIcon>
                    </div>
                  </div>
                </td>

                <!-- TO -->
                <td class="px-3 py-2 bg-white dark:bg-slate-800 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                  <div class="flex items-center justify-center gap-2">
                    <p class="uppercase">{{ $route.query.to }}</p>
                    <img :src="locationsIcon[`${$route.query.lo}`]" class="h-5 w-auto inline-flex" :alt="`${$route.query.lo}`" />
                  </div>
                </td>

                <!-- Fees -->
                <td class="px-3 py-2 bg-gray-100 dark:bg-slate-700 whitespace-nowrap text-center text-xs text-gray-600 dark:text-gray-300">
                  <span
                    class="align-middle font-semibold text-xs w-full"
                    v-tippy="{
                      content: route[route.length - 1].fee_summary.tippy,
                      arrow: true,
                      delay: 100,
                      placement: 'top',
                      maxWidth: '100%',
                      allowHTML: true,
                      theme: darkMode ? 'night' : 'day'
                    }"
                  >
                    <p v-if="route[route.length - 1].fee_summary.zero_fees > 0">{{ route[route.length - 1].fee_summary.text }}</p>
                    <p v-else>All steps have fees</p>
                  </span>
                </td>

                <!-- Result -->
                <td class="px-3 py-2 bg-white dark:bg-slate-800 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                  <p class="font-semibold">
                    {{ `${formatCurrency(route[route.length - 1].amount, formatDecimals(route[route.length - 1].amount))} ${$route.query.to}` }}
                  </p>
                  <p class="text-gray-400 text-xs">
                    <small v-if="route[0].price && route[route.length - 1].price">
                      {{ route[route.length - 1].price.toFixed(2) - route[0].price.toFixed(2) > 0.0 ? '+' : ''
                      }}{{ formatCurrency(route[route.length - 1].price.toFixed(2) - route[0].price.toFixed(2), '$0.00') }}
                      {{}}
                    </small>
                    <!-- <div v-else>
                      <span
                        class="align-middle font-semibold text-xs"
                        v-tippy="{
                          content: `${$t('routes.missing_info')}`,
                          arrow: true,
                          delay: 100,
                          placement: 'top',
                          maxWidth: '100%',
                          theme: darkMode ? 'night' : 'day'
                        }"
                        ><ExclamationIcon class="m-auto h-6 text-red-600 dark:text-red-400"></ExclamationIcon
                      ></span>
                    </div> -->
                  </p>
                </td>
              </tr>

              <!-- expandable -->
              <tr v-if="getDetails.includes(routeIndex)" v-for="(step, index) in route">
                <!-- Steps -->
                <td
                  v-if="index"
                  class="px-3 py-2 bg-gray-50 dark:bg-slate-600 whitespace-nowrap text-center text-xs text-gray-500 dark:text-gray-300"
                  :class="{ 'border border-gray-300 dark:border-slate-700': index < route.length }"
                >
                  {{ stepCounter(index) }}
                </td>

                <!-- FROM -->
                <td
                  v-if="index"
                  class="px-3 py-2 bg-gray-50 dark:bg-slate-600 whitespace-nowrap text-center text-xs font-bold text-gray-500 dark:text-gray-300"
                  :class="{ 'border border-gray-300 dark:border-slate-700': index < route.length }"
                >
                  {{ route[index - 1]?.token }}
                  <div class="text-gray-400">
                    @<span class="lowercase">{{ route[index - 1]?.location }}</span>
                  </div>
                </td>

                <!-- Transactions -->
                <td
                  v-if="index"
                  class="px-3 py-2 bg-gray-50 dark:bg-slate-600 whitespace-nowrap text-center text-xs text-gray-500 dark:text-gray-300"
                  :class="{ 'border border-gray-300 dark:border-slate-700': index < route.length }"
                >
                  {{ step.step }}
                </td>

                <!-- TO -->
                <td
                  v-if="index"
                  class="px-3 py-2 bg-gray-50 dark:bg-slate-600 whitespace-nowrap text-center text-xs font-bold text-gray-500 dark:text-gray-300"
                  :class="{ 'border border-gray-300 dark:border-slate-700': index < route.length }"
                >
                  {{ step.token }}
                  <div class="text-gray-400">
                    @<span class="lowercase">{{ step.location }}</span>
                  </div>
                </td>
                <!-- Fee -->
                <td
                  v-if="index"
                  class="px-3 py-2 bg-gray-50 dark:bg-slate-600 whitespace-nowrap text-center text-xs text-gray-500 dark:text-gray-300"
                  :class="{ 'border border-gray-300 dark:border-slate-700': index < route.length }"
                >
                  <div v-if="step.fee === undefined" class="flex items-center justify-center">
                    <p>{{ $t('routes.not_available') }}</p>
                    <sup
                      ><span
                        class="align-middle font-semibold text-xs w-full"
                        v-tippy="{
                          content: `Doesn't impact the result`,
                          arrow: true,
                          delay: 100,
                          placement: 'top',
                          maxWidth: '100%',
                          theme: darkMode ? 'night' : 'day'
                        }"
                        ><InformationCircleIcon class="h-3 w-auto text-gray-400"></InformationCircleIcon></span
                    ></sup>
                  </div>
                  <div v-else-if="!Array.isArray(step.fee)" class="">
                    <p v-if="Math.abs(step.fee) > 1e-6">{{ formatCurrency(step.fee, formatDecimals(step.fee)) }} {{ step.token }}</p>
                    <p v-else>0.0</p>
                  </div>
                  <div v-else v-for="(fee, feeIndex) in step.fee" :key="feeIndex">
                    <div v-if="fee">
                      <p v-if="feeIndex === 0" class="block">{{ formatCurrency(fee, formatDecimals(fee)) }} {{ route[index - 1].token }}</p>
                      <p v-else class="block">{{ formatCurrency(fee, formatDecimals(fee)) }} {{ step.token }}</p>
                    </div>
                  </div>
                </td>

                <!-- Result -->
                <td
                  v-if="index"
                  class="px-4 py-2 bg-gray-50 dark:bg-slate-600 whitespace-nowrap text-center text-xs text-gray-500 dark:text-gray-300"
                  :class="{ 'border border-gray-300 dark:border-slate-700': index < route.length }"
                >
                  <p>{{ `${formatCurrency(step.amount, formatDecimals(step.amount))} ${step.token}` }}</p>
                  <small v-if="step.price && route[index - 1].price" class="text-gray-400">
                    {{ step.price.toFixed(2) - route[index - 1].price.toFixed(2) > 0 ? '+' : ''
                    }}{{ Math.abs(step.price - route[index - 1].price) < 0.005 ? '$0.00' : formatCurrency(step.price - route[index - 1].price, '$0.00') }}
                  </small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { stepCounter, formatCurrency, formatDecimals } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'
  import { ArrowSmUpIcon, ArrowSmDownIcon, ArrowSmRightIcon, ChevronDoubleRightIcon } from '@heroicons/vue/outline'
  import { InformationCircleIcon } from '@heroicons/vue/solid'
  import { locationsIcon } from '../helpers/locations'

  const settingsStore = useSettingsStore()
  const darkMode = ref(settingsStore.settings.darkMode)

  const props = defineProps<{ filteredRoutes: any }>()

  const getDetails: Ref<number[] | []> = ref([])
  const routes = ref([...props.filteredRoutes])
  const highlightsActive = ref(false)

  const parseStep = (step: string) => {
    const stepArr = step.split(':')
    return { op: stepArr[1], loc: stepArr[0] }
  }

  const checkAmount = (item: number): string => {
    if (item === undefined) {
      return 'unknown'
    } else {
      if (item > 0) {
        return 'greater_than_zero'
      } else {
        return 'zero_or_less'
      }
    }
  }

  const checkFeeAmounts = (route: any) => {
    const counter: any = {
      greater_than_zero: 0,
      zero_or_less: 0,
      unknown: 0
    }
    route.slice(1).forEach((step: any) => {
      const fees = Array.isArray(step.fee) ? step.fee : [step.fee]
      fees.forEach((fee: number) => {
        counter[checkAmount(fee)] += 1
      })
    })

    route[route.length - 1].fee_summary = {
      zero_fees: counter.zero_or_less,
      text: `${counter.zero_or_less} ${counter.zero_or_less !== 1 ? 'Steps = 0 Fees' : 'Step = 0 Fees'}`,
      tippy: generateFeeTippy(counter)
    }
  }

  const generateFeeTippy = (counter: any) => {
    const singularOrPlural = (qty: number) => (qty !== 1 ? 'fees are' : 'fee is')

    return `In this route:<br>
    ${counter.greater_than_zero} ${singularOrPlural(counter.greater_than_zero)} greater than 0<br>
    ${counter.zero_or_less} ${singularOrPlural(counter.zero_or_less)} less than or equal to 0<br>
    ${counter.unknown} ${singularOrPlural(counter.unknown)} unknown`
  }

  routes.value.forEach((route: any) => checkFeeAmounts(route))

  const filterAndSortForSuggested = (active: boolean) => {
    highlightsActive.value = active
    if (active) {
      routes.value = props.filteredRoutes.filter((route: any) => {
        return route[route.length - 1].rank !== undefined
      })
    } else {
      routes.value = [...props.filteredRoutes]
    }
  }

  const showRowDetails = (index: number) => {
    if (getDetails.value.includes(index)) {
      getDetails.value = getDetails.value.filter((item: number) => item !== index)
    } else {
      getDetails.value.push(index)
    }
  }

  // sorting
  const currentSort = ref('resultingAmount')
  const currentSortDir = ref('desc')

  const setSortDir = (s: string) => {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  const sortedRoutes = computed(() => {
    return [...routes.value].sort((a: any, b: any): any => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'steps') {
        if (a.length < b.length) return -1 * modifier
        if (a.length > b.length) return 1 * modifier
        return 0
      } else if (currentSort.value === 'resultingAmount') {
        if (parseFloat(a[a.length - 1].amount.toFixed(6)) < parseFloat(b[b.length - 1].amount.toFixed(6))) return -1 * modifier
        if (parseFloat(a[a.length - 1].amount.toFixed(6)) > parseFloat(b[b.length - 1].amount.toFixed(6))) return 1 * modifier
        return a.length - b.length
      }
    })
  })

  watch(
    () => props.filteredRoutes,
    newValue => {
      newValue.forEach((route: any) => checkFeeAmounts(route))

      if (highlightsActive.value) {
        filterAndSortForSuggested(true)
      } else {
        routes.value = newValue
      }
    }
  )
</script>
