<template>
  <Teleport to="#page-header-right-target">
    <GridCustomizeNotification :accountData="accountData" :pnTemplates="pnTemplates"></GridCustomizeNotification>
  </Teleport>

  <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-600">
      <li v-for="notification in notifications" :key="notification.id">
        <NotificationRecord :notification="notification"></NotificationRecord>
      </li>
    </ul>

    <CreateNotificationAccountModal v-if="accountDataRes == null" @createNewAccount="createNewAccount"></CreateNotificationAccountModal>
  </div>
</template>

<script setup lang="ts">
  import { sendCustomJson } from '~/common/api/hiveApi'
  import { getConfig, getNotifications } from '~/notifications/api/peakNotificationsApi'
  import CreateNotificationAccountModal from '../components/CreateNotificationAccountModal.vue'
  import { configItemFromOperation, DEFAULT_ACTIVE_SUBS, generateTemplates, IConfigItem, indexTemplates, populateTemplates } from '../helpers/pnFrontendHelper'

  const props = defineProps<{
    account: string
  }>()

  const account = props.account.startsWith('@') ? props.account.substring(1) : props.account
  const accountData = ref<any>({
    id: account,
    config: []
  })
  const notifications = ref<any>([])
  let accountDataRes = null

  // Get account data and notifications from server
  ;[accountDataRes, notifications.value] = await Promise.all([getConfig(account), getNotifications(account)])
  if (accountDataRes != null) {
    accountData.value = accountDataRes
  }

  // Generate UI/helper templates
  const pnTemplates = ref(generateTemplates(account))
  pnTemplates.value = populateTemplates(pnTemplates.value, accountData.value.config)
  const indexedTemplates = indexTemplates(pnTemplates.value)

  const createNewAccount = async (wantsDefaultSubs: Boolean) => {
    const config: Array<IConfigItem> = []

    if (wantsDefaultSubs) {
      for (const opName of DEFAULT_ACTIVE_SUBS) {
        config.push(configItemFromOperation(indexedTemplates[opName]))
      }
    }

    const json = JSON.stringify(['create_account', { config: config }])
    const res: any = await sendCustomJson(account, 'notify', 'Posting', json, 'Create Peak Notifications Account')
    if (res.success) {
      accountData.value = {
        id: account,
        created: new Date(),
        updated: new Date(),
        email: null,
        config: config
      }
    }

    pnTemplates.value = populateTemplates(pnTemplates.value, accountData.value.config)
  }
  console.log('Account notifications: ', notifications.value)
</script>
