<template>
  <Disclosure as="nav" v-slot="{ open }">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex grow items-center px-2 lg:px-0">
          <router-link to="/" class="flex-shrink-0">
            <img class="block lg:hidden h-8 w-auto" :src="LogoIcon" :alt="`${appName}`" />
            <img class="hidden lg:block h-8 w-auto" :src="Logo" :alt="`${appName}`" />
          </router-link>

          <div class="sm:block md:hidden xl:block backdrop-blur-sm bg-slate-700/50 rounded-md ml-5 px-3 py-2 text-white text-xs">
            <span v-if="!hivePrice || !hbdPrice">Loading ...</span>
            <template v-else
              ><span class="mr-2"
                >HIVE: <span class="font-semibold">${{ hivePrice.toFixed(4) }}</span></span
              >
              |
              <span class="ml-2"
                >HBD: <span class="font-semibold">${{ hbdPrice.toFixed(4) }}</span></span
              ></template
            >
          </div>

          <div class="hidden md:block lg:ml-6 grow">
            <div class="flex items-center justify-end space-x-4">
              <template v-for="item in navigation" :key="item.name">
                <Menu v-if="item.pages" as="div" class="relative inline-block text-left">
                  <div>
                    <MenuButton
                      class="px-3 py-2 rounded-md text-sm font-medium"
                      :class="item.current ? 'bg-slate-900 text-white' : 'text-slate-300 hover:bg-slate-900/30 hover:text-white'"
                      >{{ item.name }} <ChevronDownIcon class="h-4 w-4 ml-1 inline"></ChevronDownIcon
                    ></MenuButton>
                  </div>

                  <Transition
                    enter-active-class="transition ease-out duration-100"
                    enter-from-class="transform opacity-0 scale-95"
                    enter-to-class="transform opacity-100 scale-100"
                    leave-active-class="transition ease-in duration-75"
                    leave-from-class="transform opacity-100 scale-100"
                    leave-to-class="transform opacity-0 scale-95"
                  >
                    <MenuItems
                      class="text-xs md:absolute md:right-0 relative mt-2 w-max rounded-md shadow-lg bg-slate-900 text-white ring-1 ring-black dark:ring-slate-700 ring-opacity-0 focus:outline-none z-50"
                    >
                      <MenuItem v-for="page in item.pages" :key="page.name">
                        <div class="py-1 flex">
                          <router-link :to="page.to" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                            <p class="block px-4 py-1">{{ page.name }}</p>
                          </router-link>
                        </div>
                      </MenuItem>
                    </MenuItems>
                  </Transition>
                </Menu>
                <router-link
                  v-else
                  :to="item.to"
                  class="px-3 py-2 rounded-md text-sm font-medium"
                  :class="item.current ? 'bg-slate-900 text-white' : 'text-slate-300 hover:bg-slate-900/30 hover:text-white'"
                  >{{ item.name }}</router-link
                >
              </template>
              <div class="flex">
                <button
                  @click="showWidget = true"
                  class="flex items-center justify-center text-slate-300 hover:bg-slate-900/30 hover:text-white px-2 py-1 rounded-md text-base font-medium"
                >
                  <div v-if="!unreadNotifications?.length">
                    <img class="block h-7 w-auto" :src="ChatIconWhite" :alt="`${appName}`" />
                  </div>
                  <div v-else class="flex">
                    <img class="block h-7 w-auto" :src="ChatIconYellow" :alt="`${appName}`" />
                    <div class="flex items-center justify-center z-10 -ml-2 -mt-2 h-5 w-5 rounded-full bg-[#d97706]">
                      <span class="text-[10px] text-gray-100 font-semibold">{{ unreadNotifications?.length }}</span>
                    </div>
                  </div>
                </button>
              </div>
              <div class="flex items-center">
                <SettingsMenu></SettingsMenu>
              </div>
            </div>
          </div>
        </div>

        <div class="flex md:hidden">
          <!-- Mobile menu button -->
          <DisclosureButton
            class="inline-flex items-center justify-center p-2 rounded-md text-white bg-slate-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          >
            <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true"></MenuIcon>
            <XIcon v-else class="block h-6 w-6" aria-hidden="true"></XIcon>
          </DisclosureButton>
        </div>
      </div>
    </div>

    <DisclosurePanel class="md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <template v-for="item in navigation.flatMap(i => i.pages || i)" :key="item.name">
          <router-link
            v-if="item.local"
            :to="item.to"
            :class="[
              item.current ? 'bg-slate-900 text-white' : 'text-slate-300 hover:bg-slate-900/30 hover:text-white',
              'block px-3 py-2 rounded-md text-base font-medium'
            ]"
            >{{ item.name }}</router-link
          >
          <a
            v-else
            :href="item.to"
            target="_blank"
            class="text-slate-300 hover:bg-slate-900/30 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >{{ item.name }} ></a
          >
        </template>

        <button
          @click="showWidget = true"
          class="w-full flex items-center justify-start gap-2 text-slate-300 hover:bg-slate-900/30 hover:text-white px-3 py-1 rounded-md text-base font-medium"
        >
          <p>Chat</p>
          <div v-if="!unreadNotifications?.length">
            <img class="block h-7 w-auto" :src="ChatIconWhite" :alt="`${appName}`" />
          </div>
          <div v-else class="flex">
            <img class="block h-7 w-auto" :src="ChatIconYellow" :alt="`${appName}`" />
            <div class="flex items-center justify-center z-10 -ml-2 -mt-2 h-5 w-5 rounded-full bg-[#d97706]">
              <span class="text-[10px] text-gray-100 font-semibold">{{ unreadNotifications?.length }}</span>
            </div>
          </div>
        </button>

        <div class="mx-3 border-t border-solid border-white/30"></div>
        <div class="text-slate-300 text-base font-medium">
          <template v-if="isAuthenticated">
            <div>
              <router-link :to="`/@${accountStore.account.name}`" class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-800">
                <div class="grow">
                  <p class="block px-4 py-1">@{{ accountStore.account.name }}</p>
                </div>
                <UserIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></UserIcon>
              </router-link>
            </div>
            <button @click="toggleSettingsModal(true)" class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-900/30">
              <div>
                <p class="block px-4 py-1">{{ $t('settings.settings') }}</p>
              </div>
              <CogIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></CogIcon>
            </button>
            <button @click="toggleSwitchUserModal(true)" class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-900/30">
              <div>
                <p class="block px-4 py-1">{{ $t('settings.switch_user') }}</p>
              </div>
              <UserGroupIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></UserGroupIcon>
            </button>
            <button @click="accountStore.signOut()" class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-900/30">
              <div>
                <p class="block px-4 py-1">{{ $t('settings.logout') }}</p>
              </div>
              <LogoutIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></LogoutIcon>
            </button>
          </template>
          <template v-else>
            <button @click="toggleLoginModal(true)" class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-900/30">
              <div>
                <p class="inline-block px-4 py-1">{{ $t('settings.login') }}</p>
              </div>
              <LoginIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></LoginIcon>
            </button>
            <a
              href="https://signup.hive.io"
              target="_blank"
              rel="noopener"
              class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-900/30"
            >
              <div>
                <p class="block px-4 py-1">{{ $t('settings.register') }}</p>
              </div>
              <UserAddIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></UserAddIcon>
            </a>
            <button @click="toggleSettingsModal(true)" class="w-full flex grow justify-between px-0 py-2 hover:text-white hover:bg-slate-900/30">
              <div>
                <p class="block px-4 py-1">{{ $t('settings.settings') }}</p>
              </div>
              <CogIcon class="my-auto h-4 w-4 mr-4" aria-hidden="true"></CogIcon>
            </button>
          </template>
        </div>
      </div>
    </DisclosurePanel>
  </Disclosure>

  <WidgetContainer :show-widget="showWidget" @hide-widget="showWidget = false" :unread-notifications="unreadNotifications || null"></WidgetContainer>
  <TransitionRoot :as="LoginModal" :show="loginModalOpen" @close="toggleLoginModal(false)" @openWarning="toggleWarningModal(true)"></TransitionRoot>
  <TransitionRoot :as="SettingsModal" :show="settingsModalOpen" @close="toggleSettingsModal(false)"></TransitionRoot>
  <TransitionRoot
    :as="SwitchUserModal"
    :show="switchUserModalOpen"
    @close="toggleSwitchUserModal(false)"
    @openLoginModal="toggleLoginModal(true)"
    @propagateNewUser="propagateNewUser"
  ></TransitionRoot>
  <WarningNotification class="z-50" :show="warningModalOpen" :warningContent="keychainNotFound" @close="toggleWarningModal(false)"></WarningNotification>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { ChevronDownIcon } from '@heroicons/vue/solid'
  import { MenuIcon, XIcon, LoginIcon, LogoutIcon, UserAddIcon, CogIcon, UserIcon, UserGroupIcon } from '@heroicons/vue/outline'
  import Logo from '~/assets/images/hivehub_light.svg'
  import LogoIcon from '~/assets/images/hivehub_icon.svg'
  import ChatIconYellow from '~/assets/images/icons/chat_small_bee_yellow.svg'
  import ChatIconWhite from '~/assets/images/icons/chat_small_bee_white.svg'
  import { useTokenPricesStore } from '~/stores/tokenPrices'
  import { config as explorerConfig } from '~/explorer/config'
  import { config as marketConfig } from '~/market/config'
  import { config as statsConfig } from '~/stats/config'
  import { config as multisignConfig } from '~/multisign/config'
  import { config as tokenRoutesConfig } from '~/tokenRoutes/config'
  import { config as pollsConfig } from '~/polls/config'
  import { config as raffleConfig } from '~/raffles/config'
  import LoginModal from '~/common/components/modals/LoginModal.vue'
  import SettingsModal from '~/common/components/modals/SettingsModal.vue'
  import WarningNotification from './modals/WarningNotification.vue'
  import SwitchUserModal from './modals/SwitchUserModal.vue'
  import { useAccountStore } from '~/stores/account'
  import { getChatNotifications, getLastNotificationTimestamp } from '~/common/api/chatWidgetApi'

  export type Notification = {
    type: string
    date: string
    msg: string
    url: string
  }

  const appName = import.meta.env.VITE_APP_TITLE

  const { t } = useI18n()

  const route = useRoute()

  const isExplorerEnabled = explorerConfig.enabled
  const isMarketEnabled = marketConfig.enabled
  const isStatsEnabled = statsConfig.enabled
  const isMultisignEnabled = multisignConfig.enabled
  const isTokenRoutesEnabled = tokenRoutesConfig.enabled
  const isPollsEnabled = pollsConfig.enabled
  const isRaffleEnabled = raffleConfig.enabled

  const navigation = computed(() => {
    const links = []

    if (isExplorerEnabled) {
      links.push({
        name: t('pages.explorer'),
        to: '/',
        local: true,
        current: route.name && ['home', 'blocks', 'block', 'transaction', 'account'].includes(route.name.toString())
      })
      links.push({
        name: 'Governance',
        pages: [
          { name: t('pages.witnesses'), to: '/witnesses', local: true },
          { name: t('pages.proposals'), to: '/proposals', local: true }
        ],
        current: ['witnesses', 'witnesses-hive-engine', 'proposals'].includes(String(route.name))
      })
    }

    if (isMarketEnabled) {
      links.push({ name: t('pages.market'), to: '/market', local: true, current: route.name === 'market' })
    }

    if (isStatsEnabled) {
      links.push({
        name: t('pages.stats'),
        to: '/stats',
        pages: [
          { name: t('pages.operations'), to: '/stats', local: true },
          { name: t('pages.communities'), to: '/stats/communities', local: true },
          { name: t('pages.badges'), to: '/stats/badges', local: true }
        ],
        local: true,
        current: route.name === 'stats'
      })
    }

    if (isMultisignEnabled || isTokenRoutesEnabled || isPollsEnabled || isRaffleEnabled) {
      const pages = []

      if (isMultisignEnabled) {
        pages.push({ name: t('pages.multisign'), to: '/multisign', local: true })
      }
      if (isPollsEnabled) {
        pages.push({ name: t('pages.polls'), to: '/polls', local: true })
      }
      if (isTokenRoutesEnabled) {
        pages.push({ name: t('pages.tokenroutes'), to: '/routes', local: true })
        // pages.push({ name: t('pages.tokenlist'), to: '/routes/tokens', local: true })
        // pages.push({ name: t('pages.locationlist'), to: '/routes/locations', local: true })
      }

      if (isRaffleEnabled) {
        pages.push({ name: t('pages.raffles'), to: '/raffles', local: true })
      }

      links.push({
        name: 'Tools',
        pages: pages,
        current: ['multisign', 'tokenroutes', 'polls', 'raffle'].includes(route.name)
      })
    }

    return links
  })

  const tokenPricesStore = useTokenPricesStore()
  const hivePrice = computed(() => tokenPricesStore.hivePrice)
  const hbdPrice = computed(() => tokenPricesStore.hbdPrice)

  const accountStore = useAccountStore()
  const isAuthenticated = computed(() => accountStore.account.authenticated)

  // handle ChatWidget and new notifications
  const showWidget = ref(false)
  const unreadNotifications: Ref<Notification[] | []> = ref([])
  const interval = 10 * 1000
  let intervalId: NodeJS.Timeout | null = null

  const fetchUnreadNotifications = async () => {
    if (accountStore.account.name) {
      let chatNotifications
      try {
        chatNotifications = await getChatNotifications(accountStore.account.name)
        const lastRead = await getLastNotificationTimestamp(accountStore.account.name)
        const unreadNotifications = chatNotifications.filter((notification: Notification) => Date.parse(notification.date) > lastRead[2])
        return unreadNotifications
      } catch (error) {
        return error
      }
    }
  }

  const getUnreadNotifications = async () => {
    if (intervalId) {
      clearInterval(intervalId)
      unreadNotifications.value = []
    }

    if (accountStore.account.name) {
      unreadNotifications.value = await fetchUnreadNotifications()
      intervalId = setInterval(async () => {
        unreadNotifications.value = await fetchUnreadNotifications()
      }, interval)
    }
  }

  // modals handling
  let loginModalOpen = ref(false)
  const toggleLoginModal = (open = false) => {
    loginModalOpen.value = open
  }

  let settingsModalOpen = ref(false)
  const toggleSettingsModal = (open = false) => {
    settingsModalOpen.value = open
  }

  let warningModalOpen = ref(false)
  const toggleWarningModal = (open = false) => {
    warningModalOpen.value = open
  }

  let switchUserModalOpen = ref(false)
  const toggleSwitchUserModal = (open = false) => {
    switchUserModalOpen.value = open
  }

  let propagateNewUser = (username: string) => {
    accountStore.switchUser(username)
  }

  // lifecycle hooks
  onMounted(async () => {
    await getUnreadNotifications()
    tokenPricesStore.refreshTokenPrices()
  })

  watch(
    () => accountStore.account.name,
    async () => {
      await getUnreadNotifications()
    }
  )

  const keychainNotFound =
    '<p class="text-sm font-medium mb-1">HIVE Keychain extension not found!</p><p class="text-xs font-medium">Check it out at <a href="https://hive-keychain.com/" target="_blank" class="underline">https://hive-keychain.com/</a></p>'
</script>
