<template>
  <!-- Modal header -->
  <!-- Modal body -->
  <div class="p-2">
    <div class="relative mb-6">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
          />
        </svg>
      </div>
      <input
        type="text"
        ref="inputUsername"
        id="input-group-1"
        class="bg-gray-50 border border-gray-300 text-gray-900 dark:text-white text-sm rounded-lg block w-full pl-10 p-2.5 focus:bg-gray-200 focus:ring-emerald-500 focus:border-emerald-500 dark:focus:bg-slate-600 dark:bg-slate-700 dark:border-gray-600 dark:placeholder-gray-400"
        :class="errorUsername ? 'ring-red-500 border-red-500 dark:ring-red-500 dark:border-red-500' : ''"
        placeholder="username"
        v-model="account"
      />
    </div>
    <div class="px-6">
      <h3 class="text-base text-center text-gray-600 dark:text-gray-100">Select wallet</h3>
    </div>
    <ul class="my-4 space-y-3" v-for="wallet in walletsParsed">
      <li class="cursor-pointer">
        <div
          class="flex items-center p-3 min-h-[4rem] text-base text-gray-900 rounded-lg bg-gray-100 hover:bg-gray-200 group hover:shadow dark:bg-slate-700 dark:hover:bg-slate-600 dark:text-white"
          @click="selectWallet(wallet.id)"
        >
          <span
            :class="{ 'flex items-center justify-center h-10 w-10 rounded-full bg-black': wallet.id === 'keychain' }"
            class="min-w-[2.5rem] ml-1"
            v-html="resolveIcon(wallet.icon)"
          ></span>
          <span class="flex-1 ml-3 whitespace-nowrap">{{ wallet.name }}</span>
          <span
            class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-slate-700 dark:text-gray-400"
            v-if="wallet.flag"
          >
            {{ wallet.flag }}
          </span>
        </div>
      </li>
      <!-- <li>
            <a
              href="#"
              class="flex items-center p-3 min-h-[4rem] text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
            >
              <span class="min-w-[2.5rem] ml-1" v-html>
                <img src="./keychain_icon.png" class="h-6" />
              </span>
              <span class="flex-1 ml-3 whitespace-nowrap">Hive Keychain</span>
            </a>
          </li> -->
    </ul>
    <!-- Why connect -->
    <!--div>
          <a href="#" class="inline-flex items-center text-xs font-normal text-gray-500 hover:underline dark:text-gray-400">
            <svg class="w-3 h-3 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            Why do I need to connect with my wallet?</a
          >
        </div-->
    <div class="mt-6 text-sm text-gray-600 dark:text-gray-100">
      <p>In order to use the wallets you should download and install browser extensions.</p>
      <div class="mt-2 text-base font-semibold text-emerald-600 dark:text-emerald-300 flex items-center justify-between">
        <div>
          <a href="https://vault.peakd.com/ " target="_blank" class="flex items-center justify-start gap-1"
            ><span>Peak Vault</span><ExternalLinkIcon class="h-4 w-4"></ExternalLinkIcon
          ></a>
        </div>
        <div>
          <a href="https://hive-keychain.com/" target="_blank" class="flex items-center justify-start gap-1"
            ><span>Hive Keychain</span><ExternalLinkIcon class="h-4 w-4"></ExternalLinkIcon
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, watch, nextTick, PropType } from 'vue'
  import { getWallet, Wallet } from '@peakd/hive-wallet-sdk'
  import { ExternalLinkIcon } from '@heroicons/vue/outline'

  const props = defineProps({
    wallets: { type: Object as PropType<Array<{ name: string; id: string; icon: string; flag?: string } | 'peakvault' | 'keychain'>> }
  })

  const emit = defineEmits<{
    (event: 'onWalletSelected', wallet: Wallet, account: string): void
  }>()

  const open = ref(false)
  const account = ref('')
  const inputUsername = ref()
  const errorUsername = ref(false)

  watch(
    () => open.value,
    () => {
      if (open.value) {
        nextTick(() => inputUsername.value.focus())
      }
    }
  )

  const walletsParsed = computed(() => {
    if (props.wallets) {
      return props.wallets.map(wallet => parseWallet(wallet))
    }
  })

  const parseWallet = (wallet: any) => {
    if (wallet === 'peakvault') {
      return { name: 'Peak Vault', id: 'peakvault', icon: svgPeakvault }
    } else if (wallet === 'keychain') {
      return { name: 'Hive Keychain', id: 'keychain', icon: imgKeychain }
    }
  }

  const resolveIcon = (icon: string) => {
    switch (icon) {
      case 'peakvault':
        return svgPeakvault
      case 'keychain':
        return imgKeychain
      default:
        return icon
    }
  }

  const isValidUsername = (username: string) => username.length <= 16 && username.match(/[a-z][a-z0-9-.]{2,15}/).length > 0

  const selectWallet = async (id: string) => {
    errorUsername.value = false

    if (!account.value.length || !isValidUsername(account.value)) {
      errorUsername.value = true
      alert('Invalid username')
      return
    }

    try {
      const w = await getWallet(id)
      open.value = false
      emit('onWalletSelected', w.id, account.value)
    } catch (err) {
      alert(err)
      return
    }
  }

  const svgPeakvault = `<svg
                  xmlns:dc="http://purl.org/dc/elements/1.1/"
                  xmlns:cc="http://creativecommons.org/ns#"
                  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                  xmlns:svg="http://www.w3.org/2000/svg"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                  data-v-fde0c5aa=""
                  viewBox="0 0 251.19255 251.18987"
                  class="iconAbove h-9"
                  version="1.1"
                  id="svg18"
                  sodipodi:docname="peakvault.svg"
                  inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"
                >
                  <metadata id="metadata22">
                    <rdf:RDF>
                      <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title></dc:title>
                      </cc:Work>
                    </rdf:RDF>
                  </metadata>
                  <sodipodi:namedview
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1"
                    objecttolerance="10"
                    gridtolerance="10"
                    guidetolerance="10"
                    inkscape:pageopacity="0"
                    inkscape:pageshadow="2"
                    inkscape:window-width="2009"
                    inkscape:window-height="1154"
                    id="namedview20"
                    showgrid="false"
                    fit-margin-top="2"
                    fit-margin-right="2"
                    fit-margin-bottom="2"
                    fit-margin-left="2"
                    inkscape:zoom="1.5733333"
                    inkscape:cx="26.995409"
                    inkscape:cy="146.34264"
                    inkscape:window-x="0"
                    inkscape:window-y="0"
                    inkscape:window-maximized="0"
                    inkscape:current-layer="svg18"
                  />
                  <!---->
                  <defs data-v-fde0c5aa="" id="defs2">
                    <linearGradient inkscape:collect="always" id="linearGradient867">
                      <stop style="stop-color: #3730a3; stop-opacity: 1" offset="0" id="stop863" />
                      <stop style="stop-color: #e11d48; stop-opacity: 1" offset="1" id="stop865" />
                    </linearGradient>
                    <!---->
                    <linearGradient
                      inkscape:collect="always"
                      xlink:href="#linearGradient867"
                      id="linearGradient869"
                      x1="2.6665275"
                      y1="2.4780953"
                      x2="97.284767"
                      y2="97.096336"
                      gradientUnits="userSpaceOnUse"
                    />
                  </defs>
                  <defs data-v-fde0c5aa="" id="defs6">
                    <!---->
                  </defs>
                  <defs data-v-fde0c5aa="" id="defs11">
                    <!---->
                  </defs>
                  <g
                    data-v-fde0c5aa=""
                    id="4654fe36-1178-4468-b570-76c84978057c"
                    transform="matrix(2.6802623,0,0,2.6802623,-8.4181798,-8.4181824)"
                    style="opacity: 0.97000002; fill: url(#linearGradient869); stroke: none; fill-opacity: 1"
                  >
                    <path
                      d="M 82.767,96.113 H 17.234 C 9.874,96.113 3.887,90.126 3.887,82.766 V 17.234 c 0,-7.36 5.987,-13.347 13.347,-13.347 h 65.533 c 7.359,0 13.347,5.987 13.347,13.347 V 82.767 C 96.113,90.126 90.126,96.113 82.767,96.113 Z M 17.234,9.887 c -4.051,0 -7.347,3.296 -7.347,7.347 v 65.533 c 0,4.051 3.296,7.347 7.347,7.347 h 65.533 c 4.051,0 7.347,-3.296 7.347,-7.347 V 17.234 c 0,-4.051 -3.296,-7.347 -7.347,-7.347 z"
                      id="path13"
                      inkscape:connector-curvature="0"
                      style="fill-opacity: 1; fill: url(#linearGradient869)"
                    />
                    <path
                      d="m 70.789768,50.000306 c 0,-1.019453 0.829414,-1.845645 1.847256,-1.845645 h 9.949731 A 32.498481,32.498481 0 0 0 74.352217,28.261642 l -7.037928,7.037929 a 1.8471383,1.8471384 0 1 1 -2.612248,-2.612248 l 7.037928,-7.037929 A 32.49204,32.49204 0 0 0 51.84695,17.413245 v 9.949731 a 1.8464497,1.8464498 0 0 1 -3.692899,0 v -9.949731 a 32.488818,32.488818 0 0 0 -19.893019,8.234538 l 7.039539,7.03954 a 1.847255,1.847255 0 1 1 -2.612247,2.612247 l -7.03954,-7.039539 A 32.488818,32.488818 0 0 0 17.414246,48.15305 h 9.949731 a 1.8464498,1.8464498 0 1 1 0,3.692899 h -9.949731 a 32.498481,32.498481 0 0 0 8.234538,19.893019 l 7.03954,-7.039539 a 1.8488655,1.8488655 0 0 1 2.612247,2.613859 l -7.03954,7.037928 a 32.488818,32.488818 0 0 0 19.89302,8.234538 v -9.949731 a 1.847255,1.847255 0 1 1 3.692899,0 v 9.949731 a 32.498481,32.498481 0 0 0 19.891409,-8.234538 l -7.03793,-7.037928 a 1.850476,1.850476 0 0 1 2.613858,-2.613859 l 7.03793,7.037929 a 32.480766,32.480766 0 0 0 8.234538,-19.891409 h -9.949732 a 1.847255,1.847255 0 0 1 -1.847255,-1.845643 z"
                      id="path15"
                      inkscape:connector-curvature="0"
                      style="stroke-width: 1.61051011; fill-opacity: 1; fill: url(#linearGradient869)"
                    />
                  </g>
                  <g id="g943" transform="matrix(3.6560541,0,0,-3.6560541,57.754335,186.66394)" style="opacity: 0.97000002; fill: #ffffff">
                    <path
                      inkscape:connector-curvature="0"
                      id="path20"
                      style="fill: #ffffff; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 0.124659"
                      d="m 18.626724,28.195882 3.07272,-4.819878 -3.07272,-4.81989 -3.072707,4.81989 z"
                    />
                    <path
                      inkscape:connector-curvature="0"
                      id="path22"
                      style="fill: #ffffff; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 0.124659"
                      d="m 21.939026,22.978217 2.900266,-4.549418 -2.900266,-4.54943 -2.900279,4.54943 z"
                    />
                    <path
                      inkscape:connector-curvature="0"
                      id="path24"
                      style="fill: #ffffff; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 0.124659"
                      d="m 15.256269,22.978217 2.900279,-4.549418 -2.900279,-4.54943 -2.900304,4.54943 z"
                    />
                    <path
                      inkscape:connector-curvature="0"
                      id="path26"
                      style="fill: #ffffff; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 0.124659"
                      d="M 12.042111,17.912562 14.942378,13.363144 11.843517,8.4934028 H 6.0635027 Z"
                    />
                    <path
                      inkscape:connector-curvature="0"
                      id="path28"
                      style="fill: #ffffff; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 0.124659"
                      d="m 25.069974,17.912562 -2.900279,-4.549418 3.098898,-4.8697412 h 5.780014 z"
                    />
                  </g>
                  <!---->
                </svg>`
  const imgKeychain = `<svg id="Layer_3" class="h-6" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.98 26.96"><defs><style>.cls-1{fill:#e31337;}.cls-2{fill:#2e3192;stroke:#00aeef;stroke-miterlimit:10;stroke-width:0.1px;}.cls-3{fill:#fff;}</style></defs><path class="cls-1" d="M7.28,16.7a2.63,2.63,0,0,1-.91,2.38,2.23,2.23,0,0,1-2.55-.74S.11,18.81,0,16a3.12,3.12,0,0,1,2.08-3.38l9.37-3s.64-4.94,4.83-6.68,8.45,1.69,8.45,1.69A8.27,8.27,0,0,0,16,7.44c-3.64,4.52.4,9.75.4,9.75s-1.89-1.31-2.89-1.93c-.42-.26-.5-.08-.59,0s.09,1.28-.56,1.95a1.76,1.76,0,0,1-1,.45A2.28,2.28,0,0,1,9.25,16.1a.61.61,0,0,0-.1-.24,1,1,0,0,0-1-.25,1.14,1.14,0,0,0-.84.89A1.24,1.24,0,0,0,7.28,16.7Z" transform="translate(0 -2.4)"/><path class="cls-2" d="M24.26,5.88h.37A2.3,2.3,0,0,0,24.26,5.88Z" transform="translate(0 -2.4)"/><path class="cls-3" d="M31.83,12.16s0-.08,0-.12a.43.43,0,0,0,0-.11v0a.29.29,0,0,1,0-.09s0,0,0,0-.07-.25-.11-.39a.19.19,0,0,0,0-.07,7.75,7.75,0,0,0-5.44-5.19A4.11,4.11,0,0,0,25.64,6L25.23,6c-.11,0-.22,0-.33,0h-.71l-.65,0A7.71,7.71,0,0,0,17.1,16.48a2.22,2.22,0,0,1-.34,1.33,60,60,0,0,1-6.23,7,3.65,3.65,0,0,0,.29,3.7c1.27,2,4.36,0,4.36,0s2.13.68,2.74-.75-.49-2.35-.71-2.84-.12-1.51,1.1-1.1,2.54,1,3.25.16-.36-2.63,0-2.9,1,.49,2.83.29h.06a7.6,7.6,0,0,0,3.94-1.22h0a7.72,7.72,0,0,0,3.25-4.46,7.46,7.46,0,0,0,.27-2A6.29,6.29,0,0,0,31.83,12.16ZM25.5,15.11a2.9,2.9,0,1,1,2.78-2.9A2.85,2.85,0,0,1,25.5,15.11Z" transform="translate(0 -2.4)"/></svg>`
</script>
