<template>
  <Combobox as="div" v-model="selectedElement" v-slot="{ open }">
    <div class="relative">
      <div>
        <ComboboxInput
          :disabled="readOnly"
          :placeholder="placeholder"
          class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-600 dark:focus:border-emerald-400 focus:outline-none focus:ring-1 focus:ring-emerald-600 dark:focus:ring-emerald-400 text-sm placeholder:text-xs"
          :class="{
            'border-emerald-600 dark:border-emerald-400 ring-1 ring-emerald-600 dark:ring-emerald-400': open
          }"
          @change="query = $event.target.value"
          :display-value="(element: any) => (parseText ? splitAndCapitalize(element?.name) : element?.name)"
        ></ComboboxInput>
        <ComboboxButton class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></SelectorIcon>
        </ComboboxButton>
      </div>
      <TransitionRoot leave="transition ease-in duration-50" leaveFrom="opacity-50" leaveTo="opacity-0" @after-leave="query = ''">
        <ComboboxOptions
          v-if="filteredElements.length > 0"
          class="absolute z-10 mt-1 max-h-64 w-full overflow-auto rounded-md bg-gray-100 dark:bg-slate-900 py-1 text-base shadow-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5 focus:outline-none sm:text-sm"
        >
          <ComboboxOption v-for="element in filteredElements" :key="element.name" :value="element" as="ul" v-slot="{ active, selected }">
            <li
              :class="[
                'relative cursor-default select-none py-2 pl-3 pr-9',
                active ? 'bg-emerald-600 dark:bg-emerald-400 text-gray-100 dark:text-slate-900' : 'text-gray-900 dark:text-gray-100'
              ]"
            >
              <div class="flex items-center">
                <span v-if="element.color" :class="['inline-block h-2 w-2 flex-shrink-0 rounded-full', element.color]" aria-hidden="true"></span>
                <span :class="['ml-3 truncate', selected && 'font-semibold']">
                  {{ parseText ? splitAndCapitalize(element.name) : element.name }}
                </span>
              </div>

              <span
                v-if="selected"
                :class="[
                  'absolute inset-y-0 right-0 flex items-center pr-4',
                  active ? 'text-gray-100 dark:text-slate-900' : 'text-emerald-600 dark:text-emerald-400'
                ]"
              >
                <CheckIcon class="h-5 w-5" aria-hidden="true"></CheckIcon>
              </span>
            </li>
          </ComboboxOption>
        </ComboboxOptions>
      </TransitionRoot>
    </div>
  </Combobox>
</template>

<script setup lang="ts">
  import { CheckIcon, SelectorIcon } from '@heroicons/vue/solid'
  import { splitAndCapitalize } from '../helpers/formatter'

  const props = defineProps<{
    elements: Array<any>
    current: string | number | boolean
    parseText?: boolean
    readOnly?: boolean
    placeholder?: string
    takeCustomValues?: boolean
  }>()

  const selectedElement = ref(props.elements?.find(e => e.value === props.current))

  const query = ref('')

  const queryElement = computed(() => {
    if (props.takeCustomValues) {
      return query.value === '' ? null : { name: query.value, value: query.value }
    }
    return null
  })

  const filteredElements = computed(() => {
    if (!query.value) {
      return props.elements
    }

    const matchingElements = props.elements.filter(e => e.name.toLowerCase().includes(query.value.toLowerCase()))
    return queryElement.value ? [queryElement.value, ...matchingElements] : matchingElements
  })

  const emit = defineEmits(['change'])

  watch(props, () => {
    selectedElement.value = props.elements?.find(e => e.value === props.current)
    query.value = ''
  })

  watch(selectedElement, () => {
    emit('change', selectedElement.value.value)
    query.value = ''
  })
</script>
