<template>
  <header class="pb-6" :class="title ? 'pt-10' : 'pt-6'">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between">
      <div class="flex">
        <div>
          <h1 v-if="title" class="text-3xl font-bold text-white text-left mr-4 whitespace-pre-wrap break-all">{{ title }}</h1>
          <p v-if="desc" class="block text-xl font-semibold text-white text-left mr-4 whitespace-pre-wrap break-all">{{ desc }}</p>
        </div>
        <div class="flex justify-end items-center" id="page-header-left-target"></div>
      </div>
      <div class="flex justify-end items-center gap-4" id="page-header-right-target"></div>
    </div>
  </header>
</template>

<script setup lang="ts">
  import { RouteParams } from 'vue-router'

  const formatString = (template: string, params: RouteParams) => {
    let str = template
    for (let key of Object.keys(params)) {
      str = str.replace(new RegExp('\\{' + key + '\\}', 'gi'), String(params[key]))
    }

    return str
  }

  const route = useRoute()
  const title = computed(() => (route.meta && route.meta.title && typeof route.meta.title === 'string' ? formatString(route.meta.title, route.params) : ''))
  const desc = computed(() => (route.meta && route.meta.desc && typeof route.meta.desc === 'string' ? formatString(route.meta.desc, route.params) : ''))
</script>
