<template>
  <div>
    <label v-if="title" class="text-base font-semibold text-gray-900 dark:text-gray-100">{{ title }}</label>
    <fieldset class="mt-4">
      <legend class="sr-only">{{ title }}</legend>
      <div class="flex sm:items-center space-x-10 sm:space-y-0">
        <div v-for="option in options" :key="option.value" class="flex items-center">
          <div class="flex flex-col items-center justify-center">
            <input
              v-model="selectedOption"
              :value="option"
              type="radio"
              :checked="option.value === selectedOption?.value"
              @change="$emit('change', selectedOption)"
              class="h-4 w-4 border-none bg-gray-200 dark:bg-slate-600/50 text-emerald-600 dark:text-emerald-400 focus:ring-emerald-600 dark:focus:ring-emerald-400 hover:cursor-pointer"
            />
            <div class="flex items-center justify-center gap-2">
              <img v-if="option.icon" :src="option.icon" class="h-4 hidden md:inline-flex rounded-sm" />
              <label :for="option.value" class="block text-xs text-center lg:text-start font-medium leading-6 text-gray-900 dark:text-gray-100">{{
                option.name
              }}</label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</template>

<script setup lang="ts">
  type option = {
    name: string
    value: string
    icon?: string
  }

  const emit = defineEmits(['change'])
  const props = defineProps<{ title?: string; options: option[]; current: string }>()
  const selectedOption = ref(props.options.find(option => option.value === props.current))
</script>
