<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
    <label for="search" class="sr-only">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
      </div>
      <input
        v-model="searchText"
        @keyup.enter="search"
        class="block w-full pl-10 pr-3 py-2 border rounded-md leading-5 placeholder-gray-400 text-gray-200 bg-white/5 border-white/40 focus:bg-white dark:focus:bg-slate-800 focus:border-white dark:focus:border-slate-300 focus:outline-none focus:ring-white ark:focus:ring-slate-300 focus:text-gray-900 dark:focus:text-gray-100 focus:placeholder-gray-500 sm:text-sm"
        placeholder="Search Account / Community Code / Block / Transaction / Permlink"
        type="search"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { SearchIcon } from '@heroicons/vue/outline'

  const router = useRouter()

  const searchText = ref('')
  const search = () => {
    if (!searchText || !searchText.value) return

    try {
      if (searchText.value.match(/^[0-9]+$/)) {
        router.push(`/b/${searchText.value}`)
        return
      }

      if (searchText.value.match(/^@[a-z][a-z0-9-.]{2,15}\/[a-z0-9-]+$/)) {
        router.push(`/${searchText.value}`)
        return
      }

      const normalizedText = searchText.value.trim().toLowerCase()
      if (normalizedText.match(/hive-1[0-9]{4,5}/)) {
        router.push(`/c/${normalizedText.toLowerCase()}`)
        return
      } else if (normalizedText.length >= 3 && normalizedText.length <= 16) {
        router.push(`/@${normalizedText.toLowerCase()}`)
        return
      }

      router.push(`/tx/${searchText.value}`)
    } finally {
      searchText.value = ''
    }
  }
</script>
