<template>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select</label>
    <select
      id="tabs"
      name="tabs"
      @change="(e: any) => router.push(e.target.value)"
      class="block w-full focus:ring-emerald-500 focus:border-emerald-500 dark:focus:border-emerald-100 border-gray-300 dark:border-slate-500 rounded-md"
    >
      <option v-for="tab in tabs.filter(t => t.enabled)" :key="tab.name" :value="tab.to" :selected="tab.current">{{ tab.name }}</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <nav
      class="relative z-0 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 flex divide-x divide-gray-200 dark:divide-slate-600"
      aria-label="Tabs"
    >
      <router-link
        v-for="(tab, tabIdx) in tabs"
        :key="tab.name"
        :to="tab.enabled ? tab.to : route.fullPath"
        :class="[
          tab.current
            ? 'text-emerald-600 dark:text-emerald-400 underline decoration-2 underline-offset-2'
            : 'text-gray-500 dark:text-gray-300 hover:text-gray-700  dark:hover:text-gray-200 ',
          { 'rounded-l-lg': tabIdx === 0 },
          { 'rounded-r-lg': tabIdx === tabs.length - 1 },
          tab.enabled ? 'hover:bg-gray-50 dark:hover:bg-slate-700 focus:z-10' : 'cursor-not-allowed text-gray-400 hover:text-gray-400'
        ]"
        class="group relative bg-white dark:bg-slate-800 py-2 px-4 text-sm font-medium text-center"
        :aria-current="tab.current ? 'page' : undefined"
      >
        <span>{{ tab.name }}</span>
      </router-link>
    </nav>
  </div>
</template>

<script setup lang="ts">
  const props = defineProps<{
    tabs: any[]
  }>()

  const tabs = props.tabs

  const route = useRoute()
  const router = useRouter()
</script>
