<template>
  <div>
    <Teleport to="#page-header-right-target">
      <TabSwitch :tabs="tabs"></TabSwitch>
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters" class="ml-3"></Filters>
    </Teleport>

    <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-4 py-3 sm:px-6">
      <div class="px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200 dark:sm:divide-gray-700">
          <div class="py-2 sm:py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 items-center">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Block ID</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2 flex items-center">
              <span class="grow break-all mr-3">{{ block.block_id }}</span>
              <router-link
                :to="`/b/${props.block}?show=advanced`"
                class="text-center px-4 py-2 border shadow-sm text-sm font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
              >
                Blockchain data
              </router-link>
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Timestamp</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
              {{ formatISOTimestamp(block.timestamp) }}
              <span class="text-gray-500 dark:text-gray-300 text-xs italic">({{ block.timestamp }})</span>
            </dd>
          </div>
          <div class="py-3.5 sm:py-4.5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300 self-center">Witness</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
              <router-link :to="`/@${block.witness}`" class="font-medium text-emerald-600 dark:text-emerald-400">
                <img :src="`https://images.hive.blog/u/${block.witness}/avatar/small`" class="inline-block h-7 w-7 rounded-full mr-1" />
                {{ block.witness }}</router-link
              >
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Transactions</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
              {{ transactionTotal }}<span v-if="virtualOpsTotal" class="text-gray-500 dark:text-gray-300 italic"> / {{ virtualOpsTotal }} virtual</span>
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Accounts</dt>
            <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
              <div class="mt-4 flex-shrink-0 sm:mt-0">
                <div class="flex overflow-hidden -space-x-1 items-center">
                  <span v-if="accounts.length > 15" class="text-gray-900 dark:text-gray-100 grow">{{ accounts.length }} users</span>
                  <AccountAvatar
                    v-for="account in accounts.slice(0, 15)"
                    :key="`${account}`"
                    class="h-6 w-6 ring-1 ring-white dark:ring-slate-800 bg-white dark:bg-slate-800"
                    :account="account"
                  ></AccountAvatar>
                </div>
              </div>
            </dd>
          </div>
        </dl>
      </div>

      <div class="relative mt-4 mb-2">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300 dark:border-slate-500"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="px-2 text-sm bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-300"> Transactions </span>
        </div>
      </div>

      <ul role="list" :class="{ 'divide-y divide-gray-200 dark:divide-slate-600': !settingsStore.settings.transactionsRendering }">
        <li v-for="trx in filteredTransactions" :key="trx.transaction_id">
          <TransactionRecord :trx="trx" :timestamp="block.timestamp"></TransactionRecord>
        </li>
      </ul>

      <BlockRawDataModal :block="block" :show="showAdvanced" @close="router.push(`/b/${props.block}`)"></BlockRawDataModal>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { Operation, Transaction } from '@hiveio/dhive'
  import { getBlock, getOpsInBlock } from '~/common/api/hiveApi'
  import { extractOperationAccount } from '~/common/helpers/hiveFunctions'
  import { formatISOTimestamp, splitAndCapitalize } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'
  import appsConfig from '~/explorer/helpers/apps'

  const settingsStore = useSettingsStore()

  const props = defineProps<{
    block: string
  }>()

  const tabs = computed(() => [
    { name: 'Prev', to: `/b/${(+props.block - 1).toString()}`, enabled: props.block === '1' ? false : true },
    { name: 'Next', to: `/b/${(+props.block + 1).toString()}`, enabled: true }
  ])

  console.log('Loading block: ', props.block)
  const block = await getBlock(parseInt(props.block))
  console.log('block: ', block)

  let virtualOps: any[] = []
  try {
    virtualOps = (await getOpsInBlock(parseInt(props.block), true)).map((op: any) => ({
      block_num: op.block,
      expiration: op.timestamp,
      extensions: [],
      operations: [op.op],
      signatures: [],
      transaction_id: op.trx_id,
      op_in_trx: op.op_in_trx,
      transaction_num: 0,
      virtual: op.virtual_op > 0
    }))
  } catch (virtualOpsError) {
    console.error(`Error loading virtual ops in block ${props.block}: `, virtualOpsError)
  }

  const transactionTotal = block.transactions.length
  const virtualOpsTotal = virtualOps.length

  const transactions = [...block.transactions]
  for (let virtualOp of virtualOps) {
    const matched = block.transactions.find((t: any) => t.transaction_id === virtualOp.transaction_id)
    if (matched) {
      matched.operations = matched.operations.concat(virtualOp.operations)
    } else {
      transactions.push(virtualOp)
    }
  }

  const avatarPreviewOperations = ['vote', 'comment', 'transfer', 'custom_json']
  const accounts = [
    ...new Set(
      block.transactions
        .flatMap((t: Transaction) => t.operations.filter((o: Operation) => avatarPreviewOperations.includes(o[0])))
        .sort((a: Operation, b: Operation) => (a[0] === 'custom_json' && b[0] === 'custom_json' ? 0 : a[0] === 'custom_json' ? 1 : -1))
        .map((o: Operation) => extractOperationAccount(o[1]))
    )
  ]

  const route = useRoute()
  const router = useRouter()

  const showAdvanced = computed(() => route.query.show === 'advanced')

  // all apps with at least one operation in this block
  const blockApps = [
    ...new Set(
      transactions
        .map(tx => appsConfig.find(app => app.match(tx.operations[0])))
        .filter(app => app)
        .map((app: any) => app.name)
        .sort((a, b) => a.localeCompare(b))
    )
  ].map((appName: string) => ({ name: appName, value: appName }))

  // all ops with at least one operation in this block
  const blockOps = [...new Set(transactions.map(tx => tx.operations[0][0]).sort((a, b) => a.localeCompare(b)))].map((opsName: string) => ({
    name: splitAndCapitalize(opsName),
    value: opsName
  }))

  // filtering
  const filters = ref({
    text: {
      label: 'Text',
      placeholder: 'Search by text',
      value: ''
    },
    app: {
      label: 'Apps',
      options: [{ name: 'All', value: 'all' }, ...blockApps],
      value: 'all'
    },
    operations: {
      label: 'Operations',
      options: [{ name: 'All', value: 'all' }, ...blockOps],
      value: 'all'
    }
  })

  const handleFilterChange = (filterName: string, selectedOption: any) => {
    if (filterName === 'text') {
      filters.value.text.value = selectedOption
    } else {
      for (const option of filters.value[filterName].options) {
        if (selectedOption === option.value) {
          filters.value[filterName].value = option.value
          return
        }
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredTransactions = computed(() => {
    return transactions.filter(tx => {
      // text
      if (filters.value.text.value) {
        const words = filters.value.text.value.split(' ')
        for (let i = 0; i < words.length; i++) {
          if (JSON.stringify(tx).search(words[i]) === -1) {
            return false
          }
        }
      }

      // app
      if (filters.value.app.value !== 'all') {
        const app = appsConfig.find(app => app.match(tx.operations[0]))
        if (!app || app.name !== filters.value.app.value) {
          return false
        }
      }

      // operations
      if (filters.value.operations.value !== 'all' && tx.operations[0][0] !== filters.value.operations.value) {
        return false
      }
      return true
    })
  })
</script>
