<template>
  <div>
    <TransactionRecord
      v-if="trx && timestamp"
      :trx="trx"
      :timestamp="timestamp"
      :summary="true"
      :forceSummary="true"
      class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 mb-6"
    ></TransactionRecord>
    <div>
      <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
        <div class="px-4 py-5 sm:p-0">
          <dl class="sm:divide-y sm:divide-gray-200 dark:sm:divide-gray-700">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Hash</dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3 break-words">{{ trx?.transaction_id }}</dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Block</dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                <router-link :to="`/b/${trx.block_num}`" class="text-emerald-600 dark:text-emerald-400 font-semibold">{{ trx.block_num }}</router-link>
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Timestamp</dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                {{ formatISOTimestamp(timestamp) }}
                <span class="text-gray-500 dark:text-gray-300 text-xs italic">({{ timestamp }})</span>
              </dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Expiration</dt>
              <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                <span v-if="timestamp">{{ timeDifference(new Date(timestamp), new Date(trx.expiration)) }}</span>
                <span class="text-gray-500 dark:text-gray-300 text-xs">
                  <span v-if="timestamp" class="text-gray-500 dark:text-gray-300"> @ </span>
                  {{ formatISOTimestamp(trx.expiration) }}
                  <span class="italic">({{ trx.expiration }})</span>
                </span>
              </dd>
            </div>
            <template v-for="(op, index) in trx.operations" :key="index">
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">
                  Operation
                  <span v-if="trx.operations.length > 1" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
                    >#{{ index + 1 }}</span
                  >
                </dt>
                <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                  <pre class="font-semibold">{{ op[0] }}</pre>
                </dd>
              </div>
              <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">
                  Raw data
                  <span v-if="trx.operations.length > 1" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
                    >#{{ index + 1 }}</span
                  >
                  <div class="mt-5 text-xs">
                    <div class="flex">
                      <div class="text-gray-400">Small font:</div>
                      <SwitchGroup as="div" class="ml-2 flex items-center justify-between gap-4">
                        <Switch
                          v-model="settingsStore.settings.jsonFontSize"
                          :class="[
                            settingsStore.settings.jsonFontSize ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                            'relative inline-flex flex-shrink-0 h-4 w-8 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                          ]"
                        >
                          <span
                            aria-hidden="true"
                            :class="[
                              settingsStore.settings.jsonFontSize ? 'translate-x-4' : 'translate-x-0',
                              'pointer-events-none relative inline-block h-3 w-3 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                            ]"
                          />
                        </Switch>
                      </SwitchGroup>
                    </div>
                    <div v-if="op[0] === 'custom_json'" class="flex mt-3">
                      <div class="text-gray-400">Format JSON:</div>
                      <SwitchGroup as="div" class="ml-2 flex items-center justify-between gap-4">
                        <Switch
                          v-model="settingsStore.settings.jsonRendering"
                          :class="[
                            settingsStore.settings.jsonRendering ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                            'relative inline-flex flex-shrink-0 h-4 w-8 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                          ]"
                        >
                          <span
                            aria-hidden="true"
                            :class="[
                              settingsStore.settings.jsonRendering ? 'translate-x-4' : 'translate-x-0',
                              'pointer-events-none relative inline-block h-3 w-3 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                            ]"
                          />
                        </Switch>
                      </SwitchGroup>
                    </div>
                  </div>
                </dt>
                <dd class="mt-1 text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
                  <AutoLayoutOperation :op="op"></AutoLayoutOperation>
                </dd>
              </div>
            </template>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { formatISOTimestamp, timeDifference } from '~/common/helpers/formatter'
  import { getOpsInBlock, getBlockHeader } from '~/common/api/hiveApi'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()

  const props = defineProps<{
    block: string
    txId: string
    opInTx: string
  }>()

  const trx: any = ref(null)
  const timestamp = ref<string | null>(null)

  getBlockHeader(parseInt(props.block))
    .then(result => {
      timestamp.value = result.timestamp
    })
    .catch(error => {
      console.error(`Error fetching block header for block ${props.block}: `, error)
    })

  const virtualOps: any[] = await getOpsInBlock(parseInt(props.block), true)
    .then(ops => {
      return ops.map((op: any) => ({
        block_num: op.block,
        expiration: op.timestamp,
        extensions: [],
        operations: [op.op],
        signatures: [],
        transaction_id: op.trx_id,
        op_in_trx: op.op_in_trx,
        transaction_num: 0,
        virtual: op.virtual_op > 0
      }))
    })
    .catch(error => {
      console.error(`Error loading virtual ops in block ${props.block}: `, error)
      return []
    })

  trx.value = virtualOps.find(op => {
    return op.op_in_trx === parseInt(props.opInTx) && op.transaction_id === props.txId
  })
</script>
