<template>
  <WitnessStatsPanel :witness="props.witness" />
</template>

<script setup lang="ts">
  import WitnessStatsPanel from '../components/WitnessesStatsPanel.vue'

  const props = defineProps<{
    witness: string
  }>()
</script>
