<template>
  <section class="min-h-full" aria-labelledby="profile-overview-title">
    <div class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
      <div class="px-3 py-6">
        <div class="mx-5 flex flex-col sm:flex-row items-center items:center sm:items-start sm:justify-between">
          <div class="flex sm:flex flex-col sm:flex-row items-center sm:items-start sm justify-start sm:space-x-5 break-words mr-5">
            <AccountAvatar :account="badge.name" size="medium" class="flex-shrink-0" imgClass="mx-auto h-20 w-20" />
            <div class="flex flex-col mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
              <p class="mb-1 text-xl font-bold text-gray-900 dark:text-gray-100 sm:text-2xl">B/{{ badge?.profile_name || badge.name }}</p>
              <p class="text-sm font-medium text-gray-500 dark:text-gray-300">{{ badge.about }}</p>
              <p class="text-gray-500 dark:text-gray-400 block mt-2">
                Owner: {{ badge.name }} | Created: {{ formatDate(badge.created) }} by
                <router-link :to="{ name: 'account', params: { account: badge.created_by } }" class="font-semibold">@{{ badge.created_by }}</router-link>
              </p>
              <p v-if="badge?.website" class="text-sm font-medium text-gray-500 dark:text-gray-300 mt-2 place-self-center sm:place-self-start">
                <a :href="badge.website" target="_blank" class="flex align-center justify-start gap-1 w-full"
                  ><GlobeAltIcon class="h-5 w-5" /> <span>Website</span>
                </a>
              </p>
            </div>
          </div>
          <div class="flex sm:flex-col content-stretch sm:whitespace-nowrap gap-3">
            <div class="flex justify-center content-center mt-5 sm:mt-0">
              <a
                :href="`https://peakd.com/b/${badge.name}`"
                target="_blank"
                class="sm:grow grow-0 text-center px-5 py-3.5 border shadow-sm sm:text-sm text-xs font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
              >
                {{ $t('account.peakD-view') }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-2 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
      >
        <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <div>
            <span>
              Total <span class="hidden sm:inline">{{ $t('badges.num_recipients') }}:</span>
              {{ parseInt(badge.num_recipients) }}
            </span>
            <span class="text-gray-500 dark:text-gray-400 block"
              >{{ $t('badges.num_recipients_active_last_30_days') }}: {{ parseInt(badge.num_recipients_active_last_30_days) }}</span
            >
            <span class="text-gray-500 dark:text-gray-400 block"
              >{{ $t('badges.date_of_last_recipient') }}:
              <span
                v-tippy="{
                  content: `${formatISOTimestamp(badge.date_of_last_recipient)}`,
                  arrow: true,
                  delay: 100,
                  placement: 'top'
                }"
              >
                <time :datetime="badge.date_of_last_recipient" class="cursor-default"
                  >{{ formatDistanceStrict(new Date(badge.date_of_last_recipient), addMinutes(new Date(), new Date().getTimezoneOffset())) }}
                  ago
                </time>
              </span></span
            >
          </div>
        </div>
        <div class="flex items-center justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
          <span
            >Total <span class="hidden sm:inline">{{ $t('badges.num_followers') }}</span
            >: {{ formatNumber(parseInt(badge.num_followers), '0,0[.]') }}</span
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { Badge } from '../api/statsDef'
  import { formatNumber, formatDate, formatISOTimestamp } from '~/common/helpers/formatter'
  import { formatDistanceStrict, addMinutes } from 'date-fns'
  import { GlobeAltIcon } from '@heroicons/vue/solid'

  const props = defineProps<{
    badge: Badge
  }>()
</script>
