<template>
  <Teleport to="#page-header-right-target">
    <div class="relative z-0 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 flex divide-x divide-gray-200 dark:divide-slate-600">
      <button
        class="rounded-l-lg py-2 px-4 text-sm font-medium text-center text-gray-500 dark:text-gray-300 hover:text-gray-700 group relative bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700 focus:z-10 dark:hover:text-gray-200 disabled:opacity-50"
        :disabled="offset === 0"
        @click="prevPage"
      >
        Prev
      </button>

      <button
        class="rounded-r-lg py-2 px-4 text-sm font-medium text-center text-gray-500 dark:text-gray-300 hover:text-gray-700 group relative bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700 focus:z-10 dark:hover:text-gray-200 disabled:opacity-50"
        :disabled="!hasNextPage"
        @click="nextPage"
      >
        Next
      </button>
    </div>
    <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
    <!-- <CreatePollModal></CreatePollModal> -->
  </Teleport>

  <div class="flex flex-col">
    <div class="overflow-x-auto shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 rounded-lg">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th
                  scope="col"
                  @click="setSortDir('author')"
                  class="p-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                  :class="[currentSort === 'author' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                >
                  <div class="flex items-center">
                    {{ $t('polls.author') }}
                    <component
                      v-if="currentSort === 'author'"
                      :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                      class="h-4 w-4 ml-1 shrink-0"
                    ></component>
                  </div>
                </th>

                <th
                  scope="col"
                  @click="setSortDir('question')"
                  class="p-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                  :class="[currentSort === 'question' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                >
                  <div class="flex items-center">
                    {{ $t('polls.question') }}
                    <component
                      v-if="currentSort === 'question'"
                      :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                      class="h-4 w-4 ml-1 shrink-0"
                    ></component>
                  </div>
                </th>
                <th
                  scope="col"
                  @click="setSortDir('created')"
                  class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                  :class="[currentSort === 'created' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                >
                  <div class="flex items-center justify-center">
                    {{ $t('proposals.dates') }}
                    <component
                      v-if="currentSort === 'created'"
                      :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                      class="h-4 w-4 ml-1"
                    ></component>
                  </div>
                </th>

                <th scope="col" class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center">
                    {{ $t('polls.interpretation') }}
                  </div>
                </th>
                <th scope="col" class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center">
                    {{ $t('polls.choices_allowed') }}
                  </div>
                </th>
                <th scope="col" class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  <div class="flex items-center">
                    {{ $t('polls.allow_vote_changes') }}
                  </div>
                </th>
                <th
                  scope="col"
                  @click="setSortDir('total_votes')"
                  class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                  :class="[currentSort === 'total_votes' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                >
                  <div class="flex items-center">
                    {{ $t('polls.total_voters') }}
                    <component
                      v-if="currentSort === 'total_votes'"
                      :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                      class="h-4 w-4 ml-1 shrink-0"
                    ></component>
                  </div>
                </th>
                <th scope="col" class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">
                  {{ $t('proposals.status') }}
                </th>
                <th class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">{{ $t('polls.view') }}</th>
                <th scope="col" class="p-4 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">Voted</th>
              </tr>
            </thead>
            <tbody v-if="isLoading">
              <tr class="p-4 bg-white dark:bg-slate-700 h-96">
                <td colspan="10" class="w-full h-full bg-gray-300 dark:bg-slate-600 rounded-b placeholder text-center text-xl">
                  <div class="flex flex-col items-center justify-center gap-3">
                    <p>Fetching polls data</p>
                    <svg class="mr-3 -ml-1 size-7 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path
                        class="opacity-75"
                        fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                      ></path>
                    </svg>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody v-else-if="!isLoading && sortedPolls.length" v-for="poll in sortedPolls" :key="poll.poll_trx_id" class="bg-white dark:bg-slate-700">
              <tr @click="goToPoll(poll.author, poll.permlink)" target="_blank" class="hover:bg-gray-100 dark:hover:bg-slate-800/50 hover:cursor-pointer">
                <td rowspan="2" class="whitespace-nowrap py-4 px-4 text-sm">
                  <div class="flex items-center justify-start">
                    <AccountAvatar :account="poll.author" :static="true" class="h-8 w-8 flex-shrink-0"></AccountAvatar>
                    <div class="text-gray-900 dark:text-gray-100 font-medium text-sm ml-4">
                      <p>{{ poll.author }}</p>
                    </div>
                  </div>
                </td>
                <td rowspan="2" class="p-4 text-left font-medium text-sm text-gray-900 dark:text-gray-100">
                  <p class="line-clamp-2">{{ poll.question }}</p>
                </td>

                <td class="whitespace-nowrap py-3.5 pl-3 pr-3 text-center text-xs text-gray-500 dark:text-gray-300">
                  {{ $t('proposals.start') }}: {{ formatDate(poll.created) }}<br />
                  {{ $t('proposals.end') }}: {{ poll.end_time ? formatDate(poll.end_time) : 'N/A' }}
                </td>
                <td class="whitespace-nowrap p-4 text-center text-xs text-gray-500 dark:text-gray-300">
                  <p>{{ splitAndCapitalize(poll.preferred_interpretation) }}</p>
                  <p v-if="poll.preferred_interpretation === 'tokens'" class="mt-1">{{ poll.token }}</p>
                </td>
                <td class="whitespace-nowrap p-4 text-center text-xs text-gray-500 dark:text-gray-300">
                  {{ poll.max_choices_voted || 1 }}
                </td>
                <td class="whitespace-nowrap">
                  <CheckIcon v-if="poll.allow_vote_changes !== false" class="h-5 w-auto m-auto text-center text-gray-500 dark:text-gray-300" />
                </td>
                <td class="whitespace-nowrap p-4 text-center text-xs text-gray-500 dark:text-gray-300">
                  {{ poll?.poll_stats?.total_voting_accounts_num || '-' }}
                </td>
                <td class="whitespace-nowrap p-4 text-center text-sm text-gray-500 dark:text-gray-300">
                  <span
                    v-if="poll.status === 'Ended'"
                    class="inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-red-100 dark:bg-red-700 text-red-700 dark:text-red-100"
                    >{{ $t('polls.ended') }}</span
                  >
                  <span
                    v-else
                    class="inline-flex rounded-full px-2 text-xs font-semibold leading-5 bg-emerald-100 dark:bg-emerald-700 text-emerald-700 dark:text-emerald-100"
                    >{{ $t('polls.active') }}</span
                  >
                </td>
                <td class="min-w-fit shrink-0">
                  <div class="flex items-center justify-center gap-2 shrink-0">
                    <div type="button"><img :src="PeakdIcon" class="h-4 w-4 hover:scale-125 duration-300" /></div>
                    <div type="button" @click.prevent.stop="goToPoll(poll.author, poll.permlink, poll.parent_permlink, 'ecency')" class="z-10">
                      <img :src="EcencyIcon" class="grayscale h-4 w-4 hover:scale-125 duration-300" />
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap">
                  <CheckIcon v-if="poll.voted_by_user" class="h-5 w-auto m-auto text-center text-gray-500 dark:text-gray-300" />
                </td>
              </tr>
            </tbody>
            <tbody v-else class="bg-white dark:bg-slate-700">
              <tr class="p-4 bg-white dark:bg-slate-700 h-96">
                <td colspan="10" class="w-full h-full bg-gray-300 dark:bg-slate-600 rounded-b text-center text-xl">No polls to show ...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { formatDate, splitAndCapitalize } from '~/common/helpers/formatter'
  import { fetchPolls, fetchPollsVotedByUser } from '~/polls/api/pollApi'
  import { Poll } from '../api/pollDef'
  import { useSettingsStore } from '~/stores/settings'
  import { useAccountStore } from '~/stores/account'
  import EcencyIcon from '~/assets/images/icons/ecency.svg'
  import PeakdLightIcon from '~/assets/images/icons/peakd.svg'
  import PeakdDarkIcon from '~/assets/images/icons/peakd_white.svg'
  import { CheckIcon } from '@heroicons/vue/solid'

  const is_prod = import.meta.env.VITE_APP_IS_PROD === 'true'

  const settingsStore = useSettingsStore()
  const accountStore = useAccountStore()

  const availablePolls: Ref<Poll[]> = ref([])
  const isLoading = ref(true)

  const offset = ref(0)
  const limit = 100
  const hasNextPage = ref(false)

  const darkMode = computed(() => settingsStore.settings.darkMode)
  const PeakdIcon = computed(() => (darkMode.value ? PeakdDarkIcon : PeakdLightIcon))

  const isUserLogged = computed(() => accountStore.account.authenticated)
  const userLogged = computed(() => accountStore.account.name)

  const computeStatusFilter = (): string | null => {
    const activeValue = filters.value.status.options.active.value
    const endedValue = filters.value.status.options.ended.value

    if (activeValue && endedValue) {
      return null
    } else if (activeValue && !endedValue) {
      return 'active'
    } else if (!activeValue && endedValue) {
      return 'ended'
    } else {
      return 'none'
    }
  }

  const goToPoll = (author: string, permlink: string, parentPerm: string = 'hive-104500', target: string = 'peakd') => {
    let url = `https://peakd.com/@${author}/${permlink}`
    if (target === 'ecency') {
      url = `https://ecency.com/${parentPerm}/@${author}/${permlink}`
    }
    window.open(url, '_blank')
  }

  const loadPolls = async () => {
    try {
      isLoading.value = true

      const statusVal = computeStatusFilter()
      if (statusVal === 'none') {
        availablePolls.value = []
        hasNextPage.value = false
        return
      }

      const polls = await fetchPolls(offset.value, statusVal, limit + 1)

      if (polls.length > limit) {
        hasNextPage.value = true

        polls.splice(limit)
      } else {
        hasNextPage.value = false
      }

      let votedByUserTrxIds: string[] = []
      if (isUserLogged.value) {
        votedByUserTrxIds = await fetchPollsVotedByUser(userLogged.value)
      }
      const votedSet = new Set(votedByUserTrxIds)

      availablePolls.value = polls.map(p => ({
        ...p,
        voted_by_user: votedSet.has(p.poll_trx_id)
      }))
    } catch (err: any) {
      console.error('Error fetching polls:', err)
      alert(err.message)
    } finally {
      isLoading.value = false
    }
  }

  // Pagination
  function nextPage() {
    if (hasNextPage.value) {
      offset.value += limit
      loadPolls()
    }
  }

  function prevPage() {
    if (offset.value >= limit) {
      offset.value -= limit
      loadPolls()
    }
  }

  // Filters
  const filters = ref({
    question: {
      label: 'Poll Question',
      placeholder: 'Poll Question',
      value: ''
    },
    author: {
      label: 'Poll Author',
      placeholder: 'Username',
      value: ''
    },
    preferred_interpretation: {
      label: 'Vote Interpretation',
      options: {
        number_of_votes: { label: 'Number of Votes', value: false },
        tokens: { label: 'Tokens', value: false }
      }
    },
    max_choices_voted: {
      label: 'Number of Choices',
      options: {
        one: { label: 'One', value: false },
        multi: { label: 'Multi', value: false }
      }
    },
    status: {
      label: 'Status',
      options: {
        active: { label: 'Active', value: true }, // default checked
        ended: { label: 'Ended', value: false }
      }
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const [group, name] = filterName.split('.')
      const filter = (filters.value as any)[group]
      if (filter?.options?.[name] != null) {
        filter.options[name].value = filterValue
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  function clearFilters(defaultFilters: string) {
    filters.value = JSON.parse(defaultFilters)
  }

  watch(
    () => [filters.value.status.options.active.value, filters.value.status.options.ended.value],
    () => {
      offset.value = 0
      loadPolls()
    }
  )

  const filteredPolls = computed(() => {
    return availablePolls.value.filter(poll => {
      // filter out test polls in prod
      if (is_prod && poll.tags.includes('test')) return false

      // Poll question
      if (filters.value.question.value && !poll.question.toLowerCase().includes(filters.value.question.value.toLowerCase())) {
        return false
      }

      // Poll author
      if (filters.value.author.value && !poll.author.toLowerCase().includes(filters.value.author.value.toLowerCase())) {
        return false
      }

      // max_choices_voted
      const { one, multi } = filters.value.max_choices_voted.options
      if (!(one.value && multi.value)) {
        if (one.value && poll.max_choices_voted !== 1) return false
        if (multi.value && poll.max_choices_voted <= 1) return false
      }

      // interpretation
      const { number_of_votes, tokens } = filters.value.preferred_interpretation.options
      if (!(number_of_votes.value && tokens.value)) {
        if (number_of_votes.value && poll.preferred_interpretation !== 'number_of_votes') return false
        if (tokens.value && poll.preferred_interpretation !== 'tokens') return false
      }

      return true
    })
  })

  // Sorting
  const currentSort = ref('total_votes')
  const currentSortDir = ref<'asc' | 'desc'>('desc')

  const setSortDir = (s: string) => {
    if (s === currentSort.value) {
      currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
    } else {
      currentSort.value = s
      currentSortDir.value = 'desc'
    }
  }

  const sortedPolls = computed(() => {
    return [...filteredPolls.value].sort((a, b) => {
      let modifier = currentSortDir.value === 'desc' ? -1 : 1
      if (currentSort.value === 'total_votes') {
        const aVotes = parseFloat(a.poll_stats?.total_voting_accounts_num) || 0
        const bVotes = parseFloat(b.poll_stats?.total_voting_accounts_num) || 0
        return (aVotes - bVotes) * modifier
      } else if (currentSort.value === 'end_time') {
        const aVal = a.end_time ?? ''
        const bVal = b.end_time ?? ''
        return aVal.localeCompare(bVal) * modifier
      } else {
        const aVal = (a as any)[currentSort.value] ?? ''
        const bVal = (b as any)[currentSort.value] ?? ''
        return aVal.localeCompare(bVal) * modifier
      }
    })
  })

  // MOUNT
  onMounted(() => {
    loadPolls()
  })
</script>

<style scoped>
  .placeholder {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
</style>
