<template>
  <Suspense>
    <div class="space-y-8">
      <PostData :poll-data="pollData" :community-title="communityTitle" :dark-mode="darkMode"></PostData>
      <PollData :poll-data="pollData" :dark-mode="darkMode"></PollData>
    </div>
  </Suspense>
</template>

<script setup lang="ts">
  import { fetchIndividualPoll } from '../api/pollApi'
  import { getCommunity } from '~/stats/api/hiveOpenStatsApi'
  import { useSettingsStore } from '~/stores/settings'

  const props = defineProps<{
    author: string
    permlink: string
  }>()

  const settingsStore = useSettingsStore()
  const darkMode = computed(() => settingsStore.settings.darkMode)

  const pollData: any = ref({})
  const communityTitle = ref('')

  const fetchCommunity = async () => {
    try {
      const parentPerm = pollData.value?.parent_permlink
      const communityResponse = await getCommunity(parentPerm)
      if (communityResponse && Object.keys(communityResponse).length) {
        return communityResponse[parentPerm]?.title || ''
      }
      return ''
    } catch (error) {
      console.error('Error while fetching community:', error)
    }
  }

  try {
    const data = await fetchIndividualPoll(props.author, props.permlink)
    pollData.value = data[0]
    communityTitle.value = await fetchCommunity()
  } catch (error) {
    console.log('Error while fetching poll data: ', error)
  }
</script>
